<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositorypath" value="packages" />
    </config>
    <packageSources>
        <clear />
        <add key="nuget-public" value="https://api.nuget.org/v3/index.json" />
        <add key="reason-one-feed" value="https://pkgs.dev.azure.com/reasonone/_packaging/reason-one-feed/nuget/v3/index.json" />
    </packageSources>
</configuration>