.app-main {
  z-index: 1000;
  *:last-child {
    margin-bottom: 0;
  }

  /* app-main default link focus style
  =========================================================================== */
  a {
    border-radius: 0.05rem;
    //color: map_get($app-colors, "blue");
    text-decoration: none;

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 4px;
      box-shadow: 0 0 0 2px map_get($app-colors, "neutral--100"),
        0 0 0 4px map_get($app-colors, "blue--700");
    }

    &:not(.btn):hover {
      text-decoration: underline;
    }
  }

  > section {
    position: relative;
  }
}

::selection {
  background: var(--orange--100);
  color: var(--neutral--900);
}

.app-main__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1550px;

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    padding: ($spacer * 2.5) ($spacer);
  }

  @include media-breakpoint-up(xl) {
    padding: $spacer * 2.5;
  }
}

.app-main__content-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 100%;
  // overflow-x: hidden;

  .app-main__content--2col & {
    @include media-breakpoint-up(lg) {
      min-width: 50%;
      max-width: 50%;
    }
  }
}

.app-main__component {
  @include global-component;
}
