@{
    ViewBag.IsHomePage = true;
}
<main class="app-main subpage template-home" id="main">
    <article class="subpage__no-rail">
        <vc:home-page-hero></vc:home-page-hero>
        <editable-area area-identifier="editableRegion" />
    </article>
</main>