@addTagHelper *, Kentico.Content.Web.Mvc

@using Kentico.PageBuilder.Web.Mvc
@using Njh.Mvc.Models.PageTemplateProperties;

@model ComponentViewModel<SubpageLeftNavTemplateProperties>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <page-builder-styles />
}

@{
    // Sets the page title to the Title field (default: Document name) of the current page
    var docName = Model.Page.DocumentName;
    var pageTitle = Model.Page.GetStringValue("Title", "");
    if (string.IsNullOrEmpty(pageTitle))
    {
        pageTitle = docName;
    }
    // TODO further logic for ViewBag?
    ViewBag.Title = pageTitle;
}

@if (Model.Properties.ShowTitle)
{
    <h1>@pageTitle</h1>
}

<div>
    <div>
        @* Renders editable areas using the editable-area Tag Helper *@
        <editable-area area-identifier="top" />
    </div>
    <div style="background-color: #eeeeee">
        <editable-area area-identifier="bottom" />
    </div>
</div>

@section Scripts {
    <page-builder-scripts />
}
