@import "./variables";
@import "./utilities";
@import "./functions";

/* Bootstrap Core Functions
=========================================================================== */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

/* Bootstrap Core Utilities
=========================================================================== */
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

/* Bootstrap Core Layout
=========================================================================== */
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/type";

/* Bootstrap Components
   Only uncomment what you need to reduce css payload size
=========================================================================== */
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";

// @import "../node_modules/accessible-autocomplete/src/autocomplete.css";

/*
=========================================================================== */
@import "./forms";
@import "./components/form-autocomplete";
@import "./elements/headings";
@import "./elements/links";
@import "./elements/buttons";

body {
  // Modal
  .verifying-modal {
    display: none;

    #verifying_blurb {
      background-color: map_get($app-colors, "purple--dark");
      border: 2px solid map_get($app-colors, "purple--pale");
      border-radius: 0.5rem;
      color: map_get($app-colors, "neutral--100");
      padding: 2rem;
    }
  }
}

.trbot-azure {
  align-items: stretch;
  color: map_get($app-colors, "neutral--850");
  display: flex;
  font-family: $font-family-sans-serif;
  justify-content: center;
  line-height: 1.9;
  padding: $spacer;
  position: relative;

  @include media-breakpoint-up(sm) {
    align-items: center;
  }

  @include media-breakpoint-up(lg) {
    align-items: stretch;
    justify-content: flex-start;
    padding: 0;
  }
}

.trbot-azure__inner {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: auto;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    min-height: 100vh;
    justify-content: flex-start;
  }

  *:last-child {
    margin-bottom: 0;
  }

  img[data-tenant-branding-background="true"] {
    height: 100%;
    left: 0;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  div[data-tenant-branding-background-color="true"] {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 0;
  }

  .trbot-azure__logo {
    width: 147px;
    margin-bottom: $spacer * 2.5;
  }

  .trbot-azure__panel {
    background-color: map_get($app-colors, "neutral--100");
    flex: 1;
    padding: $spacer * 2;
    position: relative;
    width: 100%;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      box-shadow: 0 0 15px 0 rgba(0,0,0, .5);
      max-width: 520px;
    }

    @include media-breakpoint-up(lg) {
      margin: 0;
      padding: ($spacer * 5) ($spacer * 3);
    }
  }

  .copyright {
    font-size: .8rem;
    margin-top: $spacer * 1.5;
  }

  #api {
    margin: 0 auto;

    .claims-provider-list-buttons {
      display: none;
    }

    .intro {
      margin-bottom: $spacer * 2;
    }

    .divider {
      display: none;
    }

    .helpLink {
      display: none !important;
    }

    .form-instructions {
      margin-bottom: $spacer !important;
    }

    label {
      @extend .form-label;
      margin-bottom: $spacer * .25;
    }

    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="text"] {
      @extend .form-control;
      margin-bottom: $spacer * 1.75;
    }

    input[type="password"] {
      padding-right: $spacer * 3.125;
    }

    select {
      @extend .form-select;
      margin-bottom: $spacer * 1.75;
    }

    .entry-item,
    .attrEntry {
      position: relative;
    }

    #attributeList {
      border-bottom: 1px solid map_get($app-colors, "neutral--800");
      margin-bottom: $spacer * 2;
      padding-bottom: $spacer * 2;

      ul {
        padding-left: 0;
        list-style: none;

        .VerificationControl {
          margin-bottom: $spacer * 1.5;

          .form-control {
            margin-bottom: $spacer;
          }
        }
      }
    }

    a#forgotPassword {
      font-size: 0.85em;
      padding-top: 3px;
    }

    a#createAccount {
      font-weight: bold;
      margin-left: $spacer * 0.75;
    }

    input#password {
      position: relative;
    }

    .password-label {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .password-toggle-controls {
      width: 44px;
      height: 34px;
      border: 2px solid transparent;
      position: absolute;
      right: $spacer * 0.75;
      bottom: 3px;
      &:focus-within {
        border: 2px solid map_get($app-colors, "neutral--900");
      }

      input[type="checkbox"] {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: 0;
        overflow: hidden;
        position: absolute;
        width: 1px;

        &:checked {
          + .password-toggler-label {
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='17' viewBox='0 0 25 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.8489 7.69965C22.4952 3.1072 17.8355 0 12.5 0C7.16447 0 2.50345 3.10938 0.151018 7.70009C0.0517306 7.89649 0 8.11348 0 8.33355C0 8.55362 0.0517306 8.77061 0.151018 8.96701C2.50475 13.5595 7.16447 16.6667 12.5 16.6667C17.8355 16.6667 22.4965 13.5573 24.8489 8.96658C24.9482 8.77018 25 8.55319 25 8.33312C25 8.11304 24.9482 7.89605 24.8489 7.69965ZM12.5 14.5833C11.2638 14.5833 10.0555 14.2168 9.02766 13.53C7.99985 12.8433 7.19878 11.8671 6.72573 10.7251C6.25268 9.58307 6.12891 8.3264 6.37007 7.11402C6.61123 5.90164 7.20648 4.78799 8.08056 3.91392C8.95464 3.03984 10.0683 2.44458 11.2807 2.20343C12.493 1.96227 13.7497 2.08604 14.8917 2.55909C16.0338 3.03213 17.0099 3.83321 17.6967 4.86102C18.3834 5.88883 18.75 7.0972 18.75 8.33333C18.7504 9.15421 18.589 9.96711 18.275 10.7256C17.9611 11.484 17.5007 12.1732 16.9203 12.7536C16.3398 13.3341 15.6507 13.7944 14.8922 14.1084C14.1338 14.4223 13.3208 14.5837 12.5 14.5833ZM12.5 4.16667C12.1281 4.17186 11.7586 4.22719 11.4015 4.33116C11.6958 4.73119 11.8371 5.22347 11.7996 5.71873C11.7621 6.21398 11.5484 6.6794 11.1972 7.0306C10.846 7.38179 10.3806 7.5955 9.88537 7.63297C9.39012 7.67043 8.89784 7.52917 8.49781 7.23481C8.27001 8.07404 8.31113 8.96357 8.61538 9.77821C8.91962 10.5928 9.47167 11.2916 10.1938 11.776C10.916 12.2605 11.7719 12.5063 12.641 12.4788C13.5102 12.4514 14.3489 12.152 15.039 11.623C15.7291 11.0939 16.236 10.3617 16.4882 9.52951C16.7404 8.69729 16.7253 7.80693 16.445 6.98376C16.1647 6.16058 15.6333 5.44602 14.9256 4.94067C14.2179 4.43532 13.3696 4.16462 12.5 4.16667Z' fill='%23838383'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .password-toggler-label {
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M12.5 18.125c-2.963 0-5.361-2.293-5.582-5.2L2.82 9.76c-.538.675-1.034 1.39-1.434 2.171a1.263 1.263 0 0 0 0 1.14C3.504 17.204 7.698 20 12.5 20a12.13 12.13 0 0 0 3.043-.409l-2.027-1.568a5.63 5.63 0 0 1-1.016.102Zm12.259 2.27-4.319-3.338a12.94 12.94 0 0 0 3.174-3.987 1.264 1.264 0 0 0 0-1.14C21.496 7.797 17.302 5 12.5 5c-2.011.003-3.99.509-5.755 1.473l-4.97-3.841a.625.625 0 0 0-.877.11l-.766.987a.625.625 0 0 0 .11.877l22.982 17.763a.624.624 0 0 0 .878-.11l.767-.987a.625.625 0 0 0-.11-.877Zm-7.177-5.547-1.535-1.187a3.699 3.699 0 0 0-2.825-4.85 3.702 3.702 0 0 0-1.71.087c.235.32.362.705.363 1.102a1.823 1.823 0 0 1-.06.39L8.939 8.169a5.559 5.559 0 0 1 3.56-1.293 5.622 5.622 0 0 1 5.626 5.625 5.49 5.49 0 0 1-.543 2.348Z' fill='%23838383'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h25v25H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 40px;
    }

    .buttons {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      button,
      a.btn {
        font-size: 0.9rem;
        margin-bottom: $spacer;
        padding: ($spacer * .75) $spacer !important;
        width: 100%;

        @include media-breakpoint-up(md) {
          font-size: 1rem;
          padding: ($spacer * .75) $spacer !important;
          width: calc(50% - 7px);
        }
      }

      // Primary Buttons
      #continue,
      #email_ver_but_verify,
      #next {
        @extend .btn;
        @extend .btn-primary;
      }

      // Secondary Buttons
      #cancel,
      #email_ver_but_resend,
      #email_ver_but_send,
      #newEmailAddress_ver_but_send,
      .changeClaims,
      .sendCode,
      .sendNewCode,
      .verifyCode {
        @extend .btn;
        @extend .btn-secondary;
      }

      #email_ver_but_send[aria-hidden=false],
      #newEmailAddress_ver_but_send[aria-hidden=false] {
        margin-bottom: $spacer * 2.5;
        min-width: 100%;
      }
    }

    .rememberMe {
      margin-bottom: $spacer;
    }

    .password-policy {
      background-color: map_get($app-colors, "orange--pale");
      padding: $spacer * 1.25;
      font-size: .85rem;
      line-height: 1.5;
      margin-bottom: $spacer * 0.625;

      p {
        margin-bottom: $spacer * 0.5;
      }

      ul {
        list-style-type: disc !important;
        padding-left: $spacer * 1.5 !important;
      }
    }

    // Error Banners
    #email_fail_retry[aria-hidden=false] {
      background-color: map_get($app-colors, "red--light");
      border-radius: 0.5rem;
      border: 2px solid map_get($app-colors, "red--error");
      color: map_get($app-colors, "red--error");
      display: block !important;
      margin-bottom: $spacer * 2;
      padding: $spacer ($spacer * 1.5);
    }

    // Warning Banners
    #emailVerificationControl_success_message.is-visible,
    .verificationInfoText[aria-hidden=false] {
      background-color: map_get($app-colors, "orange--pale");
      border-radius: 0.5rem;
      border: 2px solid map_get($app-colors, "orange");
      color: map_get($app-colors, "neutral--900");
      display: block !important;
      margin-bottom: $spacer * 2;
      padding: $spacer ($spacer * 1.5);
    }

    // Success Banners
    #email_success[aria-hidden=false] {
      background-color: map_get($app-colors, "green--pale");
      border-radius: 0.5rem;
      border: 2px solid map_get($app-colors, "green--dark");
      color: map_get($app-colors, "neutral--900");
      display: block !important;
      margin-bottom: $spacer * 2;
      padding: $spacer ($spacer * 1.5);
    }

    // Errors
    .error.itemLevel {
      @extend .invalid-feedback;
      margin-bottom: $spacer * .5;
      margin-top: 0;

      &.show {
        display: block;
      }
    }

    .trbot-azure__inner #api .was-validated input[type=email]:invalid,
    .trbot-azure__inner #api .was-validated input[type=password]:invalid,
    .trbot-azure__inner #api .was-validated input[type=tel]:invalid,
    .trbot-azure__inner #api .was-validated input[type=text]:invalid,
    .form-control.is-invalid,
    .trbot-azure__inner #api .error.itemLevel[aria-hidden=false]+.form-control,
    .trbot-azure__inner #api input.is-invalid[type=email],
    .trbot-azure__inner #api .error.itemLevel[aria-hidden=false]+input[type=email],
    .trbot-azure__inner #api input.is-invalid[type=password],
    .trbot-azure__inner #api input[type=password][aria-invalid=true],
    .trbot-azure__inner #api .error.itemLevel[aria-hidden=false]+input[type=password], .trbot-azure__inner #api input.is-invalid[type=tel],
    .trbot-azure__inner #api .error.itemLevel[aria-hidden=false]+input[type=tel], .trbot-azure__inner #api input.is-invalid[type=text],
    .trbot-azure__inner #api input[type=text][aria-invalid=true],
    .trbot-azure__inner #api .error.itemLevel[aria-hidden=false]+input[type=text],
    .is-invalid.autocomplete__hint, .trbot-azure__inner #api .error.itemLevel[aria-hidden=false]+.autocomplete__hint,
    .is-invalid.autocomplete__input,
    .trbot-azure__inner #api .error.itemLevel[aria-hidden=false]+.autocomplete__input,
    .autocomplete__wrapper--has-error .autocomplete__input {

    }

    .error.pageLevel {
      background-color: map_get($app-colors, "red--light");
      border-radius: $spacer * .5;
      border: 1px solid map_get($app-colors, "red--error");
      color: map_get($app-colors, "red--error");
      font-family: $font-family-sans-serif;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      margin: ($spacer * 1.5) 0;
      padding: $spacer ($spacer * 1.5);
    }

    // Style fields with errors
    // This has to be done based on on existence of a preceding .error.itemLevel element due to inconsistent handling of input field attributes
    .error.itemLevel[aria-hidden=false] + .form-control {
      @extend .is-invalid;
    }

    // Adjust password visibility toggler when error icon is present
    // This has to be done based on on existence of a preceding .error.itemLevel element due to inconsistent handling of input field attributes
    .error.itemLevel[aria-hidden=false] + .form-control + .password-toggle-controls {
      right: $spacer * 1.5;
    }




    // Existing Account Login Form
    form#localAccountForm {

    }

    // Create New Account Form
    form#attributeVerification {

    }


  } // #api

} // .trbot-azure__inner
