<!-- NJHK13-399 - ACCORDION -->

<section class="accordion" data-hook="accordion">
  <div class="accordion__item" data-hook="accordion__item">
    <header class="accordion__header">
      <button
        id="accordionHeader1"
        class="accordion__trigger"
        aria-controls="accordionContent1"
        aria-expanded="false"
        data-hook="accordion__trigger">
        Accordion 1
      </button>
    </header>

    <div
      id="accordionContent1"
      class="accordion__panel"
      role="region"
      aria-hidden="true"
      aria-labelledby="accordionHeader1"
      data-hook="accordion__panel">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ex
        exercitationem consequatur ratione veniam, ducimus voluptates beatae
        similique magnam aperiam dignissimos provident sunt ipsam delectus
        laboriosam libero quos quod accusamus?
      </p>
    </div>
  </div>


  <div class="accordion__item" data-hook="accordion__item">
    <header class="accordion__header">
      <button
        id="accordionHeader2"
        class="accordion__trigger"
        aria-controls="accordionContent2"
        aria-expanded="false"
        data-hook="accordion__trigger">
        Accordion 2
      </button>
    </header>

    <div
      id="accordionContent2"
      class="accordion__panel"
      role="region"
      aria-hidden="true"
      aria-labelledby="accordionHeader2"
      data-hook="accordion__panel">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ex
        exercitationem consequatur ratione veniam, ducimus voluptates beatae
        similique magnam aperiam dignissimos provident sunt ipsam delectus
        laboriosam libero quos quod accusamus?
      </p>
    </div>
  </div>


  <div class="accordion__item" data-hook="accordion__item">
    <header class="accordion__header">
      <button
        id="accordionHeader3"
        class="accordion__trigger"
        aria-controls="accordionContent3"
        aria-expanded="false"
        data-hook="accordion__trigger">
        Accordion 3
      </button>
    </header>

    <div
      id="accordionContent3"
      class="accordion__panel"
      role="region"
      aria-hidden="true"
      aria-labelledby="accordionHeader3"
      data-hook="accordion__panel">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ex
        exercitationem consequatur ratione veniam, ducimus voluptates beatae
        similique magnam aperiam dignissimos provident sunt ipsam delectus
        laboriosam libero quos quod accusamus?
      </p>
    </div>
  </div>
</section>
