<div class="widget-zone has-margin">
  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        
        <!-- NJHK13-322 - Additional Links-->
        <div class="additional-links">
          <h2 class="like-h3">
            <img
              class="app-icon me-2"
              role="presentation"
              alt=""
              src="/images/additional-links.svg" />

            You may also be interested in...
          </h2>
          <hr class="hr-green--500" />
          <ul role="list" class="list-unstyled">
            <li><a href="#">Download Testfacts</a></li>
            <li><a href="#">Treatment & Programs</a></li>
            <li><a href="#">Doctors & Departments</a></li>
            <li><a href="#">Clinical Trials</a></li>
            <li><a href="#">National Jewish Health Visitor Policy</a></li>
          </ul>
        </div>

        
      </div>
    </div>
  </div>
</div>
