<!-- NJHK13-290 - BREADCRUMBS -->
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">A really long title</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Another really long title</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Yet another really long title</a>
      </li>
      <!-- Current Page -->
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </div>
</nav>
