<div class="widget-zone has-margin">
  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        
        <!-- NJHK13-376 - Patient Classes Listing-->
        <section class="class-listings">

          <div class="class-listings__day">
            <h2>Monday</h2>
            <hr />
            <div class="class-listings__class">
              <h3><a href="#">Stress Management and Relaxation</a></h3>
              <p class="class-listings__time"><strong>2:00pm - 3:00pm</strong></p>
              <p>
                You will learn to identify how muscle tension and mental stress
                disrupt the breathing process. You will learn various techniques
                to assist in the relaxation process. These include diaphragmatic
                breathing, progressive muscle relaxation, visualization skills,
                and the therapeutic use of hobbies.
              </p>
            </div>

            <div class="class-listings__class">
              <h3><a href="#">Stress Management and Relaxation</a></h3>
              <p class="class-listings__time"><strong>2:00pm - 3:00pm</strong></p>
              <p>
                You will learn to identify how muscle tension and mental stress
                disrupt the breathing process. You will learn various techniques
                to assist in the relaxation process. These include diaphragmatic
                breathing, progressive muscle relaxation, visualization skills,
                and the therapeutic use of hobbies.
              </p>
            </div>
          </div>

          <div class="class-listings__day">
            <h2>Tuesday</h2>
            <hr />
            <div class="class-listings__class">
              <h3><a href="#">Stress Management and Relaxation</a></h3>
              <p class="class-listings__time"><strong>2:00pm - 3:00pm</strong></p>
              <p>
                You will learn to identify how muscle tension and mental stress
                disrupt the breathing process. You will learn various techniques
                to assist in the relaxation process. These include diaphragmatic
                breathing, progressive muscle relaxation, visualization skills,
                and the therapeutic use of hobbies.
              </p>
            </div>

            <div class="class-listings__class">
              <h3><a href="#">Stress Management and Relaxation</a></h3>
              <p class="class-listings__time"><strong>2:00pm - 3:00pm</strong></p>
              <p>
                You will learn to identify how muscle tension and mental stress
                disrupt the breathing process. You will learn various techniques
                to assist in the relaxation process. These include diaphragmatic
                breathing, progressive muscle relaxation, visualization skills,
                and the therapeutic use of hobbies.
              </p>
            </div>
          </div>

          <div class="class-listings__day">
            <h2>Wednesday</h2>
            <hr />
            <div class="class-listings__class">
              <h3><a href="#">Stress Management and Relaxation</a></h3>
              <p class="class-listings__time"><strong>2:00pm - 3:00pm</strong></p>
              <p>
                You will learn to identify how muscle tension and mental stress
                disrupt the breathing process. You will learn various techniques
                to assist in the relaxation process. These include diaphragmatic
                breathing, progressive muscle relaxation, visualization skills,
                and the therapeutic use of hobbies.
              </p>
            </div>

            <div class="class-listings__class">
              <h3><a href="#">Stress Management and Relaxation</a></h3>
              <p class="class-listings__time"><strong>2:00pm - 3:00pm</strong></p>
              <p>
                You will learn to identify how muscle tension and mental stress
                disrupt the breathing process. You will learn various techniques
                to assist in the relaxation process. These include diaphragmatic
                breathing, progressive muscle relaxation, visualization skills,
                and the therapeutic use of hobbies.
              </p>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>
