<section class="subpage__content" id="subpageContent">
  <p class="reviewer-note">
    <em> Reviewed by <a href="#">Mark Boguniewicz, MD</a> (July 01, 2015) </em>
  </p>

  <div class="page-blurb">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo culpa
      laudantium doloremque quae architecto rerum labore aperiam accusantium
      delectus hic voluptatibus doloribus veniam, vitae corrupti. Voluptate
      atque dolor in deleniti!
    </p>
  </div>

  <!-- Page Content-->
  <h2>What is Eczema?</h2>
  <p>
    Eczema (Atopic dermatitis, or AD for short) is a common chronic skin
    disease. It is also called atopic eczema. Atopic is a term used to describe
    allergic conditions such as asthma and hay fever. Both dermatitis and eczema
    mean inflammation of the skin.
  </p>

  <p>
    People with eczema tend to have dry, itchy and easily irritated skin. They
    may have times when their skin is clear and other times when they have a
    rash.
  </p>

  <p>
    Atopic dermatitis usually begins and ends during childhood, but some people
    continue to have the disease into adulthood. If you ever had atopic
    dermatitis, you may have trouble with one or more of these:
  </p>

  <ul>
    <li>Dry, sensitive skin</li>
    <li>Hand dermatitis</li>
    <li>Skin infections</li>
  </ul>

  <p>
    Eczema can have a significant impact on the quality of life of individuals
    and their families. The itching can interfere with daily activities and make
    it hard to sleep. Scratching the rash can irritate the skin, making it itch
    even more, which, in turn, increases the tendency to scratch. This
    itch-scratch cycle can leave the skin open to infections.ndus ea nulla
    consectetur aut voluptate quasi sed illum!
  </p>

  <h2>Do you have Eczema (Atopic Dermatitis)?</h2>
  <p>
    If you answer yes to any of these questions, talk with your health care
    provider about eczema (atopic dermatitis.) You will be asked questions about
    your health and your skin. Be sure to tell your health care provider if you
    or anyone in your family has had a similar rash, asthma or allergies.
  </p>
  <ul>
    <li>Do you have dry skin with an itchy, red or scaly rash?</li>
    <li>
      Do you itch or have a rash in the creases of your wrists, elbows or knees?
    </li>
    <li>Do you notice thick skin where there has been a past rash?</li>
  </ul>

  <!-- Programs and Services-->
  <section class="template-condition__section">
    <h2 class="like-h3 border-orange--500">
      <img src="../images/programs.png" role="presentation" /> Programs and
      Services
    </h2>
    <ul>
      <li><a href="#">Allergy Treatment Programs (Adult)</a></li>
      <li><a href="#">Allergy Treatment Programs (Pediatric)</a></li>
      <li><a href="#">Day Program (Pediatric)</a></li>
      <li>
        <a href="#">Division of Allergy and Clinical Immunology (Adult)</a>
      </li>
      <li>
        <a href="#">Division of Pediatric Allergy & Clinical Immunology</a>
      </li>
      <li><a href="#">Eczema Program (Pediatric)</a></li>
      <li>
        <a href="#">National Jewish Health for Kids / Pediatric Programs</a>
      </li>
      <li><a href="#">Outpatient Clinic (Pediatric)</a></li>
    </ul>
  </section>

  <!-- Clinical Trials-->
  <section class="template-condition__section">
    <h2 class="like-h3 border-orange--500">
      <img src="../images/clinical-trials.svg" role="presentation" /> Clinical
      Trials
    </h2>
    <p>
      For more than 100 years, National Jewish Health has been committed to
      finding new treatments and cures for diseases. Search our clinical trials.
    </p>
  </section>
</section>
