<section class="">  <!-- 1 Column - Contains CTA Banner Component -->
  <div class="app-main__content  app-main__content--1col">
    <div class="app-main__content-column">

     <!-- Begin BOTWR-74 CTA Banner Component -->
     <div class="cta-banner t-green">
        <div class="cta-banner__content">
          <h2>Learn About Membership Benefits</h2>
          <p>Tell readers that members get more! List a couple short perks and direct them to the Membership hub page</p>
          <div class="cta-banner__cta-buttons">
            <!-- If green or yellow theme is selected the cta button should have class="btn btn-primary". If theme is blue, button has class="btn btn-secondary" -->
            <a href="#" class="btn btn-primary">About Memberships</a>
          </div>
        </div>

        <img class="cta-banner__image" src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">

      </div>
      <!-- End BOTWR-74 CTA Banner Component -->

    </div>
  </div>
</section>
