<section id="table" class="app-main__component">
  <h2>Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Labeled</th>
        <th>Knocking</th>
        <th>Scent</th>
        <th>Holidays</th>
        <th>Nest</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Afar</td>
        <td>talks</td>
        <td>divided</td>
        <td>lodgings</td>
        <td>carven</td>
        <td>deeper</td>
      </tr>
      <tr>
        <td>Joke</td>
        <td>tact</td>
        <td>broil</td>
        <td>crownless</td>
        <td>unleash</td>
        <td>tapestry</td>
      </tr>
      <tr>
        <td>Trammel</td>
        <td>he</td>
        <td>hammer</td>
        <td>storeroom</td>
        <td>noticed</td>
        <td>tried</td>
      </tr>
      <tr>
        <td>Cheekbones</td>
        <td>parapet</td>
        <td>walked</td>
        <td>delivery</td>
        <td>scrumptious</td>
        <td>peak</td>
      </tr>
      <tr>
        <td>Forgiven</td>
        <td>nearly</td>
        <td>foes</td>
        <td>wing</td>
        <td>naked</td>
        <td>spawning</td>
      </tr>
      <tr>
        <td>Accounted</td>
        <td>listening</td>
        <td>reek</td>
        <td>new</td>
        <td>wars</td>
        <td>left</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>passed</td>
        <td>humble</td>
        <td>spared</td>
        <td>hard-won</td>
        <td>point</td>
        <td>creamy</td>
      </tr>
    </tfoot>
  </table>
</section>
