<!-- NJHK13-346 -->

<!-- Lars this is just for formatting testing. -->
<!-- this is pulled directly from https://react-ts-ezekxg.stackblitz.io/ for faster reference.-->
<section id="colors" class="colors">
  <style>
    .color {
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
    }
    .color-group {
      margin-bottom: 2rem;
    }
  </style>
  <div>
    <h2>Recommended Colors</h2>
    <p>
      A blend of new and current colors. Will give enough variety to cover 99%
      of use cases
    </p>
    <div class="color-group">
      <h3>Neutral - 7 colors</h3>
      <div
        class="color"
        style="background-color: rgb(25, 25, 25); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>neutral--900</strong>
        </h4>
        <p>body text, general ui</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #191919<br />RGB: 25, 25, 25</p>
            <p>Text when on bg: #ffffff<br />Contrast: 17.58</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(48, 48, 48); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>neutral--700</strong>
        </h4>
        <p>placeholder text</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #303030<br />RGB: 48, 48, 48</p>
            <p>Text when on bg: #ffffff<br />Contrast: 13.2</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(94, 94, 94); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>neutral--500</strong>
        </h4>
        <p>general ui</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #5E5E5E<br />RGB: 94, 94, 94</p>
            <p>Text when on bg: #ffffff<br />Contrast: 6.48</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(164, 167, 169); color: rgb(0, 0, 0)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>neutral--400</strong>
        </h4>
        <p>general ui</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #a4a7a9<br />RGB: 164, 167, 169</p>
            <p>Text when on bg: #000000<br />Contrast: 8.68</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(218, 221, 223); color: rgb(0, 0, 0)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>neutral--300</strong>
        </h4>
        <p>input borders, background</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #dadddf<br />RGB: 218, 221, 223</p>
            <p>Text when on bg: #000000<br />Contrast: 15.39</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(243, 243, 243); color: rgb(0, 0, 0)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>neutral--200</strong>
        </h4>
        <p>general ui</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #f3f3f3<br />RGB: 243, 243, 243</p>
            <p>Text when on bg: #000000<br />Contrast: 18.93</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>neutral--100</strong>
        </h4>
        <p>text, background, buttons, general ui</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #FFFFFF<br />RGB: 255, 255, 255</p>
            <p>Text when on bg: #000000<br />Contrast: 21</p>
          </div>
        </div>
      </div>
    </div>
    <div class="color-group">
      <h3>Blue - 5 colors</h3>
      <p>Primary brand color.</p>
      <div
        class="color"
        style="background-color: rgb(0, 38, 63); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>blue--900</strong>
        </h4>
        <p>background</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #00263F<br />RGB: 0, 38, 63</p>
            <p>Text when on bg: #ffffff<br />Contrast: 15.57</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(0, 51, 153); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>blue--800</strong>
        </h4>
        <p>background, links</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #003399<br />RGB: 0, 51, 153</p>
            <p>Text when on bg: #ffffff<br />Contrast: 10.86</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(3, 85, 158); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>blue--700</strong>
        </h4>
        <p>menu, footer, button</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #03559E<br />RGB: 3, 85, 158</p>
            <p>Text when on bg: #ffffff<br />Contrast: 7.51</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(0, 124, 194); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>blue--600</strong>
        </h4>
        <p>background, heading, icons</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #007CC2<br />RGB: 0, 124, 194</p>
            <p>Text when on bg: #ffffff<br />Contrast: 4.5</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(237, 244, 250); color: rgb(0, 0, 0)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>blue--100</strong>
        </h4>
        <p>breadcrumb background, background</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #edf4fa<br />RGB: 237, 244, 250</p>
            <p>Text when on bg: #000000<br />Contrast: 18.92</p>
          </div>
        </div>
      </div>
    </div>
    <div class="color-group">
      <h3>Orange - 3 colors</h3>
      <p>Secondary brand color.</p>
      <div
        class="color"
        style="background-color: rgb(196, 85, 0); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>orange--900</strong>
        </h4>
        <p>buttons, backgrounds, alert</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #C45500<br />RGB: 196, 85, 0</p>
            <p>Text when on bg: #ffffff<br />Contrast: 4.52</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(246, 138, 51); color: rgb(0, 0, 0)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>orange--500</strong>
        </h4>
        <p>menu hover, borders</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #f68a33<br />RGB: 246, 138, 51</p>
            <p>Text when on bg: #000000<br />Contrast: 8.6</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(253, 225, 193); color: rgb(0, 0, 0)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>orange--100</strong>
        </h4>
        <p>background</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #fde1c1<br />RGB: 253, 225, 193</p>
            <p>Text when on bg: #000000<br />Contrast: 16.72</p>
          </div>
        </div>
      </div>
    </div>
    <div class="color-group">
      <h3>Purple - 2 colors</h3>
      <p>Tertiary brand color.</p>
      <div
        class="color"
        style="background-color: rgb(119, 48, 100); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>purple--500</strong>
        </h4>
        <p>background, button</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #773064<br />RGB: 119, 48, 100</p>
            <p>Text when on bg: #ffffff<br />Contrast: 8.78</p>
          </div>
        </div>
      </div>
      <div
        class="color"
        style="background-color: rgb(215, 191, 206); color: rgb(0, 0, 0)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>purple--100</strong>
        </h4>
        <p>background</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #d7bfce<br />RGB: 215, 191, 206</p>
            <p>Text when on bg: #000000<br />Contrast: 12.23</p>
          </div>
        </div>
      </div>
    </div>
    <div class="color-group">
      <h3>Green - 1 color</h3>
      <div
        class="color"
        style="background-color: rgb(3, 128, 56); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>green--500</strong>
        </h4>
        <p>Only to be used as success states, if necessary</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #038038<br />RGB: 3, 128, 56</p>
            <p>Text when on bg: #ffffff<br />Contrast: 5.06</p>
          </div>
        </div>
      </div>
    </div>
    <div class="color-group">
      <h3>Red - 1 color</h3>
      <div
        class="color"
        style="background-color: rgb(167, 29, 27); color: rgb(255, 255, 255)">
        <h4 style="margin: 0.5rem 0px 0px; font-size: 1.5rem">
          <strong>red--500</strong>
        </h4>
        <p>validation error text, floating call to action button</p>
        <div style="display: flex; gap: 1rem">
          <div style="flex-basis: 50%">
            <p>Hex: #a71d1b<br />RGB: 167, 29, 27</p>
            <p>Text when on bg: #ffffff<br />Contrast: 7.41</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
