<!-- NJHK13-346 -->

<!-- Lars this is just for formatting testing. -->

<section id="backgrounds" class="backgrounds mb-5">
  <h2>Approved Background Colors</h2>
  <p>Classes use the following naming convention:</p>
  <pre>.bg-{color}--{shade}</pre>

  <div class="p-5 bg bg-neutral--300">
    <h3>.bg-neutral--300</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-blue--700">Button One</button>
    <button class="btn btn-blue--700-outline">Button Two</button>
  </div>

  <div class="p-5 bg bg-neutral--100">
    <h3>.bg-neutral--100</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-neutral--900">Button One</button>
    <button class="btn btn-neutral--900-outline">Button Two</button>
  </div>

  <div class="p-5 bg bg-blue--900">
    <h3>.bg-blue--900</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-neutral--100">Button One</button>
    <button class="btn btn-neutral--100-outline">Button Two</button>
  </div>

  <div class="p-5 bg bg-blue--800">
    <h3>.bg-blue--800</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-neutral--100">Button One</button>
    <button class="btn btn-neutral--100-outline">Button Two</button>
  </div>

  <div class="p-5 bg bg-blue--600">
    <h3>.bg-blue--600</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <a
      href="https://www.google.com"
      rel="noopener noreferrer"
      target="_blank"
      class="is-external-link btn btn-orange--900">
      Button One
    </a>
    <button class="btn btn-neutral--100-outline">Button Two</button>
  </div>
  <div class="p-5 bg bg-blue--100">
    <h3>.bg-blue--100</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-purple--500">Button One</button>
    <button class="btn btn-purple--500-outline">Button Two</button>
  </div>

  <div class="p-5 bg bg-orange--900">
    <h3>.bg-orange--900</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-neutral--100">Button One</button>
    <button class="btn btn-neutral--100-outline">Button Two</button>
  </div>

  <div class="p-5 bg bg-orange--500">
    <h3>.bg-orange--500</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-neutral--900">Button One</button>
    <button class="btn btn-neutral--900-outline">Button Two</button>
  </div>
  <div class="p-5 bg bg-orange--100">
    <h3>.bg-orange--100</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-blue--700">Button One</button>
    <button class="btn btn-blue--700-outline">Button Two</button>
  </div>
  <div class="p-5 bg bg-purple--500">
    <h3>.bg-purple--500</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a
        href="https://www.google.com"
        rel="noopener noreferrer"
        target="_blank"
        class="is-external-link">
        Sint laborum sit
      </a>
      laborum minim tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-neutral--100">Button One</button>
    <button class="btn btn-neutral--100-outline">Button Two</button>
  </div>
  <div class="p-5 bg bg-purple--100">
    <h3>.bg-purple--100</h3>
    <p>
      Dolore do sint est ex esse cupidatat laboris est nisi duis do ullamco
      proident.
      <a href="/" class="is-external-link">Sint laborum sit</a> laborum minim
      tempor eu incididunt nostrud duis id.
      <strong>Excepteur anim consectetur cupidatat</strong> cillum reprehenderit
      ex laboris sunt quis enim mollit.
      <em>Voluptate non adipisicing incididunt nisi.</em>
    </p>
    <button class="btn btn-blue--700">Button One</button>
    <button class="btn btn-blue--700-outline">Button Two</button>
  </div>
</section>
