<!-- NJHK13-346 -->

<!-- Lars this is just for formatting testing. -->
<section id="buttons" class="buttons mb-5 container">
  <h2>Button Variants</h2>
  <p>Button classes use the following naming convention:</p>
  <h3>All buttons</h3>
  <pre>.btn</pre>
  <h3>Standard (filled) buttons</h3>
  <pre>.btn-{color}--{shade}</pre>
  <h3>Outline (ghost) buttons</h3>
  <pre>.btn-{color}--{shade}-outline</pre>

  <div class="d-flex flex-column">
    <div class="p-3">
      <button class="btn btn-neutral--900">.btn-neutral--900</button>
      <button class="btn btn-neutral--900-outline">
        .btn-neutral--900-outline
      </button>
    </div>
    <div class="p-3 bg-blue--900">
      <button class="btn btn-neutral--300">.btn-neutral--300</button>
      <button class="btn btn-neutral--300-outline">
        .btn-neutral--300-outline
      </button>
    </div>
    <div class="p-3 bg-blue--600">
      <button class="btn btn-neutral--100">.btn-neutral--100</button>
      <button class="btn btn-neutral--100-outline">
        .btn-neutral--100-outline
      </button>
    </div>
    <div class="p-3">
      <button class="btn btn-blue--700">.btn-blue--700</button>
      <button class="btn btn-blue--700-outline">.btn-blue--70-outline</button>
    </div>
    <div class="p-3">
      <button class="btn btn-orange--900">.btn-orange--900</button>
      <button class="btn btn-orange--900-outline">
        .btn-orange--90-outline
      </button>
    </div>
    <div class="p-3">
      <button class="btn btn-purple--500">.btn-purple--500</button>
      <button class="btn btn-purple--500-outline">
        .btn-purple--500-outline
      </button>
    </div>
    <h3>Sizes</h3>
    <pre>.btn-lg | .btn-default | .btn-sm </pre>
    <small>Note: .btn-default is not required.</small>
    <div class="p-3">
      <button class="btn btn-lg btn-neutral--900">.btn-lg</button>
      <button class="btn btn-default btn-neutral--900">.btn-default</button>
      <button class="btn btn-sm btn-neutral--900">.btn-sm</button>
    </div>

    <div class="p-3">
      <h3>Disabled</h3>
      <button class="btn btn-purple--500" disabled>.btn-purple--500</button>
      <button class="btn btn-purple--500-outline" disabled>
        .btn-purple--500-outline
      </button>
    </div>

    <div class="p-3">
      <h3>Round Edges</h3>
      <button class="btn btn-round btn-purple--500">.btn-round</button>
      <button class="btn btn-round btn-purple--500-outline">.btn-round</button>
    </div>
  </div>
</section>
