<!-- NJHK13-424 - IMAGE SLIDER --->

<section class="image-slider" data-hook="imageSlider" data-autoplay="false">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <figure class="figure">
        <img
          src="https://www.nationaljewish.org/getattachment/conditions/Health-Information/Living-with-Chronic-Lung-Disease/Maintaining-Mental-Wellness-with-Chronic-Lung-Disease/Slider/What-is-sarcoidosis/CLD-1.jpg.aspx?lang=en-US&width=888&height=507&ext=.jpg"
          class="figure-img"
          loading="lazy"
          alt="This is a cool image from Picsum what will it be?"
          width="888"
          height="507" />

        <figcaption class="figure-caption">
          <!-- Rich text can go here -->
          <h2>What are some of the warning signs of depression?</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusantium laboriosam sapiente debitis nulla reiciendis nihil
            tempore qui impedit consequuntur assumenda id ipsum ipsam
            praesentium nostrum, veritatis labore. Eius, temporibus omnis.
          </p>
        </figcaption>
      </figure>
    </div>

    <div class="swiper-slide">
      <figure class="figure">
        <img
          src="https://www.nationaljewish.org/getattachment/conditions/Health-Information/Living-with-Chronic-Lung-Disease/Maintaining-Mental-Wellness-with-Chronic-Lung-Disease/Slider/What-is-sarcoidosis/CLD-1.jpg.aspx?lang=en-US&width=888&height=507&ext=.jpg"
          class="figure-img"
          loading="lazy"
          alt="This is a cool image from Picsum what will it be?"
          width="888"
          height="507" />

        <figcaption class="figure-caption">
          <h2>What are some of the warning signs of depression?</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusantium laboriosam sapiente debitis nulla reiciendis nihil
            tempore qui impedit consequuntur assumenda id ipsum ipsam
            praesentium nostrum, veritatis labore. Eius, temporibus omnis.
          </p>
        </figcaption>
      </figure>
    </div>

    <div class="swiper-slide">
      <figure class="figure">
        <img
          src="https://www.nationaljewish.org/getattachment/conditions/Health-Information/Living-with-Chronic-Lung-Disease/Maintaining-Mental-Wellness-with-Chronic-Lung-Disease/Slider/What-is-sarcoidosis/CLD-1.jpg.aspx?lang=en-US&width=888&height=507&ext=.jpg"
          class="figure-img"
          loading="lazy"
          alt="This is a cool image from Picsum what will it be?"
          width="888"
          height="507" />

        <figcaption class="figure-caption">
          <h2>What are some of the warning signs of depression?</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusantium laboriosam sapiente debitis nulla reiciendis nihil
            tempore qui impedit consequuntur assumenda id ipsum ipsam
            praesentium nostrum, veritatis labore. Eius, temporibus omnis.
          </p>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Only load this if autoplay is configured-->
  <button class="image-slider__pause" data-hook="imageSlider__pause">
    <span class="visually-hidden">Pause</span>
  </button>
</section>
