<section class="subpage__content" id="subpageContent">
  <div class="share-story">
    <a
      href="mailto:?Subject=SUBJECT&amp;Body=Here is the story you requested: PAGE_URL"
      class="btn btn-blue--700-outline btn-sm">
      <svg
        class="app-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path
          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
      </svg>
      Email Story
    </a>

    <a
      href="/Print?printpath=PRINT_PATH&amp;printTemplate=PRINT_TEMPLATE"
      target="_blank"
      class="btn btn-blue--700-outline btn-sm">
      <svg
        class="app-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path
          d="M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zm-16-88c-13.3 0-24-10.7-24-24s10.7-24 24-24s24 10.7 24 24s-10.7 24-24 24z" />
      </svg>
      <span>Print Story</span>
    </a>
  </div>

  <h1>
    Marty Burger of Silverstein Properties, Inc. Honored at 51st Real Estate and
    Construction Industries Dinner Dance
  </h1>
  <p class="like-h3">Event Raises $2.4 Million for National Jewish Health</p>
  <hr class="hr-orange--500" />
  <p><time datetime="2018-12-19">December 19, 2019</time></p>
  <p>
    NEW YORK — More than 800 individuals attended the 51st annual ‘A Winter’s
    Evening’ Dinner Dance, December 14, 2019, at the Grand Hyatt New York,
    raising more than $2.4 million for National Jewish Health, the nation’s
    number one respiratory hospital. The black-tie gala for members of New
    York’s real estate and construction industries honored Marty Burger, CEO of
    Silverstein Properties, Inc., with the National Jewish Heath Humanitarian
    Award.
  </p>
  <figure class="figure">
    <img
      src="https://www.nationaljewish.org/getattachment/8b52612b-cb14-4450-a225-ed1b365c1629/Real-Estate.jpg.aspx?lang=en-US"
      class="figure-img"
      loading="lazy"
      alt="This is a cool image from Picsum what will it be?"
      width="888"
      height="507" />
    <figcaption>
      Stephen Siegel, co-chair national trustees ; Michael Salem, MD, President
      & CEO; Wendy Siegel, co-chair national trustees; Larry Silverstein,
      honorary chair Winter’s Eve Dinner Dance; Marty Burger, honoree Winter’s
      Eve Dinner Dance.
    </figcaption>
  </figure>
  <p>
    “The prestigious National Jewish Health Humanitarian Award recognizes
    individuals who have made significant civic and charitable contributions and
    are leaders in their communities and industry,” said Michael Salem, MD,
    president and CEO of National Jewish Health. “Marty is generous with his
    time and talent, and we appreciate all that he has contributed to National
    Jewish Health. We are privileged to honor him with this award.”
  </p>
  <p>
    Funds raised at the event will support the newly-established Burger Family
    Fund for Advanced Diagnostics and Therapeutics for Respiratory and Related
    Diseases, backing research, technical and clinical expertise to ensure the
    best possible outcomes for patients. Respiratory diseases are a leading
    cause of death in the world.
  </p>
  <p>
    “All of us in business know that in order to solve a problem, you have to
    first know what the problem is,” said Burger. “The ability to diagnose the
    problems and improve the health of those that had lost hope for a solution
    is an amazing thing. National Jewish Health has become known as the
    “Solution Shop” for the most challenging conditions in the country.”
  </p>
  <p>
    Those honoring Burger and supporting National Jewish Health included titans
    of the New York real estate and construction industries, including Honorary
    Chair Larry Silverstein; Dinner Chairs Robert J. Ivanhoe of Greenberg
    Traurig, LLP; Jonathan L. Mechanic of Fried, Frank, Harris, Shriver &amp;
    Jacobson, LLP; and Stephen B. Siegel of CBRE. The event also included the
    induction of Lloyd Goldman, president of BLDG Management Co., into the
    National Jewish Health Council of National Trustees.
  </p>
  <p>
    Wendy Siegel served as executive chair for the event and organized a
    beautiful Mardi Gras themed evening of entertainment and dining, including
    decorations in green, purple and gold; costumed dancers; elaborate
    chandeliers and feathered centerpieces. Siegel has planned and successfully
    executed the event for the past 26 years.
  </p>
  <p>
    Alison and Marty Burger, Feil Family Foundation and The Silverstein Family
    were President’s Circle sponsors of the event. Honoree’s Circle sponsors
    were CBRE; Glenwood; Victoria and Lloyd Goldman and Northwood Investors,
    LLC. and Founder sponsors were 5 Penn Plaza LLC; Blackstone|Real Estate;
    Boston Properties; Michele and Marty Cohen; Crown Acquisitions, Inc.;
    Cushman &amp; Wakefield; Fried, Frank, Harris, Shriver &amp; Jacobson LLP;
    Jon and Mindy Gray Family Foundation; Greenberg Traurig, LLP; Jones Lang
    LaSalle; The Kuhn Family; Kushner Companies; The Murnick Family; Newmark,
    Knight, Frank; Bruce Ratner and Linda Johnson; Wendy and Stephen B. Siegel;
    Skadden, Arps, Slate, Meagher &amp; Flom LLP; SL Green and Wells Fargo.
  </p>
  <p>
    For more information about ‘A Winter’s Evening’ Real Estate and Construction
    Industries Dinner Dance and other events benefiting National Jewish Health,
    please contact Claudia Shapiro at&nbsp;<a
      href="mailto:FinkelsteinD@njhealth.org"
      >ShapiroC@njhealth.org</a
    >, 212.297.0857.
  </p>

  <div class="resources-contacts">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="like-h3">Media Resources</h2>
        <hr class="hr-orange--500" />
        <p>
          We have many faculty members, from bench scientists to clinicians, who
          can speak on almost any aspect of respiratory, immune, cardiac and
          gastrointestinal disease as well as lung cancer and basic immunology.
        </p>
        <ul role="list">
          <li><a href="/about/focus/stats">Accomplishments &amp; Awards</a></li>
          <li>
            <a href="/about/focus/Annual-Report-Archive">Annual Report</a>
          </li>
          <li><a href="/about/financial-report">Financials</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-6">
        <h2 class="like-h3">Media Contacts</h2>
        <hr class="hr-orange--500" />
        <p>
          Our team is available to arrange interviews, discuss events and story
          ideas.
        </p>
        <ul role="list" class="list-unstyled">
          <li>
            <strong class="name">Adam Dormuth</strong><br />
            <a href="tel:3033981002">303.398.1002</a> office
            <br />
            <a href="tel:970.222.5034"> 970.222.5034</a> mobile
            <br />
            <a href="mailto:dormutha@njhealth.org">dormutha@njhealth.org</a>
          </li>

          <li>
            <strong class="name">Jessica Berry</strong><br />
            <a href="tel:3033981082">303.398.1082</a> office
            <br />
            <a href="tel:3038079491">303.807.9491</a> mobile
            <br />
            <a href="mailto:berryj@njhealth.org">berryj@njhealth.org</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
