<section class="subpage__content" id="subpageContent">
  <!-- Optional Sections -->
  <div class="page-blurb">
    <img alt="Placeholder image" src="https://picsum.photos/400/300" />
    <p>
      Help manage your child's allergies and get back your peace of mind with
      help from the leading respiratory hospital in the nation and our team of
      respiratory specialists. From allergy-induced asthma to rhinitis to food
      allergies, our pediatric specialists can help by creating an
      individualized treatment plan based on your child’s specific needs. We
      also offer a Pediatric Outpatient Clinic and a Pediatric Day Program to
      give our patients and their families the optimal level of support in
      managing allergies.
    </p>
  </div>

  <div class="rich-text">
    <div class="container">
      <figure class="figure" style="float: right">
        <img
          src="https://www.nationaljewish.org/NJH/media/img/Treatments%20and%20Programs/Pediatric-Allergy-Treatment-Programs.jpg"
          class="figure-img"
          loading="lazy"
          alt="Allergy Treatment Programs, Pediatric?"
          width="428"
          height="244" />
      </figure>
      <ul>
        <li>Food challenges and skin testing</li>
        <li>Evaluation for other allergic conditions</li>
        <li>Rehabilitation services</li>
        <li>Nutrition counseling and education</li>
        <li>Psychological assessment and treatment</li>
        <li>Art therapy programs</li>
        <li>
          Development of a partnership, including the patient and family,
          primary care provider and the Food Allergy Diagnosis and Management
          team
        </li>
      </ul>

      <p>&nbsp;</p>

      <p>
        Choose National Jewish Health, where families come from around the world
        to receive treatment they can’t find anywhere else.
      </p>

      <p>
        <a href="/programs/directory/allergy"
          >View Adult Allergy Treatment Programs</a
        >
      </p>

      <p>&nbsp;</p>

      <h2>Related Programs</h2>

      <ul>
        <li>
          <a href="/about/depts/pediatrics/pediatric-allergy-immunology/">
            Division of Pediatric Allergy and Clinical Immunology
          </a>
        </li>
        <li>
          <a href="/about/depts/pediatrics/pediatric-allergy-immunology/">
            Division of Pediatric Allergy and Clinical Immunology
          </a>
        </li>
        <li>
          <a href="/about/depts/pediatrics/pediatric-allergy-immunology/">
            Division of Pediatric Allergy and Clinical Immunology
          </a>
        </li>
        <li>
          <a href="/about/depts/pediatrics/pediatric-allergy-immunology/">
            Division of Pediatric Allergy and Clinical Immunology
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="widget-zone has-margin">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col"></div>
      </div>
    </div>
  </section>
</section>
