<section class="subpage__content" id="subpageContent">
  <div class="page-blurb container">
    <p>
      Help manage your child's allergies and get back your peace of mind with
      help from the leading respiratory hospital in the nation and our team of
      respiratory specialists. From allergy-induced asthma to rhinitis to food
      allergies, our pediatric specialists can help by creating an
      individualized treatment plan based on your child’s specific needs. We
      also offer a Pediatric Outpatient Clinic and a Pediatric Day Program to
      give our patients and their families the optimal level of support in
      managing allergies.
    </p>
  </div>

  <div class="rich-text container">
    <figure class="figure" style="float: right">
      <img
        src="https://www.nationaljewish.org/NJH/media/img/Treatments%20and%20Programs/Pediatric-Allergy-Treatment-Programs.jpg"
        class="figure-img"
        loading="lazy"
        alt="Allergy Treatment Programs, Pediatric?"
        width="428"
        height="244" />
    </figure>
    <ul role="list">
      <li>Food challenges and skin testing</li>
      <li>Evaluation for other allergic conditions</li>
      <li>Rehabilitation services</li>
      <li>Nutrition counseling and education</li>
      <li>Psychological assessment and treatment</li>
      <li>Art therapy programs</li>
      <li>
        Development of a partnership, including the patient and family, primary
        care provider and the Food Allergy Diagnosis and Management team
      </li>
    </ul>

    <p>
      Choose National Jewish Health, where families come from around the world
      to receive treatment they can’t find anywhere else.
    </p>

    <p>
      <a href="/programs/directory/allergy">
        View Adult Allergy Treatment Programs
      </a>
    </p>

    <h2>Related Programs</h2>

    <ul role="list" class="mb-5">
      <li>
        <a href="/about/depts/pediatrics/pediatric-allergy-immunology/">
          Division of Pediatric Allergy and Clinical Immunology
        </a>
      </li>
      <li>
        <a href="/about/depts/pediatrics/pediatric-allergy-immunology/">
          Division of Pediatric Allergy and Clinical Immunology
        </a>
      </li>
      <li>
        <a href="/about/depts/pediatrics/pediatric-allergy-immunology/">
          Division of Pediatric Allergy and Clinical Immunology
        </a>
      </li>
      <li>
        <a href="/about/depts/pediatrics/pediatric-allergy-immunology/">
          Division of Pediatric Allergy and Clinical Immunology
        </a>
      </li>
    </ul>

    <hr />
  </div>

  <!--- START INFO BOXES -->
  <section class="widget-zone has-margin">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <!-- NJHK13-282 - PHYSICIANS INFO BOX -->
          <section class="info-boxes">
            <h2>Doctors</h2>

            <ul role="list" class="info-boxes__list row gy-3">
              <!-- START SINGLE PHYSICIAN -->
              <li class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>
              <!-- END SINGLE PHYSICIAN -->

              <li class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li
                class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3 d-none">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li
                class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3 d-none">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li
                class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3 d-none">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li
                class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3 d-none">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li
                class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3 d-none">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li
                class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3 d-none">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>

              <li
                class="info-boxes__item col-12 col-sm-6 col-md-4 col-lg-3 d-none">
                <div class="info-boxes__wrapper">
                  <!-- <a> for mobile-->
                  <a
                    href="/PHYSICIAN_URL"
                    class="info-boxes__anchor"
                    tab-index="-1">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </a>

                  <!-- <button> for desktop -->
                  <!-- Would it be beter to just hit an endpoint? -->
                  <button
                    type="button"
                    class="info-boxes__trigger"
                    aria-controls="infoBoxModal"
                    aria-expanded="false"
                    data-bs-toggle="modal"
                    data-bs-target="#infoBoxModal"
                    data-nodeid="NODE_ID">
                    <span class="visually-hidden">
                      More about PHYSICIAN_NAME
                    </span>
                  </button>

                  <div class="info-boxes__content">
                    <img
                      src="../images/PHYSICIAN_IMAGE.jpg"
                      alt="PHYSICIAN_NAME"
                      loading="lazy"
                      width="192"
                      height="252" />
                    <p>PHYSICIAN_NAME</p>
                  </div>
                </div>
              </li>
            </ul>

            <div class="info-boxes__links">
              <button
                class="info-boxes__reveal-all btn"
                data-hook="itemBoxes__revealAll">
                All (##) Somethings
              </button>
              <a href="/FIND_DOCTOR_URL" class="btn"> Find a Doctor </a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!--- END INFO BOXES -->

  <section class="widget-zone has-margin">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <!-- ! START CLINICAL TRIALS -->
          <div class="clinical-trials">
            <h2>
              <img
                class="app-icon me-2"
                src="/images/clinical-trials.svg"
                alt=""
                role="presentation" />
              Clinical Trials
            </h2>
            <hr class="hr-orange--500" />

            <div class="clinical-trials__featured">
              <div class="clinical-trials__featured-image">
                <img src="https://picsum.photos/600/200" alt="An image" />
              </div>

              <div class="clinical-trials__featured-content bg bg-purple--500">
                <h3>Identifying Characteristics and Patterns of Asthma</h3>
                <p>
                  Our researchers are working to identify the clinical,
                  physiologic, genetic and molecular characteristics of
                  asthmatics.
                </p>
                <a href="#">More about Asthma</a>
              </div>
            </div>

            <ul role="list">
              <li><a href="#">Atopic Dermatitis & Skin Infections</a></li>
              <li><a href="#">Atopic Dermatitis & Skin Infections</a></li>
              <li><a href="#">Atopic Dermatitis & Skin Infections</a></li>
            </ul>
          </div>
          <!-- ! END CLINICAL TRIALS -->
        </div>
      </div>
    </div>
  </section>

  <hr />

  <!--- ! START REASONS TO CHOOSE -->
  <section class="widget-zone has-margin">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 gy-3">
        <div class="col">
          <h2>Reasons to Choose National Jewish Health</h2>
          <ul role="list">
            <li>
              The leading respiratory hospital in the nation and the only one
              devoted fully to the treatment of respiratory and related
              illnesses
            </li>
            <li>
              Ranked #1 or #2 in Pulmonology by
              <em>U.S. News &amp; World Report</em> for 26 consecutive years
            </li>
            <li>Ranked in the top 5% of hospitals in the nation by HCAHPS</li>
            <li>
              Physicians consistently recognized among the best in the nation by
              multiple services, including Best Doctors in America and Castle
              Connolly
            </li>
            <li>
              Among the top 6% of organizations funded for research by the NIH,
              providing patients access to hundreds of active clinical trials
            </li>
            <li>
              124-year history of focus on care, research and education serving
              patients from around the world with lung, heart, immune and
              related disorders
            </li>
          </ul>
          <a href="#" class="btn btn-blue--700 btn-sm">Make an Appointment</a>
        </div>
        <div class="col">
          <article class="card-story">
            <figure class="figure">
              <img
                src="https://www.nationaljewish.org/NJH/media/img/Treatments%20and%20Programs/Pediatric-Allergy-Treatment-Programs.jpg"
                class="figure-img"
                loading="lazy"
                alt="Allergy Treatment Programs, Pediatric?"
                width="428"
                height="244" />
            </figure>
            <h2>
              <a href="#">
                Pilot Returns to the Skies After Bronchiectasis Treatment
              </a>
            </h2>
            <p>
              In 2017, as he began to suffer multiple bouts of bronchitis and
              mysterious sinus infections, pilot Tim Farquhar’s wings were in
              danger of being clipped.
            </p>
            <a href="#">
              <strong>Read more</strong>
            </a>
          </article>

          <a href="#" class="btn btn-neutral--900-outline btn-sm">
            All Patient Stories
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--- ! END REASONS TO CHOOSE -->
</section>
