<section class="t-pale-blue">
  <div class="app-main__content  app-main__content--1col animate fade-in-up-short">

    <div class="app-main__content-column">

      <!-- BOTWR-73 - Begin Routing Component -->
      <div class="routing">

        <div class="routing__eyebrow">
          <p>New & Notable</p>
        </div>

        <h2 class="routing__headline">Routing Component</h2>

        <div class="routing__description">
          <p>Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <div class="routing__stats">
          <div class="routing__stat-box">
            <p class="routing__stat">8000+</p>
            <p class="routing__stat-label">Connections Made</p>
          </div>
          <div class="routing__stat-box">
            <p class="routing__stat">10+</p>
            <p class="routing__stat-label">Industries</p>
          </div>
          <div class="routing__stat-box">
            <p class="routing__stat">5</p>
            <p class="routing__stat-label">Hubs</p>
          </div>
        </div>

        <div class="row routing__cards">

          <div class="col-12 col-md-6 col-lg-3 routing__card" data-hook="routingCard">
            <div class="routing__card-main">
              <div class="routing__card-eyebrow">
                <p>Report</p>
              </div>
              <div class="routing__card-image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="wifi symbol">
              </div>
              <a href="/" class="routing__card-title e-arrow-link">Picking up Speed: Digital Maturity in Canadian SMEs and Why Increasing it Matters</a>
              <p class="routing__card-description">From basic needs like office workspace and business insurance to opportunities that develop your skill set and build your network, we’ve got you covered.</p>
              <p class="routing__card-date">June 2021</p>
            </div>
            <div class="routing__card-footer">
              <p>Sponsored by Ryerson University</p>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 routing__card" data-hook="routingCard">
            <div class="routing__card-main">
              <div class="routing__card-eyebrow">
                <p>Report</p>
              </div>
              <div class="routing__card-image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="wifi symbol">
              </div>
              <a href="/" class="routing__card-title e-arrow-link">Returning To Physical Workplaces</a>
              <p class="routing__card-date">June 2021</p>
              <div class="routing__card-member-only-badge">
                <p>Member only</p>
              </div>
            </div>
            <div class="routing__card-footer">
              <p>Sponsored by City of Toronto</p>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 routing__card" data-hook="routingCard">
            <div class="routing__card-main">
              <div class="routing__card-eyebrow">
                <p>Report</p>
              </div>
              <!-- <div class="routing__card-image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="wifi symbol">
              </div> -->
              <a href="http://google.com" class="routing__card-title e-arrow-link">Opportunity Knocks: Priority Export Markets For Ontario's High Potential Sectors</a>
              <p class="routing__card-date">June 2021</p>
            </div>
            <div class="routing__card-footer">
              <p>Sponsored by Western Union</p>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3 routing__card" data-hook="routingCard">
            <div class="routing__card-main">
              <div class="routing__card-eyebrow">
                <p>Report</p>
              </div>
              <div class="routing__card-image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="wifi symbol">
              </div>
              <a href="https://google.com" target="_blank" class="routing__card-title e-arrow-link">Sector Recovery Plans</a>
              <p class="routing__card-date">June 2021</p>
            </div>
            <div class="routing__card-footer">
              <p>Sponsored by Scotiabank</p>
            </div>
          </div>

        </div>


        <div class="routing__cta-link-wrapper">
          <a href="#" class="routing__cta-link">
            See all Resources
          </a>
        </div>
      </div>
      <!-- BOTWR-73 - Begin Routing Component -->

    </div> <!-- /. app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>
