<div class="app-header__search-wrapper d-none">
  <form
    id="appHeader__searchForm"
    data-hook="appHeader__searchForm"
    aria-hidden="true">
    <label>Search our site</label>
    <input
      class="app-header__small-screen-nav-panel-search-input"
      type="text" />
    <button type="submit">
      <svg
        class="app-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <path
          fill="inheret"
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" />
      </svg>
      <span class="visually-hidden">Submit search</span>
    </button>
  </form>

  <button
    data-hook="appHeader__wantTo"
    aria-expanded="false"
    aria-controls="appHeader__wantToWrapper">
    I want to...
  </button>

  <div
    id="appHeader__wantToWrapper"
    class="app-header__want-to-wrapper"
    data-hook="appHeader__wantToWrapper"
    aria-hidden="true">
    <ul role="list">
      <li>
        <a href="#">Find a Doctor</a>
      </li>
      <li>
        <a href="#">Access Patient Portal</a>
      </li>
      <li>
        <a href="#">Ask a question</a>
      </li>
      <li>
        <a href="#">Pay my bill</a>
      </li>
      <li>
        <a href="#">Refer a patient</a>
      </li>
      <li>
        <a href="#">See Event Calendar</a>
      </li>
    </ul>
  </div>
</div>
