<div class="app-header__search-wrapper d-none">
  <form
    id="appHeader__searchForm"
    data-hook="appHeader__searchForm"
    aria-hidden="true"></form>

  <button
    data-hook="appHeader__wantTo"
    aria-expanded="false"
    aria-controls="appHeader__wantToWrapper">
    I want to...
  </button>

  <div
    id="appHeader__wantToWrapper"
    class="app-header__want-to-wrapper"
    data-hook="appHeader__wantToWrapper"
    aria-hidden="true">
    <ul role="list">
      <li>
        <a href="#">Find a Doctor</a>
      </li>
      <li>
        <a href="#">Access Patient Portal</a>
      </li>
      <li>
        <a href="#">Ask a question</a>
      </li>
      <li>
        <a href="#">Pay my bill</a>
      </li>
      <li>
        <a href="#">Refer a patient</a>
      </li>
      <li>
        <a href="#">See Event Calendar</a>
      </li>
    </ul>
  </div>
</div>
