<section class="subpage__content" id="subpageContent">
  <!-- Optional Sections -->

  <div class="page-blurb container">
    <img alt="Placeholder image" src="https://picsum.photos/400/300" />
    <p>
      As the leading respiratory hospital in the U.S., National Jewish Health in
      Denver, Colorado, is recognized nationally and internationally as a leader
      in the care and treatment of pulmonary (lung) diseases. Whether you have a
      lung disease that is common or one that is extremely rare, our
      multidisciplinary team is ready to meet your needs. We treat all pulmonary
      diseases with a program designed especially for you. Our many specialty
      programs offer customized care in everything from asthma to sleep
      disorders to COPD and cystic fibrosis.
    </p>
  </div>

  <div class="rich-text container">
    <p>
      We also conduct research into many lung diseases and related conditions.
      This assures you have access to the latest, most advanced clinical trials
      and most effective treatments.
    </p>
    <h2>Respiratory Care at National Jewish Health</h2>
    <p>At National Jewish Health, you’ll find</p>
    <ul>
      <li>The latest in clinical trials</li>
      <li>A focused and integrated approach</li>
      <li>State-of-the-art testing</li>
      <li>A therapy plan designed for you</li>
      <li>
        Many specialty programs, including the largest adult cystic fibrosis
        center in the U.S. and Denver’s oldest and most comprehensive sleep
        medicine program.
      </li>
      <li>
        Our pulmonologists and multidisciplinary team work together to make sure
        you receive comprehensive evaluation and treatment. Our pulmonology
        programs are designed to improve your quality of life, as well as to
        reduce your long-term treatment costs.
      </li>
    </ul>
    <a href="#">Learn more about our Respiratory Treatment Programs.</a>
  </div>

  <hr />
  <!--- Condition and Program Info -->
  <div class="condition-programs row row-cols-1 row-cols-md-2 gy-3">
    <section id="conditionInformation" class="condition-programs__col col">
      <h2>Condition Information</h2>
      <figure>
        <a href="#">
          <img
            src="https://picsum.photos/600/300"
            title="If this is a link, it'll need a title"
            alt="This is the alt of the image"
            height="300"
            width="600" />
        </a>
      </figure>

      <a class="like-h4 mb-3 d-inline-block" href="#">Asthma Overview</a>

      <section class="accordion" data-hook="accordion">
        <!-- START SINGLE ACCORDION ITEM -->
        <div
          id="moreConditionInfomation"
          class="accordion__item"
          data-hook="accordion__item">
          <!-- HEADER -->
          <header class="accordion__header">
            <!-- TRIGGER -->
            <button
              id="accordionTrigger_moreConditionInfomation"
              class="accordion__trigger"
              aria-controls="accordionPanel_moreConditionInfomation"
              aria-expanded="false"
              data-hook="accordion__trigger">
              More conditions

              <!-- STATE INDICATOR -->
              <svg
                class="app-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path
                  class="accordion__trigger-plus"
                  d="M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z" />
                <path
                  class="accordion__trigger-minus"
                  d="M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z" />
              </svg>
            </button>
          </header>

          <!-- PANEL -->
          <div
            id="accordionPanel_moreConditionInfomation"
            class="accordion__panel"
            role="region"
            aria-hidden="true"
            aria-labelledby="accordionTrigger_moreConditionInfomation"
            data-hook="accordion__panel">
            <ul class="list-unstyled" role="list">
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
            </ul>

            <a href="/conditions/search" class="btn btn-neutral--900-outline">
              Search Conditions A-Z
            </a>
          </div>
        </div>
      </section>
    </section>

    <section id="programsServices" class="condition-programs__col col">
      <h2>Programs and Services</h2>
      <figure>
        <a href="#">
          <img
            src="https://picsum.photos/600/300"
            title="If this is a link, it'll need a title"
            alt="This is the alt of the image"
            height="300"
            width="600" />
        </a>
      </figure>

      <a class="like-h4 mb-3 d-inline-block" href="#">
        Respiratory Treatment Programs
      </a>

      <section class="accordion" data-hook="accordion">
        <!-- START SINGLE ACCORDION ITEM -->
        <div
          id="moreProgramsServices"
          class="accordion__item"
          data-hook="accordion__item">
          <!-- HEADER -->
          <header class="accordion__header">
            <!-- TRIGGER -->
            <button
              id="accordionTrigger_moreProgramsServices"
              class="accordion__trigger"
              aria-controls="accordionPanel_moreProgramsServices"
              aria-expanded="false"
              data-hook="accordion__trigger">
              More programs and services

              <!-- STATE INDICATOR -->
              <svg
                class="app-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path
                  class="accordion__trigger-plus"
                  d="M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z" />
                <path
                  class="accordion__trigger-minus"
                  d="M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z" />
              </svg>
            </button>
          </header>

          <!-- PANEL -->
          <div
            id="accordionPanel_moreProgramsServices"
            class="accordion__panel"
            role="region"
            aria-hidden="true"
            aria-labelledby="accordionTrigger_moreProgramsServices"
            data-hook="accordion__panel">
            <ul class="list-unstyled" role="list">
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
              <li>
                <a href="#"> Item </a>
              </li>
            </ul>
            <a href="/programs/search" class="btn btn-neutral--900-outline">
              Search Programs
            </a>
          </div>
        </div>
      </section>
    </section>
  </div>

  <hr />

  <!-- Widget Zone-->
  <div class="widget-zone has-margin">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <h2>1 Column - Contained</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            earum, dolorem <a href="#">asperiores rem porro</a>, tempore vitae
            maiores aut sint consequuntur placeat tenetur provident voluptatibus
            perferendis possimus, nisi voluptatem ut excepturi!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis id
            totam corrupti nemo consequatur?
            <a href="#">Optio maiores</a> veritatis explicabo quas officiis
            labore numquam, dolores ipsam. Suscipit accusantium quaerat mollitia
            voluptatem quae.
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <!-- Appointment CTA -->
  <section class="appointment-cta">
    <a
      href="https://my.njhealth.org/PatientPortal/Users/Common/Forms/AppointmentRequest.aspx"
      class="btn btn-orange--900">
      Make an Appointment
    </a>


    <a href="tel:+18772255654" class="like-h3">
      <svg class="app-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
      </svg>
      Call 1.877.CALL.NJH
    </a>
  </section>
</section>
