<!-- NJHK13-363 - Story Detail Template -->
<section class="subpage__content" id="subpageContent">
  <section class="widget-zone">
    <div class="row row-cols-1 gx-0">
      <div class="col">
        <h2>1 Column - Full Width</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque earum,
          dolorem <a href="#">asperiores rem porro</a>, tempore vitae maiores
          aut sint consequuntur placeat tenetur provident voluptatibus
          perferendis possimus, nisi voluptatem ut excepturi!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis id
          totam corrupti nemo consequatur?
          <a href="#">Optio maiores</a> veritatis explicabo quas officiis labore
          numquam, dolores ipsam. Suscipit accusantium quaerat mollitia
          voluptatem quae.
        </p>
        <figure class="figure">
          <img
            src="https://picsum.photos/750/500"
            alt="figure-img"
            title="If this is a link, it'll need a title"
            alt="This is the alt of the image"
            height="500"
            width="750" />
        </figure>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque earum,
          dolorem <a href="#">asperiores rem porro</a>, tempore vitae maiores
          aut sint consequuntur placeat tenetur provident voluptatibus
          perferendis possimus, nisi voluptatem ut excepturi!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis id
          totam corrupti nemo consequatur?
          <a href="#">Optio maiores</a> veritatis explicabo quas officiis labore
          numquam, dolores ipsam. Suscipit accusantium quaerat mollitia
          voluptatem quae.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque earum,
          dolorem <a href="#">asperiores rem porro</a>, tempore vitae maiores
          aut sint consequuntur placeat tenetur provident voluptatibus
          perferendis possimus, nisi voluptatem ut excepturi!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis id
          totam corrupti nemo consequatur?
          <a href="#">Optio maiores</a> veritatis explicabo quas officiis labore
          numquam, dolores ipsam. Suscipit accusantium quaerat mollitia
          voluptatem quae.
        </p>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section class="widget-zone bg bg-purple--500">
    <div class="row row-cols-1 gx-0">
      <div class="col">
        <div class="donation-cta">
          <h2 class="like-h3">Your gift today will support children and adults with lung, heart, immune and related conditions.</h2>
          <a href="#" class="btn btn-blue--700">Make a Donation Today</a>
        </div>
      </div>
    </div>
  </section>
</section>
