<!-- Content -->
<section class="subpage__content">
  <!-- Optional Sections -->
  <p class="reviewer-note container">
    <em>
      This information was reviewed and approved by
      <a href="#">Anthony Gerber, MD, PhD</a> (June 2022).
    </em>
  </p>

  <div class="page-blurb container">
    <img alt="Placeholder image" src="https://picsum.photos/400/300" />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo culpa
      laudantium doloremque quae architecto rerum labore aperiam accusantium
      delectus hic voluptatibus doloribus veniam, vitae corrupti. Voluptate
      atque dolor in deleniti!
    </p>
  </div>

  <div class="rich-text">
    <div class="container">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
        laboriosam, omnis, fugit soluta deserunt doloremque obcaecati eius
        laudantium distinctio quidem assumenda nulla odit ipsum accusantium
        praesentium consequuntur repudiandae nobis illo.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
        quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate
        ut! Ducimus repellendus ea nulla consectetur aut voluptate quasi sed
        illum!
      </p>
    </div>
  </div>

  <!-- example of a widget zone -->
  <div class="widget-zone bg bg-orange--100 has-padding">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <h2>Widget zone - 2 column 50/50</h2>
          <ul>
            <li>Theme: bg-orange--100</li>
            <li>Padding: false</li>
            <li>Margin: false</li>
          </ul>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            earum, dolorem <a href="#">asperiores rem porro</a>, tempore vitae
            maiores aut sint consequuntur placeat tenetur provident voluptatibus
            perferendis possimus, nisi voluptatem ut excepturi!
          </p>
        </div>
        <div class="col">
          <h2>Widget zone</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            earum, dolorem <a href="#">asperiores rem porro</a>, tempore vitae
            maiores aut sint consequuntur placeat tenetur provident voluptatibus
            perferendis possimus, nisi voluptatem ut excepturi!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis id
            totam corrupti nemo consequatur?
            <a href="#">Optio maiores</a> veritatis explicabo quas officiis
            labore numquam, dolores ipsam. Suscipit accusantium quaerat mollitia
            voluptatem quae.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section
    class="widget-zone bg has-padding has-margin"
    style="--has-background: #812867; --has-color: #ffffff">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <div class="fr-view">
            <h3>Heading</h3>
            This is for tes<strong>ting 1 Column s</strong>ection Lorem Ipsum is
            simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of
            <em>type and scra</em>mbled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            th<a
              href="https://www.google.com"
              class="is-external-link"
              target="_blank"
              >e 1960s w<span class="external-link-icon"
                ><span class="visually-hidden">
                  (Opens in a new window)</span
                ></span
              ></a
            >ith the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.&nbsp;<br />
            <hr />
            <br />
            <blockquote>This is for testing</blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
