<!-- Aside / DOES NOT load on mobile -->
<aside class="subpage__aside">
  <!-- NJHK13-388 Left Rail Nav -->
  <a href="#subpageContent" class="skip-navigation visually-hidden-focusable">
    Skip Navigation
  </a>

  <nav class="aside-nav" aria-label="Sibling Pages">
    <ul role="list" class="list-group list-group-flush">
      <!-- Single Item for the parent page.  this is to let the user know all the navigation is based around the parent page. -->
      <li class="list-group-item">
        <h2 class="parent"><a href="#">Parent Page</a></h2>
        <ul class="list-group list-group-flush">
          <!-- Single Depth -->
          <li class="list-group-item" id="asideNavItem_00000">
            <a href="#">Sibling</a>
          </li>

          <!-- Multi-level Items-->

          <!-- Current page - default open IF has children-->
          <li
            class="list-group-item is-self has-children"
            id="asideNavItem_65432">
            <button
              type="button"
              class="list-group-item-trigger"
              id="asideNavItem_65432_label"
              aria-label="Toggle sub menu"
              data-bs-toggle="collapse"
              aria-expanded="true"
              data-bs-target="#asideNavItem_65432_children"
              aria-controls="asideNavItem_65432_children">
              +
            </button>
            <a href="#" aria-current="true">Self</a>
            <ul
              class="list-group list-group-flush collapse show"
              id="asideNavItem_65432_children"
              aria-hidden="false"
              aria-labeledby="asideNavItem_65432_label">
              <li class="list-group-item"><a href="#">Child</a></li>
              <li class="list-group-item"><a href="#">Child</a></li>
            </ul>
          </li>

          <!-- Siblings with children and grand children - default closed  -->
          <li class="list-group-item has-children" id="asideNavItem_123456">
            <button
              type="button"
              class="list-group-item-trigger"
              id="asideNavItem_123456_label"
              aria-label="Toggle sub menu"
              data-bs-toggle="collapse"
              aria-expanded="false"
              data-bs-target="#asideNavItem_123456_children"
              aria-controls="asideNavItem_123456_children">
              +
            </button>
            <a href="#">Sibling</a>

            <!-- Sibling's children -->
            <ul
              class="list-group list-group-flush collapse"
              id="asideNavItem_123456_children"
              aria-hidden="true"
              aria-labeledby="asideNavItem_123456_label">
              <li class="list-group-item"><a href="#">Nephew</a></li>
              <li class="list-group-item has-children" id="asideNavItem_98765">
                <button
                  type="button"
                  class="list-group-item-trigger"
                  aria-label="Toggle sub menu"
                  data-bs-toggle="collapse"
                  aria-expanded="false"
                  data-bs-target="#asideNavItem_98765_children"
                  aria-controls="asideNavItem_98765_children"
                  id="asideNavItem_98765_label">
                  +
                </button>
                <a href="#">Niece</a>

                <!-- Sibling's grand children -->
                <ul
                  class="list-group list-group-flush collapse"
                  id="asideNavItem_98765_children"
                  aria-hidden="true"
                  aria-labeledby="asideNavItem_98765_label">
                  <li class="list-group-item">
                    <a href="#">Nephew Once Removed</a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">Niece Once Removed</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
