<!-- Aside / DOES NOT load on mobile -->
<aside class="subpage__aside">
  <!-- NJHK13-388 Left Rail Nav -->
  <a href="#subpageContent" class="skip-navigation visually-hidden-focusable">
    Skip Navigation
  </a>

  <nav class="subpage__aside-nav" aria-label="Sibling Pages">
    <ul role="list" class="subpage__aside-nav-list">
      <!-- Single Item for the parent page.  this is to let the user know all the navigation is based around the parent page. -->
      <li class="subpage__aside-nav-item subpage__aside-nav-parent">
        <h2 class="parent"><a href="#">Parent Page</a></h2>
        <ul class="subpage__aside-nav-list">
          <!-- Single Depth -->
          <li class="subpage__aside-nav-item" id="asideNavItem_00000">
            <a href="#">Sibling</a>
          </li>

          <!-- Multi-level Items-->

          <!-- Current page - default open IF has children-->
          <li
            class="subpage__aside-nav-item has-children is-self"
            id="asideNavItem_65432">
            <div class="subpage__aside-nav-dropdown">
              <button
                type="button"
                class="subpage__aside-nav-trigger"
                id="asideNavItem_65432_label"
                aria-label="Toggle sub menu"
                data-bs-toggle="collapse"
                aria-expanded="true"
                data-bs-target="#asideNavItem_65432_children"
                aria-controls="asideNavItem_65432_children">
                <span class="app-icon icon-dropdown"></span>
              </button>
              <a href="#" aria-current="true">Self</a>
            </div>
            <ul
              class="subpage__aside-nav-list collapse show"
              id="asideNavItem_65432_children"
              aria-hidden="false"
              aria-labeledby="asideNavItem_65432_label">
              <li class="subpage__aside-nav-item"><a href="#">Child</a></li>
              <li class="subpage__aside-nav-item"><a href="#">Child</a></li>
            </ul>
          </li>

          <!-- Siblings with children and grand children - default closed  -->
          <li
            class="subpage__aside-nav-item has-children"
            id="asideNavItem_123456">
            <div class="subpage__aside-nav-dropdown">
              <button
                type="button"
                class="subpage__aside-nav-trigger"
                id="asideNavItem_123456_label"
                aria-label="Toggle sub menu"
                data-bs-toggle="collapse"
                aria-expanded="false"
                data-bs-target="#asideNavItem_123456_children"
                aria-controls="asideNavItem_123456_children">
                <span class="app-icon icon-dropdown"></span>
              </button>
              <a href="#">Sibling</a>
            </div>

            <!-- Sibling's children -->
            <ul
              class="subpage__aside-nav-list collapse"
              id="asideNavItem_123456_children"
              aria-hidden="true"
              aria-labeledby="asideNavItem_123456_label">
              <li class="subpage__aside-nav-item"><a href="#">Nephew</a></li>
              <li
                class="subpage__aside-nav-item has-children"
                id="asideNavItem_98765">
                <div class="subpage__aside-nav-dropdown">
                  <button
                    type="button"
                    class="subpage__aside-nav-trigger"
                    aria-label="Toggle sub menu"
                    data-bs-toggle="collapse"
                    aria-expanded="false"
                    data-bs-target="#asideNavItem_98765_children"
                    aria-controls="asideNavItem_98765_children"
                    id="asideNavItem_98765_label">
                    <span class="app-icon icon-dropdown"></span>
                  </button>
                  <a href="#">Niece</a>
                </div>

                <!-- Sibling's grand children -->
                <ul
                  class="subpage__aside-nav-list collapse"
                  id="asideNavItem_98765_children"
                  aria-hidden="true"
                  aria-labeledby="asideNavItem_98765_label">
                  <li class="subpage__aside-nav-item">
                    <a href="#">Nephew Once Removed</a>
                  </li>
                  <li class="subpage__aside-nav-item">
                    <a href="#">Niece Once Removed</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
