<section class="subpage__content">
  <!-- Optional Sections -->
  <p class="component reviewer-note">
    <em>
      This information was reviewed and approved by
      <a href="#">Anthony Gerber, MD, PhD</a> (June 2022).
    </em>
  </p>

  <div class="component page-blurb">
    <img alt="Placeholder image" src="https://picsum.photos/400/300" />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo culpa
      laudantium doloremque quae architecto rerum labore aperiam accusantium
      delectus hic voluptatibus doloribus veniam, vitae corrupti. Voluptate
      atque dolor in deleniti!
    </p>
  </div>

  <div class="component rich-text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
      laboriosam, omnis, fugit soluta deserunt doloremque obcaecati eius
      laudantium distinctio quidem assumenda nulla odit ipsum accusantium
      praesentium consequuntur repudiandae nobis illo.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>
  </div>

  <div class="component widget-zone">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      dolores nihil possimus doloribus, consectetur voluptatem, dignissimos eum
      quam earum, hic atque aspernatur similique et eligendi architecto vitae
      excepturi laudantium? Minima.
    </p>
  </div>
</section>
