<section class="subpage__content">
  <h2>Content</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ratione,
    nostrum maiores velit tempora eius voluptatem laboriosam inventore culpa
    commodi soluta? Labore adipisci natus saepe minus, doloremque voluptatibus
    consectetur officiis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere omnis odio
    blanditiis a accusamus quo doloribus similique, veritatis laudantium
    aliquid. Porro at optio, libero eveniet saepe excepturi est dolore
    accusamus.
  </p>
</section>
