<section class="tabs" data-hook="tabs">
  <div class="container">
    <nav
      class="tabs__list"
      role="tablist"
      aria-label=""
      data-hook="tabs__tabList">

      <button
        class="tabs__trigger"
        role="tab"
        type="button"
        aria-controls="contact"
        aria-selected="true"
        data-hook="tabs__tabTrigger">
        Tab one
      </button>

      <button
        class="tabs__trigger"
        role="tab"
        type="button"
        aria-controls="about"
        aria-selected="false"
        data-hook="tabs__tabTrigger">
        Tab two
      </button>

      <button
        class="tabs__trigger"
        role="tab"
        type="button"
        aria-controls="tabPanel3"
        aria-selected="false"
        data-hook="tabs__tabTrigger">
        Tab three
      </button>

      <button
        class="tabs__trigger"
        role="tab"
        type="button"
        aria-controls="tabPanel4"
        aria-selected="false"
        data-hook="tabs__tabTrigger">
        Tab four
      </button>
    </nav>

    <div class="tabs__panels">
      <!-- Default all panels to and js will show the correct one on load.-->
      <div
        id="contact"
        class="tabs__panel"
        role="tabpanel"
        aria-hidden="true"
        data-hook="tabs__panel">
        <h2>Contact</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
          quidem incidunt unde recusandae optio, dolorum praesentium non
          expedita iusto at aliquid harum beatae consequatur deleniti. Cumque ex
          rem repudiandae.
        </p>
      </div>

      <div
        id="about"
        class="tabs__panel"
        role="tabpanel"
        aria-hidden="true"
        data-hook="tabs__panel">
        <h2>About</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
          quidem incidunt unde recusandae optio, dolorum praesentium non
          expedita iusto at aliquid harum beatae consequatur deleniti. Cumque ex
          rem repudiandae.
        </p>
      </div>

      <div
        id="tabPanel3"
        class="tabs__panel"
        role="tabpanel"
        aria-hidden="true"
        data-hook="tabs__panel">
        <h2>Panel Three</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
          quidem incidunt unde recusandae optio, dolorum praesentium non
          expedita iusto at aliquid harum beatae consequatur deleniti. Cumque ex
          rem repudiandae.
        </p>
      </div>

      <div
        id="tabPanel4"
        class="tabs__panel"
        role="tabpanel"
        aria-hidden="true"
        data-hook="tabs__panel">
        <h2>Panel Four</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
          quidem incidunt unde recusandae optio, dolorum praesentium non
          expedita iusto at aliquid harum beatae consequatur deleniti. Cumque ex
          rem repudiandae.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="tabs" data-hook="tabs">
  <div class="container">
    <nav
      class="tabs__list"
      role="tablist"
      aria-label=""
      data-hook="tabs__tabList">
      <button
        class="tabs__trigger"
        role="tab"
        type="button"
        aria-controls="tabPanel5"
        aria-selected="true"
        data-hook="tabs__tabTrigger">
        Tab five
      </button>

      <button
        class="tabs__trigger"
        role="tab"
        type="button"
        aria-controls="tabPanel6"
        aria-selected="false"
        data-hook="tabs__tabTrigger">
        Tab six
      </button>

      <button
        class="tabs__trigger"
        role="tab"
        type="button"
        aria-controls="tabPanel7"
        aria-selected="false"
        data-hook="tabs__tabTrigger">
        Tab seven
      </button>

      <button
        class="tabs__trigger"
        role="tab"
        type="button"
        aria-controls="tabPanel8"
        aria-selected="false"
        data-hook="tabs__tabTrigger">
        Tab eight
      </button>
    </nav>

    <div class="tabs__panels">
      <!-- Default all panels to and js will show the correct one on load.-->
      <div
        id="tabPanel5"
        class="tabs__panel"
        role="tabpanel"
        aria-hidden="true"
        data-hook="tabs__panel">
        <h2>Panel 5</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
          quidem incidunt unde recusandae optio, dolorum praesentium non
          expedita iusto at aliquid harum beatae consequatur deleniti. Cumque ex
          rem repudiandae.
        </p>
      </div>

      <div
        id="tabPanel6"
        class="tabs__panel"
        role="tabpanel"
        aria-hidden="true"
        data-hook="tabs__panel">
        <h2>Panel 6</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
          quidem incidunt unde recusandae optio, dolorum praesentium non
          expedita iusto at aliquid harum beatae consequatur deleniti. Cumque ex
          rem repudiandae.
        </p>
      </div>

      <div
        id="tabPanel7"
        class="tabs__panel"
        role="tabpanel"
        aria-hidden="true"
        data-hook="tabs__panel">
        <h2>Panel 7</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
          quidem incidunt unde recusandae optio, dolorum praesentium non
          expedita iusto at aliquid harum beatae consequatur deleniti. Cumque ex
          rem repudiandae.
        </p>
      </div>

      <div
        id="tabPanel8"
        class="tabs__panel"
        role="tabpanel"
        aria-hidden="true"
        data-hook="tabs__panel">
        <h2>Panel 8</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
          quidem incidunt unde recusandae optio, dolorum praesentium non
          expedita iusto at aliquid harum beatae consequatur deleniti. Cumque ex
          rem repudiandae.
        </p>
      </div>
    </div>
  </div>
</section>
