
<section class="">
  <div class="app-main__content  app-main__content--1col">

    <div class="app-main__content-column">

      <!-- Begin BOTWR-68 - Accordion -->
      <div class="accordion">


        <div class="accordion__group">

          <!-- Item -->
          <div class="accordion__group-item" data-hook="accordionGroupItem">
            <button class="accordion__group-item-title" data-hook="accordionGroupItem__title" id="accordion-header-UNIQUE-ACCORDION-ID-1" aria-expanded="false" aria-controls="accordion-content-UNIQUE-ACCORDION-ID-1">
              <span class="accordion__group-item-title-text">Feugiat sit bibendum enim nisl nisl neque donec viverra vulputate enim nisl nisl neque donec viverra vulputate</span>
            </button>
            <div class="accordion__group-item-content" data-hook="accordionGroupItem__content" id="accordion-content-UNIQUE-ACCORDION-ID-1" style="display: none;" role="region" aria-hidden="false" aria-labelledby="accordion-header-UNIQUE-ACCORDION-ID">
              <div class="rich-text">
                <blockquote>
                  <p>Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                  <cite>Placerat Morbi Suspendisse</cite>
                </blockquote>
                <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
              </div>
            </div>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="accordion__group-item" data-hook="accordionGroupItem">
            <button class="accordion__group-item-title" data-hook="accordionGroupItem__title" id="accordion-header-UNIQUE-ACCORDION-ID-2" aria-expanded="false" aria-controls="accordion-content-UNIQUE-ACCORDION-ID-2">
              <span class="accordion__group-item-title-text">Accordion header text</span>
            </button>
            <div class="accordion__group-item-content" data-hook="accordionGroupItem__content" id="accordion-content-UNIQUE-ACCORDION-ID-2" style="display: none;" role="region" aria-hidden="false" aria-labelledby="accordion-header-UNIQUE-ACCORDION-ID">
              <div class="rich-text">
                <div class="row">
                  <div class="col-12 col-lg-4">
                    <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                    <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                    <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                  </div>
                  <div class="col-12 col-lg-4">
                    <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                  </div>
                  <div class="col-12 col-lg-4">
                    <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                    <p>Fermentum pellentesque <a href="https://sta-website-app-trbot.azurewebsites.net/">staging site url</a> consectetur <a id="123">anchor link</a>. Morbi rhoncus leo <a href="https://bot.com" target="_blank">local url with manually set target</a> in cras dictum. Facilisis <a href="https://google.com">external link</a> faucibus ut at massa. Etiam <a href="https://bot.com">production domain url</a> cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Item -->



        </div>


      </div>
      <!-- End BOTWR-68 - Accordion -->


    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>



<!-- ============================================================================== -->
<!-- NOTE: Section below is just for FED testing  -->

