
<section class="t-pale-blue">
  <div class="app-main__content  app-main__content--1col">

    <div class="app-main__content-column">

      <!-- Begin BOTWR-71 - Image -->
      <div class="basic-image">

        <figure class="basic-image__image-wrapper">
          <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">

          <figcaption>
            <p class="basic-image__description">Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor.</p>
          </figcaption>
        </figure>

      </div>
      <!-- End BOTWR-57 - Image -->

    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>




<!-- ============================================================================== -->
<!-- NOTE: Section below is just for FED testing  -->

<section class="t-pale-orange">
  <div class="app-main__content  app-main__content--2col">

    <div class="app-main__content-column">

      <div class="basic-text-block  t-pale-purple">
        <div class="basic-text-block__eyebrow">
          <p>Initiatives</p>
        </div>
        <h2 class="basic-text-block__headline">Housing & Affordability in the Greater Toronto Area</h2>
        <p class="basic-text-block__description">Fermentum pellentesque placerat lectus sed consectetur ante vitae. Morbi rhoncus leo viverra et mi ipsum in cras dictum. Facilisis vitae faucibus ut at massa. Etiam mattis at mi duis cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        <div class="basic-text-block__cta-buttons">
          <a href="#" class="btn btn-primary">Primary Button</a>
          <a href="#" class="btn btn-secondary">Secondary Button</a>
        </div>
        <div class="basic-text-block__cta-link-wrapper">
          <a href="#" class="basic-text-block__cta-link">
            See all Initiatives
          </a>
        </div>
      </div>

    </div> <!-- /app-main__content-column -->

    <div class="app-main__content-column">

      <div class="basic-image">

        <figure class="basic-image__image-wrapper">
          <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">

          <figcaption>
            <p class="basic-image__description">Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor.</p>
          </figcaption>
        </figure>

      </div>

    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>
