
<section class="app-main__content  app-main__content--1col">
    <div class="app-main__content-column">
        <div class="cohort-directory t-pale-orange">

            <h2 class="cohort-directory__headline">Cohort Directory Headline</h2>

            <ul role="list" class="cohort-directory__list">
              <li class="cohort-directory__list-item">
                <a href="https://bot.com" class="e-arrow-link">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Cohort</a>
              </li>
              <li class="cohort-directory__list-item">
                <a href="https://bot.com" class="e-arrow-link">Lorem Ipsum Dolor Sit Amet</a>
              </li>
              <li class="cohort-directory__list-item">
                <a href="https://bot.com" class="e-arrow-link">Lorem Ipsum Neque Aut Cohort</a>
              </li>
              <li class="cohort-directory__list-item">
                <a href="https://bot.com" class="e-arrow-link">Lorem Ipsum Amet Cohort</a>
              </li>
              <li class="cohort-directory__list-item">
                <a href="https://bot.com" class="e-arrow-link">Lorem Ipsum Dolor Sit Cohort</a>
              </li>
            </ul>


        </div>
    </div>
</section>
