<section class="t-pale-purple">
  <div class="app-main__content  app-main__content--1col">
    <div class="app-main__content-column">



      <div class="event-routing">

        <div class="event-routing__eyebrow">
          <p>New & Notable</p>
        </div>

        <h2 class="event-routing__headline">
          Single Event Routing Component
        </h2>

        <div class="event-routing__description">
          <p>Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <div class="event-routing__cards">

          <div class="event-routing__card" data-hook="eventRoutingCard">
            <div class="event-routing__card-inner">

              <div class="event-routing__card-image-wrapper">
                <img class="event-routing__card-image" src="../images/placeholder/placeholder-photo-vertical-1.jpg" alt="Alt text here">
              </div>

              <div class="event-routing__card-main">
                <div class="event-routing__card-date-box">
                  <p class="event-routing__card-date-box-month">Oct</p>
                  <p class="event-routing__card-date-box-day">31</p>
                </div>

                <div class="event-routing__card-title-info-wrapper">
                  <a href="/" class="event-routing__card-title e-arrow-link">RAP Webcast Series: De-Risking the Technology Procurement Process</a>
                  <p class="event-routing__card-additional-event-info">Wear your costume for free candy!</p>
                </div>

                <div class="event-routing__card-footer">
                  <p class="event-routing__card-dateline"><span class="event-routing__card-date">Oct 31, 2021</span><span>In Person</span></p>
                  <p class="event-routing__card-sponsor">
                    Sponsored by University of Toronto
                  </p>
                  <div class="event-routing__card-pseudo-button">
                    <p>View Event Details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="event-routing__cta-link-wrapper">
          <a href="#" class="event-routing__cta-link">See all Events</a>
        </div>

      </div>



    </div>
  </div>
</section>









<section class="t-pale-green">
  <div class="app-main__content  app-main__content--1col">
    <div class="app-main__content-column">



      <div class="event-routing event-routing--double">

        <div class="event-routing__eyebrow">
          <p>New & Notable</p>
        </div>

        <h2 class="event-routing__headline">
          Double Event Routing Component
        </h2>

        <div class="event-routing__description">
          <p>Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <div class="event-routing__cards">

          <div class="event-routing__card" data-hook="eventRoutingCard">
            <div class="event-routing__card-inner">

              <div class="event-routing__card-image-wrapper">
                <img class="event-routing__card-image" src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="Alt text here">
              </div>

              <div class="event-routing__card-main">
                <div class="event-routing__card-date-box">
                  <p class="event-routing__card-date-box-month">Jun</p>
                  <p class="event-routing__card-date-box-day">12</p>
                </div>

                <div class="event-routing__card-title-info-wrapper">
                  <a href="/" class="event-routing__card-title e-arrow-link">Picking up Speed: Digital Maturity in Canadian SMEs and Why Increasing it Matters Due to Very Long Headlines of the World</a>
                  <p class="event-routing__card-additional-event-info">Limited Space Available</p>
                </div>

                <div class="event-routing__card-footer">
                  <p class="event-routing__card-dateline">
                    <span class="event-routing__card-date">Jun 12, 2022 — Jun 14, 2022</span>
                    <span>In Person & Virtual</span>
                  </p>
                  <p class="event-routing__card-sponsor">
                    Sponsored by University of Toronto
                  </p>
                  <div class="event-routing__card-pseudo-button">
                    <p>View Event Details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="event-routing__card" data-hook="eventRoutingCard">
            <div class="event-routing__card-inner">

              <div class="event-routing__card-image-wrapper">
                <img class="event-routing__card-image" src="../images/placeholder/placeholder-photo-vertical-1.jpg" alt="Alt text here">
              </div>

              <div class="event-routing__card-main">
                <div class="event-routing__card-date-box">
                  <p class="event-routing__card-date-box-month">Oct</p>
                  <p class="event-routing__card-date-box-year">2020</p>
                </div>

                <div class="event-routing__card-title-info-wrapper">
                  <a href="/" class="event-routing__card-title e-arrow-link">RAP Webcast Series: De-Risking the Technology Procurement Process</a>
                  <p class="event-routing__card-additional-event-info">Details Coming Soon!</p>
                </div>

                <div class="event-routing__card-footer">
                  <p class="event-routing__card-dateline">
                    <span class="event-routing__card-date">Oct 2022</span>
                    <span>In Person</span>
                  </p>
                  <p class="event-routing__card-sponsor" aria-hidden="true">
                    &nbsp;
                  </p>
                  <div class="event-routing__card-pseudo-button">
                    <p>View Event Details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="event-routing__cta-link-wrapper">
          <a href="#" class="event-routing__cta-link">See all Events</a>
        </div>

      </div>



    </div>
  </div>
</section>







<section class="t-pale-blue">
  <div class="app-main__content  app-main__content--1col">
    <div class="app-main__content-column">



      <div class="event-routing event-routing--double">

        <div class="event-routing__eyebrow">
          <p>New & Notable</p>
        </div>

        <h2 class="event-routing__headline">
          Double Event Routing Component
        </h2>

        <div class="event-routing__description">
          <p>Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <div class="event-routing__cards">

          <div class="event-routing__card" data-hook="eventRoutingCard">
            <div class="event-routing__card-inner">

              <div class="event-routing__card-image-wrapper">
                <img class="event-routing__card-image" src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="Alt text here">
              </div>

              <div class="event-routing__card-main">
                <div class="event-routing__card-date-box">
                  <p class="event-routing__card-date-box-month">Jun</p>
                  <p class="event-routing__card-date-box-day">12</p>
                </div>

                <div class="event-routing__card-title-info-wrapper">
                  <a href="/" class="event-routing__card-title e-arrow-link">Picking up Speed: Digital Maturity in Canadian SMEs and Why Increasing it Matters Due to Very Long Headlines of the World</a>
                  <p class="event-routing__card-additional-event-info">Limited Space Available</p>
                </div>

                <div class="event-routing__card-footer">
                  <p class="event-routing__card-dateline">
                    <span class="event-routing__card-date">Jun 12, 2022 — Jun 14, 2022</span>
                    <span>Virtual</span>
                  </p>
                  <p class="event-routing__card-sponsor">
                    Sponsored by University of Toronto
                  </p>
                  <div class="event-routing__card-pseudo-button">
                    <p>View Event Details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="event-routing__card" data-hook="eventRoutingCard">
            <div class="event-routing__card-inner">

              <div class="event-routing__card-image-wrapper">
                <img class="event-routing__card-image" src="../images/placeholder/placeholder-photo-vertical-1.jpg" alt="Alt text here">
              </div>

              <div class="event-routing__card-main">
                <div class="event-routing__card-date-box">
                  <p class="event-routing__card-date-box-month">Oct</p>
                  <p class="event-routing__card-date-box-year">2020</p>
                </div>

                <div class="event-routing__card-title-info-wrapper">
                  <a href="/" class="event-routing__card-title e-arrow-link">RAP Webcast Series: De-Risking the Technology Procurement Process</a>
                </div>

                <div class="event-routing__card-footer">
                  <p class="event-routing__card-dateline">
                    <span class="event-routing__card-date">Oct 2020</span>
                  </p>
                  <p class="event-routing__card-sponsor" aria-hidden="true">
                    &nbsp;
                  </p>
                  <div class="event-routing__card-pseudo-button">
                    <p>View Event Details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="event-routing__cta-link-wrapper">
          <a href="#" class="event-routing__cta-link">See all Events</a>
        </div>

      </div>



    </div>
  </div>
</section>










<section class="t-pale-orange">
  <div class="app-main__content  app-main__content--1col">
    <div class="app-main__content-column">



      <div class="event-routing event-routing--triple">

        <div class="event-routing__eyebrow">
          <p>New & Notable</p>
        </div>

        <h2 class="event-routing__headline">
          Triple Event Routing Component
        </h2>

        <div class="event-routing__description">
          <p>Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <div class="event-routing__cards">

          <div class="event-routing__card" data-hook="eventRoutingCard">
            <div class="event-routing__card-inner">

              <div class="event-routing__card-image-wrapper">
                <img class="event-routing__card-image" src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="Alt text here">
              </div>

              <div class="event-routing__card-main">
                <div class="event-routing__card-date-box">
                  <p class="event-routing__card-date-box-month">Jun</p>
                  <p class="event-routing__card-date-box-day">12</p>
                </div>

                <div class="event-routing__card-title-info-wrapper">
                  <a href="/" class="event-routing__card-title e-arrow-link">Picking up Speed: Digital Maturity in Canadian SMEs and Why Increasing it Matters Due to Very Long Headlines of the World</a>
                </div>

                <div class="event-routing__card-footer">
                  <p class="event-routing__card-dateline">
                    <span class="event-routing__card-date">Jun 12, 2022</span>
                    <span>Kitchener, ON, Canada</span>
                    <span>In Person</span>
                  </p>
                  <p class="event-routing__card-sponsor">
                    Sponsored by Scotia Bank Unlimited
                  </p>
                  <div class="event-routing__card-pseudo-button">
                    <p>View Event Details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="event-routing__card" data-hook="eventRoutingCard">
            <div class="event-routing__card-inner">

              <div class="event-routing__card-image-wrapper">
                <img class="event-routing__card-image" src="../images/placeholder/placeholder-photo-vertical-1.jpg" alt="Alt text here">
              </div>

              <div class="event-routing__card-main">
                <div class="event-routing__card-date-box">
                  <p class="event-routing__card-date-box-month">Aug</p>
                  <p class="event-routing__card-date-box-day">24</p>
                </div>

                <div class="event-routing__card-title-info-wrapper">
                  <a href="/" class="event-routing__card-title e-arrow-link">Member Speed Networking</a>
                  <p class="event-routing__card-additional-event-info">Featuring Igor Wilson & His Pet Monkey Arlo!</p>
                </div>

                <div class="event-routing__card-footer">
                  <p class="event-routing__card-dateline">
                    <span class="event-routing__card-date">Aug 24, 2022 – Aug 27, 2022</span>
                    <span>KITCHENER, ON, CANADA</span>
                    <span>In Person</span>
                  </p>
                  <!-- <p class="event-routing__card-sponsor"> -->
                    <!-- &nbsp; -->
                  <!-- </p> -->
                  <div class="event-routing__card-pseudo-button">
                    <p>View Event Details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="event-routing__card" data-hook="eventRoutingCard">
            <div class="event-routing__card-inner">

              <div class="event-routing__card-image-wrapper">
                <img class="event-routing__card-image" src="../images/placeholder/placeholder-photo-vertical-1.jpg" alt="Alt text here">
              </div>

              <div class="event-routing__card-main">
                <div class="event-routing__card-date-box">
                  <p class="event-routing__card-date-box-month">Oct</p>
                  <p class="event-routing__card-date-box-year">2022</p>
                </div>

                <div class="event-routing__card-title-info-wrapper">
                  <a href="/" class="event-routing__card-title e-arrow-link">RAP Webcast Series: De-Risking the Technology Procurement Process</a>
                  <p class="event-routing__card-additional-event-info">Details Coming Soon</p>
                </div>

                <div class="event-routing__card-footer">
                  <p class="event-routing__card-dateline">
                    <span class="event-routing__card-date">Oct 2022</span>
                    <span>Virtual</span>
                  </p>
                  <p class="event-routing__card-sponsor">
                    Sponsored by Ryerson University
                  </p>
                  <div class="event-routing__card-pseudo-button">
                    <p>View Event Details</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="event-routing__cta-link-wrapper">
          <a href="#" class="event-routing__cta-link">See all Events</a>
        </div>

      </div>



    </div>
  </div>
</section>
