<section class="t-pale-blue">
  <div class="app-main__content  app-main__content--1col">

    <div class="app-main__content-column">

      <!-- Begin BOTWR-75 - Featured Content -->
      <div class="featured-content" data-hook="featuredContentComponent">

        <div>
          <div class="featured-content__eyebrow">
            <p>Eyebrow Text</p>
          </div>

          <div class="featured-content__image-wrapper">
            <div class="featured-content__image-wrapper-inner">
              <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
            </div>
          </div>
        </div>

        <div>
          <h2 class="featured-content__headline">
            <a href="#">
              Numquam enim praesentium temporibus doloribus
            </a>
          </h2>
          <div class="featured-content__description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum accusamus inventore ea delectus, dolores molestias cumque eos blanditiis soluta.</p>
          </div>
        </div>

      </div>
      <!-- End BOTWR-75 - Featured Content -->

    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>




<!-- ============================================================================== -->
<!-- NOTE: Section below is just for FED testing  -->

<section class="t-pale-orange">
  <div class="app-main__content  app-main__content--2col">

    <div class="app-main__content-column">

      <div class="featured-content" data-hook="featuredContentComponent">
        <div>
          <div class="featured-content__eyebrow">
            <p>Eyebrow Text</p>
          </div>
          <div class="featured-content__image-wrapper">
            <div class="featured-content__image-wrapper-inner">
              <img src="../images/placeholder/placeholder-photo-vertical-1.jpg" alt="">
            </div>
          </div>
        </div>
        <div>
          <h2 class="featured-content__headline">
            <a href="#">
              Numquam enim praesentium temporibus doloribus
            </a>
          </h2>
          <div class="featured-content__description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum accusamus inventore ea delectus, dolores molestias cumque eos blanditiis soluta.</p>
          </div>
        </div>
      </div>

    </div> <!-- /app-main__content-column -->

    <div class="app-main__content-column">

      <div class="featured-content" data-hook="featuredContentComponent">
        <div>
          <div class="featured-content__eyebrow">
            <p>Eyebrow Text</p>
          </div>
          <div class="featured-content__image-wrapper">
            <div class="featured-content__image-wrapper-inner">
              <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="">
            </div>
          </div>
        </div>
        <div>
          <h2 class="featured-content__headline">
            <a href="#">
              Numquam enim praesentium temporibus doloribus
            </a>
          </h2>
          <div class="featured-content__description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum accusamus inventore ea delectus, dolores molestias cumque eos blanditiis soluta.</p>
          </div>
        </div>
      </div>

    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>
