<section>
  <!-- 1 Column - Contains Gated Content CTA -->
  <div class="app-main__content app-main__content--1col">
    <div class="app-main__content-column">
      <!-- Begin BOTWR-40 Gated Content CTA -->
      <div class="gated-content-cta">
        <div class="gated-content-cta__inner-wrapper">
          <div class="gated-content-cta__header">
            <svg
              width="25"
              height="29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <title>Lock Icon</title>
              <path
                d="M22.321 12.263h-1.339V8.322C20.982 3.734 17.176 0 12.5 0 7.824 0 4.018 3.734 4.018 8.322v3.941h-1.34C1.2 12.263 0 13.44 0 14.891v10.511c0 1.451 1.2 2.628 2.679 2.628H22.32c1.48 0 2.679-1.177 2.679-2.628v-10.51c0-1.452-1.2-2.629-2.679-2.629Zm-5.803 0H8.482V8.322c0-2.174 1.803-3.942 4.018-3.942s4.018 1.768 4.018 3.942v3.941Z"
                fill="#946B1C"
              />
            </svg>
            <p>
              This content is only available for the following members:
              Influencer, Influence, Profile, ProfilePlus and Individual
              Members.
            </p>
          </div>
          <div class="gated-content-cta__content">
            <h2>Please Sign In To Continue</h2>
            <p>
              This content is available only to registered members of the
              Toronto Board of Trade. If you're a member, please log in to
              continue reading.
            </p>
            <a class="btn btn-primary" href="/">Member Login</a>
            <p>Don't have an account? <a href="/">Sign up now</a></p>
          </div>
        </div>
      </div>
      <!-- End BOTWR-40 Gated Content CTA -->
    </div>
  </div>
</section>
