
<section class="t-white">
  <div class="app-main__content  app-main__content--1col">

    <div class="app-main__content-column">



      <div class="headshot  is-full-bio  t-white">

        <h2 class="headshot__headline">Executive Team</h2>

        <div class="headshot__description">
          <p>Fermentum pellentesque in cras dictum. Facilisis faucibus ut at massa. Etiam cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <ul role="list" class="headshot__list">

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">CFO & COO</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>

            <div class="rich-text">
              <p>It is time to shatter the perception that the affordable housing crisis is a looming future risk. As this third and final report in our Housing a Generation of Essential Workers series will illustrate, the housing crisis is already costing our regions billions of dollars annually. The reality is that the current government methodologies for increasing affordable housing won’t get us there alone. We need to accelerate current practices and bring private and public sector partners to the table to help solve this crisis.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
              <p>These higher housing costs harm our economy in a number of ways. Some employers pay a “GTA Wage Premium” to retain workers and account for the higher cost of living compared to other parts of Ontario. For industries that cannot pay the premium – often in the broader public sector – their workers are more likely to leave the region or face a punishing commute. The resulting higher rate of employee turnover forces organizations to pay increased recruitment costs and harms their productivity. In many ways, businesses, their employees and families are already bearing the burden of our region’s collective inaction on workforce housing.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
            </div>
          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary & Corporate Secretary & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>

            <div class="rich-text">
              <p>It is time to shatter the perception that the affordable housing crisis is a looming future risk. As this third and final report in our Housing a Generation of Essential Workers series will illustrate, the housing crisis is already costing our regions billions of dollars annually. The reality is that the current government methodologies for increasing affordable housing won’t get us there alone. We need to accelerate current practices and bring private and public sector partners to the table to help solve this crisis.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
              <p>These higher housing costs harm our economy in a number of ways. Some employers pay a “GTA Wage Premium” to retain workers and account for the higher cost of living compared to other parts of Ontario. For industries that cannot pay the premium – often in the broader public sector – their workers are more likely to leave the region or face a punishing commute. The resulting higher rate of employee turnover forces organizations to pay increased recruitment costs and harms their productivity. In many ways, businesses, their employees and families are already bearing the burden of our region’s collective inaction on workforce housing.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
            </div>

          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>
            <div class="rich-text">
              <p>It is time to shatter the perception that the affordable housing crisis is a looming future risk. As this third and final report in our Housing a Generation of Essential Workers series will illustrate, the housing crisis is already costing our regions billions of dollars annually. The reality is that the current government methodologies for increasing affordable housing won’t get us there alone. We need to accelerate current practices and bring private and public sector partners to the table to help solve this crisis.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
              <p>These higher housing costs harm our economy in a number of ways. Some employers pay a “GTA Wage Premium” to retain workers and account for the higher cost of living compared to other parts of Ontario. For industries that cannot pay the premium – often in the broader public sector – their workers are more likely to leave the region or face a punishing commute. The resulting higher rate of employee turnover forces organizations to pay increased recruitment costs and harms their productivity. In many ways, businesses, their employees and families are already bearing the burden of our region’s collective inaction on workforce housing.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
            </div>
          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>
            <div class="rich-text">
              <p>It is time to shatter the perception that the affordable housing crisis is a looming future risk. As this third and final report in our Housing a Generation of Essential Workers series will illustrate, the housing crisis is already costing our regions billions of dollars annually. The reality is that the current government methodologies for increasing affordable housing won’t get us there alone. We need to accelerate current practices and bring private and public sector partners to the table to help solve this crisis.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
              <p>These higher housing costs harm our economy in a number of ways. Some employers pay a “GTA Wage Premium” to retain workers and account for the higher cost of living compared to other parts of Ontario. For industries that cannot pay the premium – often in the broader public sector – their workers are more likely to leave the region or face a punishing commute. The resulting higher rate of employee turnover forces organizations to pay increased recruitment costs and harms their productivity. In many ways, businesses, their employees and families are already bearing the burden of our region’s collective inaction on workforce housing.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
              <p>This report identifies those costs in the starkest of terms. Nearly $8 billion is being drained out of our economy every year because of housing costs – some of the highest in North America.</p>
            </div>
          </li>

        </ul>

      </div>
      <!-- End BOTWR-72 - Headshot -->


      <!-- Begin BOTWR-72 - Headshot (Large Grid) -->
      <div class="headshot  is-large-grid  t-white">

        <h2 class="headshot__headline">Executive Team</h2>

        <div class="headshot__description">
          <p>Fermentum pellentesque in cras dictum. Facilisis faucibus ut at massa. Etiam cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <ul role="list" class="headshot__list">

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">CFO & COO</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>
          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary & Corporate Secretary & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>
          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>
          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>
          </li>

        </ul>

      </div>
      <!-- End BOTWR-72 - Headshot -->

      <!-- Begin BOTWR-72 - Headshot (Small Grid) -->
      <div class="headshot  is-small-grid  t-white">

        <h2 class="headshot__headline">Executive Team</h2>

        <div class="headshot__description">
          <p>Fermentum pellentesque in cras dictum. Facilisis faucibus ut at massa. Etiam cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <ul role="list" class="headshot__list">

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">CFO & COO</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>
          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary & Corporate Secretary & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>

          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>

          </li>

          <li class="headshot__list-item">
            <div>
              <div class="headshot__image-wrapper">
                <img src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="">
              </div>
              <p class="headshot__name">Brenda Gardiner</p>
              <p class="headshot__title">Chief of Staff & Corporate Secretary</p>
              <p class="headshot__organization">Company Organization</p>
              <div class="headshot__contact-info">
                <p class="headshot__phone">345-654-7899</p>
                <p class="headshot__email"><a href="mailto:name@company.com">name@company.com</a></p>
                <p class="headshot__social"><a href="https://linkedin.com">LinkedIn</a></p>
              </div>
            </div>
            <div class="headshot__cta-link-wrapper">
              <a href="#" class="headshot__cta-link">
                See Full Bio
              </a>
            </div>
          </li>

        </ul>

      </div>
      <!-- End BOTWR-72 - Headshot -->



    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>



