<section class="t-pale-green" style="position: relative">
  <div class="app-main__content app-main__content--1col">
    <div class="app-main__content-column">

      <!-- Begin Collage Hero Banner (Hub) -->
      <div class="hero-banner hero-banner--collage t-pale-green">

        <div class="hero-banner__text-content-wrapper">
          <h1 class="hero-banner__headline">Housing a Generation of Essential Workers</h1>
          <div class="hero-banner__description">
            <p>The Knowledge Creation District has a small geographic footprint, yet an outsized influence on the regional economy.</p>
          </div>
          <div class="hero-banner__cta">
            <a href="#" class="btn btn-primary">Button Text</a>
          </div>
        </div>

        <div class="hero-banner__image-wrapper">
          <img class="hero-banner__image hero-banner__image--1 animate reveal-down" src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt="" />
          <img class="hero-banner__image hero-banner__image--2 animate reveal-down" src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="" />
          <img class="hero-banner__image hero-banner__image--3 animate reveal-down" src="../images/placeholder/placeholder-photo-vertical-2.jpg" alt="" />
        </div>

      </div>
      <!-- End Hub Hero Banner -->

    </div>
    <!-- /app-main__content-column -->
  </div>
  <!-- /.app-main__content -->
</section>
