<section class="">
  <div class="app-main__content app-main__content--1col">
    <div class="app-main__content-column">
      <!--
      DEV NOTES:
      Add the has-image class to the component if an image is present
       -->

      <!-- Begin Sub Hero Banner -->
      <div class="hero-banner hero-banner--square has-image t-pale-orange">

        <div class="hero-banner__text-content-wrapper">

          <div class="hero-banner__eyebrow">
              <p>Eyebrow</p>
          </div>

          <h1 class="hero-banner__headline">Knowledge Creation</h1>

          <div class="hero-banner__description">
            <p>
              The Knowledge Creation District has a small geographic
              footprint, yet an outsized influence on the regional economy.
            </p>
          </div>

          <div class="hero-banner__cta">
            <a href="#" class="btn btn-primary">Button Text</a>
            <div class="hero-banner__cta-pricing">
              <p class="hero-banner__cta-price">
                <strong>$1,299 CAD</strong>
              </p>
              <p class="hero-banner__cta-price-description">
                Member Price: <strong>$899 CAD</strong> (Save $400)
              </p>
            </div>
          </div>
        </div>

        <div class="logo-zone is-inline">
          <p class="logo-zone__headline">Sponsored by</p>
          <ul role="list" class="logo-zone__list">
            <!-- Logo item -->
            <li class="logo-zone__list-item" data-hook="logoZoneItem">
              <a href="#">
                <img
                  src="../images/placeholder/placeholder-logo-horizontal-1.svg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </li>
            <!-- End Logo item -->
            <!-- Logo item -->
            <li class="logo-zone__list-item" data-hook="logoZoneItem">
              <a href="#">
                <img
                  src="../images/placeholder/placeholder-logo-horizontal-2.svg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </li>
            <!-- End Logo item -->
            <!-- Logo item -->
            <li class="logo-zone__list-item" data-hook="logoZoneItem">
              <a href="#">
                <img
                  src="../images/placeholder/placeholder-logo-horizontal-3.svg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </li>
            <!-- End Logo item -->
          </ul>
        </div>

        <!-- if has-image -->
        <img class="hero-banner__image" src="../images/placeholder/placeholder-photo-horizontal-2.jpg" alt=""/>

      </div>
      <!-- End Sub Hero Banner -->
    </div>
    <!-- /app-main__content-column -->
  </div>
  <!-- /.app-main__content -->
</section>
