<section>
  <div class="app-main__content">

    <!-- Begin BOTWR-77 - Homepage Hero -->
    <div class="home-hero-banner">

      <div class="home-hero-banner__content animate fade-in-up-short">
        <h1 class="home-hero-banner__headline">We’re a Catalyst for a Vibrant, Globally Competitive Toronto</h1>
        <div class="home-hero-banner__subtitle">
          <p>Add one strong sentence that conveys the Board’s purpose and impact morbi rhoncus leo viverra.</p>
        </div>
        <a href="/" class="btn btn-hero">Become a member</a>
      </div>

      <div class="home-hero-banner__images">
        <div class="home-hero-banner__images-stacked">
          <div class="animate slide-up animate-delay-2">
            <img src="../images/content/image 1.png" alt="">
          </div>
        </div>

        <div class="home-hero-banner__images-stacked">
          <div class="home-hero-banner__bar home-hero-banner__left-bar   animate fade-in-up">
            <img src="../images/Green-Bar.svg" alt="">
          </div>
          <div class="animate slide-up animate-delay-1">
            <img src="../images/content/image 2.png" alt="">
          </div>
        </div>

        <div class="home-hero-banner__image-center">
          <div class="animate slide-up">
            <img src="../images/content/image 3.png" alt="">
          </div>
        </div>

        <div class="home-hero-banner__images-stacked">
          <div class="overflow-hidden">
            <div class="animate slide-up animate-delay-2">
              <img src="../images/content/image 4.png" alt="">
            </div>
          </div>
          <div class="animate slide-up animate-delay-1">
            <img src="../images/content/image 5.png" alt="">
          </div>
        </div>
        <div class="home-hero-banner__images-stacked-bars">
          <div class="home-hero-banner__bar home-hero-banner__right-bar   animate slide-up-stagger">
            <img src="../images/Blue-Bar.svg" alt="">
          </div>
          <div class="home-hero-banner__bar home-hero-banner__right-bar-group   animate fade-in-up animate-delay-3">
            <img src="../images/Green-Yellow-Bars.svg" alt="">
          </div>
          <div class="animate slide-up animate-delay-2">
            <img src="../images/content/image 6.png" alt="">
          </div>
        </div>
      </div>

    </div>
    <!-- End BOTWR-77 - Homepage Hero -->

  </div> <!-- /.app-main__content -->
</section>
