<section>
  <div class="animate fade-in-up-short">
    <!-- Begin BOTWR-56 - Collage CTA -->
    <div class="home-collage-cta has-logo-zone">
      <div class="app-main__content app-main__content--2col">
        <div class="app-main__content-column">
          <div class="home-collage-cta__content">
            <h2>Quick Info About Us</h2>
            <div class="home-collage-cta__description">
              <p>
                A little more detail about who you are, your purpose, and how
                you support your stakeholders. Why does the TRBOT matter and how
                does your work impact the lives of the Toronto Region business
                community?
              </p>
            </div>
            <a href="/" class="btn btn-secondary-white">Primary CTA</a>
          </div>
        </div>

        <div class="app-main__content-column">
          <div class="home-collage-cta__highlight">
            <div class="home-collage-cta__stat-box">
              <div class="stat-box-container">
                <p class="home-collage-cta__stat">2345678</p>
                <p class="fw-bold">Members</p>
                <p>Sed a facilisis amet lobortis phasellus porttitor.</p>
              </div>
            </div>

            <div class="home-collage-cta__images">
              <div
                class="
                  home-collage-cta__image-wrapper
                  home-collage-cta__image-wrapper--1
                  animate
                  reveal-down
                "
              >
                <div
                  class="home-collage-cta__image-wrapper-inner"
                  style="background-image: url('../images/content/image 7.png')"
                ></div>
              </div>
              <div
                class="
                  home-collage-cta__image-wrapper
                  home-collage-cta__image-wrapper--2
                  animate
                  reveal-down
                "
              >
                <div
                  class="home-collage-cta__image-wrapper-inner"
                  style="background-image: url('../images/content/image 8.png')"
                ></div>
              </div>
              <div
                class="
                  home-collage-cta__image-wrapper
                  home-collage-cta__image-wrapper--3
                  animate
                  reveal-down
                "
              >
                <div
                  class="home-collage-cta__image-wrapper-inner"
                  style="background-image: url('../images/content/image 9.png')"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-main__content app-main__content--1col">
        <div class="app-main__content-column">
          <div class="logo-zone is-inline">
            <p class="logo-zone__headline">
              Our principal sponsors believe in connecting businesses for
              success, today and tomorrow
            </p>
            <ul role="list" class="logo-zone__list">
              <li class="logo-zone__list-item" data-hook="logoZoneItem">
                <a href="#">
                  <img
                    src="../images/placeholder/placeholder-logo-horizontal-1.svg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="logo-zone__list-item" data-hook="logoZoneItem">
                <a href="#">
                  <img
                    src="../images/placeholder/placeholder-logo-horizontal-2.svg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="logo-zone__list-item" data-hook="logoZoneItem">
                <a href="#">
                  <img
                    src="../images/placeholder/placeholder-logo-horizontal-1.svg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="logo-zone__list-item" data-hook="logoZoneItem">
                <a href="#">
                  <img
                    src="../images/placeholder/placeholder-logo-horizontal-2.svg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="logo-zone__list-item" data-hook="logoZoneItem">
                <a href="#">
                  <img
                    src="../images/placeholder/placeholder-logo-horizontal-1.svg"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End BOTWR-56 - Collage CTA -->
  </div>
</section>
