<section>
  <div class="app-main__content app-main__content--1col">
    <!-- Begin BOTWR-67 - Home Program Routing-->
    <div class="home-program-routing overflow-hidden">
      <div class="animate fade-in-up-short">
        <div class="row gx-0 gx-lg-5 gy-3">
          <div class="col-12 col-lg-7">
            <div class="home-program-routing__primary">
              <div class="home-program-routing__content-block t-pale-green">
                <div
                  class="home-program-routing__eyebrow animate slide-in-left"
                >
                  <p>Programs and Networks</p>
                </div>

                <h2 class="home-program-routing__headline">
                  Programs & Networks Overview
                </h2>

                <div class="home-program-routing__description">
                  <p>
                    Feugiat sit bibendum enim nisl, nisl, neque, donec viverra
                    vulputate. Sed placerat morbi suspendisse a, lorem quisque.
                    Pulvinar pellentesque sapien nullam fames nec porttitor. Ac
                    lectus risus.
                  </p>
                </div>

                <div class="home-program-routing__logos">
                  <span
                    ><img
                      src="../images/placeholder/placeholder-logo-horizontal-1.svg"
                      alt="World Trade Center"
                  /></span>
                  <span
                    ><img
                      src="../images/placeholder/placeholder-logo-horizontal-2.svg"
                      alt="Scale Up Institute Toronto"
                  /></span>
                  <span
                    ><img
                      src="../images/placeholder/placeholder-logo-horizontal-1.svg"
                      alt="World Trade Center"
                  /></span>
                  <span
                    ><img
                      src="../images/placeholder/placeholder-logo-horizontal-1.svg"
                      alt="Scale Up Institute Toronto"
                  /></span>
                </div>

                <div class="home-program-routing__footer">
                  <div class="home-program-routing__cta-link-wrapper">
                    <a href="/some-page" class="home-program-routing__cta-link">
                      View Programs & Networks
                    </a>
                  </div>

                  <div class="home-program-routing__image-wrapper">
                    <img src="../images/content/image 10.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-5">
            <div class="home-program-routing__sidebar">
              <div class="home-program-routing__content-block t-pale-blue">
                <div
                  class="home-program-routing__eyebrow animate slide-in-left"
                >
                  <p>Program</p>
                </div>
                <h3>Trade Accelerator Program</h3>
                <div class="home-program-routing__description">
                  <p>
                    An innovative 4-session initiative, designed to accelerate
                    the strategic development of your business and to better
                    prepare you for an expansion into international markets.
                  </p>
                </div>
                <div class="home-program-routing__cta-link-wrapper">
                  <a href="#" class="home-program-routing__cta-link">
                    View Program
                  </a>
                </div>
              </div>

              <div class="home-program-routing__content-block t-pale-orange">
                <div class="home-program-routing__eyebrow">
                  <p>Program</p>
                </div>
                <h3>Young Professionals Network</h3>
                <div class="home-program-routing__description">
                  <p>
                    The program fosters professional development and networking
                    opportunities for Toronto’s future leaders.
                  </p>
                </div>
                <div class="home-program-routing__cta-link-wrapper">
                  <a href="#" class="home-program-routing__cta-link">
                    View Network
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End BOTWR-67 - Home Program Routing-->
  </div>
</section>
