<section class="t-pale-blue">
  <div class="app-main__content  app-main__content--1col">
    <div class="app-main__content-column">


      <!-- Begin BOTWR-215 - Impact Stats -->
      <div class="impact-stats">

        <div class="row">
          <div class="col-12 col-lg-6">

            <h2 class="impact-stats__headline">Our Impact</h2>

            <div class="impact-stats__description">
              <p>With 13,500 Members and 175 years as a catalyst and connector, we provide quality programming and expertise that will help you and your business grow.</p>
            </div>

            <div class="impact-stats__cta-buttons">
              <a href="#" class="btn btn-primary">
                Become a member
              </a>
            </div>

          </div>
          <div class="col-12 col-lg-6 pt-md-5 pt-lg-0">

            <div class="row">

              <div class="col-12 col-md-6 col-lg-12">
                <p class="impact-stats__stat  impact-stats__stat--primary">
                  <span class="impact-stats__stat-number">13.5K</span> <span class="impact-stats__stat-description">Members</span>
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-12">

                <div class="row">
                  <div class="col-12 col-lg-4">
                    <p class="impact-stats__stat">
                      <span class="impact-stats__stat-number">30</span> <span class="impact-stats__stat-description">Partners & Sponsors</span>
                    </p>
                  </div>
                  <div class="col-12 col-lg-4">
                    <p class="impact-stats__stat">
                      <span class="impact-stats__stat-number">250+</span> <span class="impact-stats__stat-description">Events per year</span>
                    </p>
                  </div>
                  <div class="col-12 col-lg-4">
                    <p class="impact-stats__stat">
                      <span class="impact-stats__stat-number">175+</span> <span class="impact-stats__stat-description">Reports</span>
                    </p>
                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>


      </div>


    </div> <!-- /app-main__content-column -->
  </div> <!-- /.app-main__content -->
</section>
