<section class="t-pale-blue">
  <div class="app-main__content app-main__content--1col">
    <div class="app-main__content-column">
      <!-- Begin BOTWR-80 - Logo Zone -->
      <div class="logo-zone is-inline">
        <!-- NOTE: To make inline version, add "is-inline" class to this div  -->

        <p class="logo-zone__headline">Our Principal Sponsors:</p>

        <ul role="list" class="logo-zone__list">
          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-3.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-3.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>
        </ul>
      </div>
      <!-- End BOTWR-80 - Logo Zone -->
    </div>
    <!-- /app-main__content-column -->
  </div>
  <!-- /.app-main__content -->
</section>

<!-- ============================================================================== -->
<!-- NOTE: Section below is just for FED testing  -->

<section class="t-pale-orange">
  <div class="app-main__content app-main__content--1col">
    <div class="app-main__content-column">
      <!-- Begin BOTWR-80 - Logo Zone -->
      <div class="logo-zone">
        <!-- NOTE: To make inline version, add "is-inline" class to this div  -->

        <p class="logo-zone__headline">Our Principal Sponsors:</p>

        <ul role="list" class="logo-zone__list">
          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-3.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-3.svg" loading="lazy" alt="">
            </a>
          </li>
        </ul>
      </div>
      <!-- End BOTWR-80 - Logo Zone -->
    </div>
    <!-- /app-main__content-column -->
  </div>
  <!-- /.app-main__content -->
</section>

<section class="">
  <div class="app-main__content app-main__content--2col">
    <div class="app-main__content-column">Left column...</div>
    <!-- /app-main__content-column -->

    <div class="app-main__content-column">
      <div class="logo-zone">
        <p class="logo-zone__headline">Our Principal Sponsors:</p>
        <ul role="list" class="logo-zone__list">
          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-3.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-3.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt="">
            </a>
          </li>

          <li class="logo-zone__list-item" data-hook="logoZoneItem">
            <a href="#">
              <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /app-main__content-column -->
  </div>
  <!-- /.app-main__content -->
</section>
