<section class="t-pale-purple">
  <div class="app-main__content  app-main__content--1col animate fade-in-up-short">

    <div class="app-main__content-column">

      <!-- BOTWR-55 - Begin Magazine Rack Component -->
      <div class="magazine-rack">

        <div class="row gx-lg-0">
          <div class="col col-12 col-xl-6">

            <div>
              <div class="magazine-rack__eyebrow">
                <p>Magazine Rack</p>
              </div>

              <div class="routing">
                <div class="row gx-lg-0 routing__cards">
                  <div class="col-12 routing__card is-featured" data-hook="routingCard">
                    <div class="routing__card-main">
                      <div class="routing__card-eyebrow">
                        <p>Report</p>
                      </div>
                      <div class="routing__card-image-wrapper">
                        <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="wifi symbol">
                      </div>
                      <a href="/" target="_blank" class="routing__card-title e-arrow-link">Sector Recovery Plans</a>
                      <p class="routing__card-date">June 2021</p>
                    </div>
                    <div class="routing__card-footer">
                      <p>Sponsored by Scotiabank</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- /.col -->

          <div class="col col-12 col-xl-6">

            <div class="magazine-rack__eyebrow   d-none d-xl-block">
              &nbsp;
            </div>

            <div class="routing">

              <div class="row gx-xl-0 routing__cards">

                <div class="col-12 col-md-6 routing__card" data-hook="routingCard">
                  <div class="routing__card-main">
                    <div class="routing__card-eyebrow">
                      <p>Report</p>
                    </div>
                    <div class="routing__card-image-wrapper">
                      <img src="../images/placeholder/placeholder-photo-vertical-2.jpg" alt="wifi symbol">
                    </div>
                    <a href="/" class="routing__card-title e-arrow-link">Picking up Speed: Digital Maturity in Canadian SMEs and Why Increasing it Matters</a>
                    <p class="routing__card-description">From basic needs like office workspace and business insurance to opportunities that develop your skill set and build your network, we’ve got you covered.</p>
                    <p class="routing__card-date">June 2021</p>
                  </div>
                  <div class="routing__card-footer">
                    <p>Sponsored by Ryerson University</p>
                  </div>
                </div>

                <div class="col-12 col-md-6 routing__card" data-hook="routingCard">
                  <div class="routing__card-main">
                    <div class="routing__card-eyebrow">
                      <p>Report</p>
                    </div>
                    <div class="routing__card-image-wrapper">
                      <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="wifi symbol">
                    </div>
                    <a href="/" class="routing__card-title e-arrow-link">Returning To Physical Workplaces</a>
                    <p class="routing__card-date">June 2021</p>
                    <div class="routing__card-member-only-badge">
                      <p>Member only</p>
                    </div>
                  </div>
                  <div class="routing__card-footer">
                    <p>Sponsored by City of Toronto</p>
                  </div>
                </div>

                <div class="col-12 col-md-6 routing__card" data-hook="routingCard">
                  <div class="routing__card-main">
                    <div class="routing__card-eyebrow">
                      <p>Report</p>
                    </div>
                    <!-- <div class="routing__card-image-wrapper">
                      <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="wifi symbol">
                    </div> -->
                    <a href="http://google.com" class="routing__card-title e-arrow-link">Opportunity Knocks: Priority Export Markets For Ontario's High Potential Sectors</a>
                    <p class="routing__card__date">June 2021</p>
                  </div>
                  <div class="routing__card-footer">
                    <p>Sponsored by Western Union</p>
                  </div>
                </div>

                <div class="col-12 col-md-6 routing__card" data-hook="routingCard">
                  <div class="routing__card-main">
                    <div class="routing__card-eyebrow">
                      <p>Report</p>
                    </div>
                    <div class="routing__card-image-wrapper">
                      <img src="../images/placeholder/placeholder-photo-horizontal-1.jpg" alt="wifi symbol">
                    </div>
                    <a href="/" target="_blank" class="routing__card-title e-arrow-link">Sector Recovery Plans</a>
                    <p class="routing__card__date">June 2021</p>
                  </div>
                  <div class="routing__card-footer">
                    <p>Sponsored by Scotiabank</p>
                  </div>
                </div>

              </div>

            </div>

          </div> <!-- /.col -->

        </div>


      </div>

      <!-- BOTWR-55 - End Magazine Rack Component -->

    </div> <!-- /. app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>
