<section class="t-pale-blue">
  <div class="app-main__content app-main__content--1col">
    <div class="app-main__content-column">
      <!-- Begin BOTWR-61 - Partner Profile -->
      <div class="partner-profile">
        <div class="partner-profile__eyebrow">
          <p>Partner Profiles</p>
        </div>

        <h2 class="partner-profile__headline">
          Housing & Affordability in the Greater Toronto Area
        </h2>

        <div class="partner-profile__description">
          <p>
            Fermentum pellentesque placerat lectus sed consectetur ante vitae.
            Morbi rhoncus leo viverra et mi ipsum in cras dictum. Facilisis
            vitae faucibus ut at massa. Etiam mattis at mi duis cursus. Feugiat
            sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed
            placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque
            sapien nullam fames nec porttitor. Ac lectus risus.
          </p>
        </div>

        <ul role="list" class="partner-profile__cards">

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="#" class="partner-profile__card-title e-arrow-link">Air Canada</a>
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="http://google.com" class="partner-profile__card-title e-arrow-link" >Air Canada</a >
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor. Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="#" class="partner-profile__card-title e-arrow-link">Air Canada</a>
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="http://google.com" class="partner-profile__card-title e-arrow-link" >Air Canada</a >
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="#" class="partner-profile__card-title e-arrow-link">Air Canada</a>
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

        </ul>
      </div>
      <!-- End BOTWR-61 - Partner Profile -->
    </div>
  </div>
  <!-- /.app-main__content -->
</section>

<!-- ============================================================================== -->
<!-- NOTE: Section below is just for FED testing  -->

<section class="t-pale-orange">
  <div class="app-main__content app-main__content--2col">
    <div class="app-main__content-column">Left...</div>

    <div class="app-main__content-column">
      <!-- Begin BOTWR-61 - Partner Profile -->
      <div class="partner-profile">
        <div class="partner-profile__eyebrow">
          <p>Partner Profiles</p>
        </div>

        <h2 class="partner-profile__headline">
          Housing & Affordability in the Greater Toronto Area
        </h2>

        <div class="partner-profile__description">
          <p>Fermentum pellentesque placerat lectus sed consectetur ante vitae. Morbi rhoncus leo viverra et mi ipsum in cras dictum. Facilisis vitae faucibus ut at massa. Etiam mattis at mi duis cursus. Feugiat sit bibendum enim nisl, nisl, neque, donec viverra vulputate. Sed placerat morbi suspendisse a, lorem quisque. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.</p>
        </div>

        <ul role="list" class="partner-profile__cards">

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="#" class="partner-profile__card-title e-arrow-link">Air Canada</a>
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="http://google.com" class="partner-profile__card-title e-arrow-link" >Air Canada</a >
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="#" class="partner-profile__card-title e-arrow-link">Air Canada</a>
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="http://google.com" class="partner-profile__card-title e-arrow-link" >Air Canada</a >
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor. Ac lectus risus.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-2.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>

          <li class="partner-profile__card" data-hook="partnerProfileGridItem">
            <div class="partner-profile__card-inner">
              <h3>
                <a href="#" class="partner-profile__card-title e-arrow-link">Air Canada</a>
              </h3>
              <p class="partner-profile__card-description">
                Etiam mattis at mi duis cursus. Pulvinar pellentesque sapien nullam fames nec porttitor.
              </p>
              <div class="partner-profile__card-image-wrapper">
                <img src="../images/placeholder/placeholder-logo-horizontal-1.svg" loading="lazy" alt=""/>
              </div>
            </div>
          </li>


        </ul>
      </div>
      <!-- End BOTWR-61 - Partner Profile -->
    </div>
  </div>
  <!-- /.app-main__content -->
</section>
