<div class="portal-news">

  <h2 class="portal-news__headline">
    <span>Latest News</span>
  </h2>

  <ul role="list" class="portal-news__list">
    <li class="portal-news__item">
      <div class="portal-news__item-inner">
        <p class="portal-news__item-eyebrow"><span>Press Release</span></p>
        <a href="https://google.com" class="portal-news__item-title"
          >Housing Crisis Costs The GTA Up To $7.98 B Annually, New Report
          Shows</a
        >
        <p class="portal-news__item-date">21 Jun 2021</p>
      </div>
    </li>

    <li class="portal-news__item">
      <div class="portal-news__item-inner">
        <p class="portal-news__item-eyebrow"><span>News Release</span></p>
        <a href="#" class="portal-news__item-title"
          >New Campaign From Board Of Trade And City Of Toronto Prepares
          Businesses To Welcome Back Workers, Customers And Visitors</a
        >
        <p class="portal-news__item-date">21 Jun 2021</p>
        <p><span class="portal-news__member-only-badge">Member Only</span></p>
      </div>
    </li>

    <li class="portal-news__item">
      <div class="portal-news__item-inner">
        <p class="portal-news__item-eyebrow"><span>Press Release</span></p>
        <a href="#" class="portal-news__item-title"
          >IESO Gas Phase-Out Impact Assessment</a
        >
        <p class="portal-news__item-date">21 Jun 2021</p>
        <p><span class="portal-news__member-only-badge">Member Only</span></p>
      </div>
    </li>

    <li class="portal-news__item">
      <div class="portal-news__item-inner">
        <p class="portal-news__item-eyebrow"><span>Press Release</span></p>
        <a href="#" class="portal-news__item-title"
          >The City Of Toronto And Toronto Region Board Of Trade To Provide Free
          Rapid Screening Kits To Small Businesses</a
        >
        <p class="portal-news__item-date">21 Jun 2021</p>
        <p><span class="portal-news__member-only-badge">Member Only</span></p>
      </div>
    </li>
  </ul>

  <div class="portal-news__cta-link-wrapper">
    <a href="#" class="portal-resources__cta-link"> See all News </a>
  </div>
</div>
