<div class="portal-roster-activity-bar">

  <h2 class="portal-roster-activity-bar__headline">
    <span>Roster Management</span>
  </h2>


  <div class="portal-roster-activity-bar__inner">

    <div class="row">

      <div class="portal-roster-activity-bar__column--items   col-12 col-md-7">

        <div class="portal-roster-activity-bar__item">
          <p class="portal-roster-activity-bar__item-heading">
            Account Admins
          </p>
          <div class="portal-roster-activity-bar__item-progess-bar" aria-hidden="true">
            <div style="width: 66%;"></div>
          </div>
          <p class="portal-roster-activity-bar__item-description">
            <span>2 of 3 seats assigned</span>
          </p>
        </div>

        <div class="portal-roster-activity-bar__item is-unlimited">
          <p class="portal-roster-activity-bar__item-heading">
            Roster Members
          </p>
          <div class="portal-roster-activity-bar__item-progess-bar" aria-hidden="true">
            <div style="width: 20%;"></div>
          </div>
          <p class="portal-roster-activity-bar__item-description">
            <span>89 of unlimted seats assigned</span>
          </p>
        </div>

      </div>

      <div class="portal-roster-activity-bar__column--cta   col-12 col-md-5">
        <p class="portal-roster-activity-bar__cta">
          Looking to edit and manage Roster information? <a href="#">Manage Roster Information</a>
        </p>
      </div>

    </div>

  </div>

</div>
