<div class="portal-resources">

  <h2 class="portal-resources__headline">
    <span>Latest Resources</span>
  </h2>

  <ul role="list" class="portal-resources__list">
    <li class="portal-resources__item">
      <p class="portal-resources__item-eyebrow"><span>Report</span></p>
      <div class="portal-resources__item-inner">
        <div class="portal-resources__item-image-wrapper">
          <img
            src="../images/placeholder/placeholder-photo-horizontal-1.jpg"
            alt="wifi symbol"
          />
        </div>
        <a href="https://google.com" class="portal-resources__item-title"
          >Housing Crisis Costs The GTA Up To $7.98 B Annually, New Report
          Shows</a
        >
        <p class="portal-resources__item-date">21 Jun 2021</p>
      </div>
    </li>

    <li class="portal-resources__item">
      <p class="portal-resources__item-eyebrow"><span>Report</span></p>
      <div class="portal-resources__item-inner">
        <div class="portal-resources__item-image-wrapper">
          <img
            src="../images/placeholder/placeholder-photo-horizontal-1.jpg"
            alt="wifi symbol"
          />
        </div>
        <a href="#" class="portal-resources__item-title"
          >New Campaign From Board Of Trade And City Of Toronto Prepares
          Businesses To Welcome Back Workers, Customers And Visitors</a
        >
        <p class="portal-resources__item-date">21 Jun 2021</p>
        <p>
          <span class="portal-resources__member-only-badge">Member Only</span>
        </p>
      </div>
    </li>

    <li class="portal-resources__item">
      <p class="portal-resources__item-eyebrow"><span>Report</span></p>
      <div class="portal-resources__item-inner">
        <div class="portal-resources__item-image-wrapper">
          <img
            src="../images/placeholder/placeholder-photo-vertical-1.jpg"
            alt="wifi symbol"
          />
        </div>
        <a href="#" class="portal-resources__item-title"
          >IESO Gas Phase-Out Impact Assessment</a
        >
        <p class="portal-resources__item-date">21 Jun 2021</p>
        <p>
          <span class="portal-resources__member-only-badge">Member Only</span>
        </p>
      </div>
    </li>

    <li class="portal-resources__item">
      <p class="portal-resources__item-eyebrow"><span>Report</span></p>
      <div class="portal-resources__item-inner">
        <div class="portal-resources__item-image-wrapper">
          <img
            src="../images/placeholder/placeholder-photo-horizontal-1.jpg"
            alt="wifi symbol"
          />
        </div>
        <a href="#" class="portal-resources__item-title">The City Of Toronto And Toronto Region Board Of Trade To Provide Free Rapid Screening Kits To Small Businesses</a>
        <p class="portal-resources__item-date">21 Jun 2021</p>
        <p>
          <span class="portal-resources__member-only-badge">Member Only</span>
        </p>
      </div>
    </li>
  </ul>

  <div class="portal-resources__cta-link-wrapper">
    <a href="#" class="portal-resources__cta-link"> See all Resources </a>
  </div>
</div>
