
<!-- <section> -->
  <!-- <div class="app-main__content  app-main__content--1col"> -->
    <!-- <div class="app-main__content-column"> -->

      <div class="portal-announcements" data-hook="portalAnnouncements">

        <h2 class="portal-announcements__headline">
          <span>Announcements</span>
        </h2>

        <ul role="list" class="portal-announcements__list" data-hook="portalAnnouncementsList">
        </ul>

      </div>


    <!-- </div> -->
  <!-- </div> -->
<!-- </section> -->
