
<section class="">
  <div class="app-main__content  app-main__content--1col">

    <div class="app-main__content-column">

      <!-- Begin BOTWR-997 - Product Details -->
      <div class="product-details">

        <h2 class="product-details__headline">Influence Membership</h2>

        <p class="product-details__price">
          <span class="product-details__price-amount">$1,299 CAD</span> <span class="product-details__price-description">+ Applicable Taxes</span>
        </p>

        <p class="product-details__price  product-details__price--members">
          <span class="product-details__price-description">Member price</span> <span class="product-details__price-amount">$1,099 CAD</span> <span class="product-details__price-description">+ Applicable Taxes</span>
        </p>

        <div class="product-details__description">
          <p>Arcu in enim sed integer aliquet. Elit elementum scelerisque sagittis quis. Arcu sem sed amet, adipiscing. Cras sodales a, est bibendum urna, odio fringilla ante dui. Tristique et in quis turpis rhoncus cras.</p>
        </div>

        <div class="product-details__accordion" data-hook="accordionGroupItem">
          <button class="product-details__accordion-title" id="product-details__accordion-title-UNIQUE-ACCORDION-ID" data-hook="accordionGroupItem__title" aria-expanded="false" aria-controls="aproduct-details__accordion-content-UNIQUE-ACCORDION-ID">See Benefits</button>
          <div class="product-details__accordion-content" data-hook="accordionGroupItem__content" id="aproduct-details__accordion-content-UNIQUE-ACCORDION-ID" style="display: none;" role="region" aria-hidden="false" aria-labelledby="product-details__accordion-title-UNIQUE-ACCORDION-ID">
            <p>Arcu in enim sed integer aliquet. Elit elementum scelerisque sagittis quis. Arcu sem sed amet, adipiscing. Cras sodales a, est bibendum urna, odio fringilla ante dui. Tristique et in quis turpis rhoncus cras.</p>
            <ul>
              <li>Arcu in enim sed integer aliquet. Elit elementum scelerisque sagittis quis. Arcu sem sed amet, adipiscing. Cras sodales a, est bibendum urna, odio fringilla ante dui. Tristique et in quis turpis rhoncus cras.</li>
              <li>Elit elementum scelerisque sagittis quis. Bresras sodales a, est bibendum urna, odio fringilla ante dui. Tristique et in quis turpis rhoncus cras.</li>
              <li>Bresras sodales a, est bibendum urna, odio fringilla ante dui. Tristique et in quis turpis rhoncus cras.</li>
              <li>Sodales a, est bibendum urna, odio fringilla ante dui. Tristique et in quis turpis rhoncus cras.</li>
              <li>Tristique et in quis turpis rhoncus cras.</li>
              <li>Brodales a ristique et in quis turpis rhoncus cras.</li>
            </ul>
          </div>
        </div>

        <div class="product-details__cta-buttons">
          <p>You will be asked to log in or create an account before purchasing.</p>
          <a href="#" class="btn btn-primary">Purchase Now</a>
        </div>

      </div>
      <!-- End BOTWR-997 - Product Details -->


    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>






<!-- ============================================================================== -->
<!-- NOTE: Section below is just for FED testing  -->

