<section> <!-- 1 Column - Contains Video Component -->
  <div class="app-main__content  app-main__content--1col">
    
    <div class="app-main__content-column">
      <!-- BOTWR-44 - Video -->
      <div class="video video--vimeo" data-hook="videoComponent" id="video1">

        <iframe width="560" height="315" src="https://player.vimeo.com/video/598879402?h=94949d5330" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>

        <div class="video__transcript" data-hook="videoTranscript">
          <div class="video__transcript-toggle">
            <button aria-expanded="false" data-hook="transcriptToggle" data-transcript="transcript-1"><span class="dynamic-text" data-close-text="Hide" data-show-text="View">View</span> transcript</button>
          </div>
          <div class="video__transcript-content" aria-hidden="true" data-hook="transcriptContent" id="transcript-1">
            <div class="rich-text">
              <p>Hey, hey, hey, hey<br/>
              Tou-tou-tou-tou-touh<br/>
              Piou-piou<br/>
              Tu vois c'que j'veux t'dire ?<br/>
              Han<br/>

              Mon gava, pourquoi tu trembles ? Pourquoi tu tombes ? Tu tiens <br/>plus droit (pourquoi ?)<br/>
              J'dois capter des gens dans la soirée, écris sur mon emploi du <br/>temps (emploi)<br/>
              J'pose des questions dans les toilettes, tu poses des <br/>questions devant moi comme les douaniers, slide<br/>
              Un salaire de cadre sur le poignet, le respect se perd, il a <br/>canné hier (mmh, mmh)<br/>
              J'suis très calme en général de guerre (pouh), toute la <br/>journée ou très tard je sais (garde-à-vous)</p>
            </div>
          </div>
        </div>

      </div>
      <!-- BOTWR-44 - Video -->
    
    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>



<!-- ============================================================================== -->
<!-- NOTE: Section below is just for FED testing  -->

<section> <!-- 2 Column - Contains Video Component -->
  <div class="app-main__content  app-main__content--2col">
    
    <div class="app-main__content-column">

      <!-- BOTWR-44 - Video -->
      <div class="video video--youtube" data-hook="videoComponent" id="video2">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/F4neLJQC1_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="video__transcript" data-hook="videoTranscript">
          <div class="video__transcript-toggle">
            <button aria-expanded="false" data-hook="transcriptToggle" data-transcript="transcript-2"><span class="dynamic-text" data-close-text="Hide" data-show-text="View">View</span> transcript</button>
          </div>
          <div class="video__transcript-content" aria-hidden="true" data-hook="transcriptContent" id="transcript-2">
            <div class="rich-text">
              <p>Hey, hey, hey, hey<br/>
              Tou-tou-tou-tou-touh<br/>
              Piou-piou<br/>
              Tu vois c'que j'veux t'dire ?<br/>
              Han<br/>

              Mon gava, pourquoi tu trembles ? Pourquoi tu tombes ? Tu tiens <br/>plus droit (pourquoi ?)<br/>
              J'dois capter des gens dans la soirée, écris sur mon emploi du <br/>temps (emploi)<br/>
              J'pose des questions dans les toilettes, tu poses des <br/>questions devant moi comme les douaniers, slide<br/>
              Un salaire de cadre sur le poignet, le respect se perd, il a <br/>canné hier (mmh, mmh)<br/>
              J'suis très calme en général de guerre (pouh), toute la <br/>journée ou très tard je sais (garde-à-vous)</p>
            </div>
          </div>
        </div>

      </div>
      <!-- BOTWR-44 - Video -->
    
    </div> <!-- /app-main__content-column -->

  </div> <!-- /.app-main__content -->
</section>
