@mixin slider-button {
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;

  text-align: center;
  line-height: 2.5rem;

  border-radius: 100%;
  border: 1px solid var(--blue--700);

  background: white;

  svg {
    fill: var(--blue--700) !important;
  }

  cursor: pointer;

  &:hover,
  &:focus {
    --swiper-theme-color: var(--neutral--100);
    background-color: var(--blue--700);
    svg {
      fill: var(--neutral--100) !important;
    }
  }

  &:focus {
    @include global-focus-ring;
  }
}

.image-slider {
  --swiper-button-top: 15rem;
  --swiper-navigation-size: 20px;
  --swiper-theme-color: var(--blue--700);

  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;

  .swiper-wrapper {
    z-index: 1;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .figure {
      max-width: 800px;
      // padding: 0 4rem;
    }
  }
}

.image-slider__toggle {
  position: absolute;
  z-index: 1000;

  // Match the distance on swiper-buttons
  top: 10px;
  right: 10px;

  @include slider-button;

  .image-slider__pause,
  .image-slider__play {
    display: none;
  }

  &[data-state="playing"] {
    .image-slider__pause {
      display: inline-block;
    }
  }

  &[data-state="paused"] {
    .image-slider__play {
      display: inline-block;
      padding-left: 0.125rem;
    }
  }
}

// General Swiper overrides
.swiper-pagination {
  position: relative;
  top: auto;
  bottom: auto;
}
.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-button-top);

  @include slider-button;
}
