
#infoBoxModal {
  @include media-breakpoint-down(sm) {
    --bs-modal-margin: 0;
  }
}

.modal-content {
  border: 10px solid var(--blue--700);
  position: relative;
  > .btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1000;
  }
}

.modal-loading {
  position: absolute;
  z-index: 500;
  inset: 0;
  background: white;
  fill: var(--neutral--300);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  svg {
    animation: loading 1500ms linear infinite;
  }
}

.modal[data-loading="true"] {
  .modal-content {
    min-height: 400px;
  }
  .modal-loading {
    display: flex;
  }
  .modal-body,
  .modal-header,
  .modal-header {
    display: none;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
