.separated-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  li {
    position: relative;

    &::after {
      @include global-separator;
    }
  }

  a {
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
  }

  li:last-child {
    &::after {
      display: none;
    }
  }
}
