.logo-zone {
  @include global-component;
}

.logo-zone__headline {
  font-family: $font-family-sans-serif;
  font-size: .9rem;
  font-weight: 700;
  max-width: none;
  padding-top: $spacer;
  text-align: center;
  text-transform: uppercase;
}

.logo-zone__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: $spacer 0 0 0;
}

.logo-zone__list-item {
  background-color: map_get($app-colors, 'neutral--100');
  border: 1px solid map_get($app-colors, 'neutral--200');
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  flex-direction: column;
  padding: $spacer;

  @include media-breakpoint-up(sm) {
    max-width: 33.333333%;
    min-width: 33.333333%;
  }

  @include media-breakpoint-up(md) {
    max-width: 25%;
    min-width: 25%;
  }

  @include media-breakpoint-up(xl) {
    max-width: 20%;
    min-width: 20%;
  }

  .external-link-icon {
    @extend .visually-hidden;
  }

  a {
    display: block;
    padding-bottom: 25%;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(sm) {
      padding-bottom: 70%;
    }
  }

  img {
    left: 50%;
    max-height: 60px;
    max-width: 140px;
    object-fit: contain;
    padding: $spacer * .25;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include media-breakpoint-up(xl) {
      max-width: 150px;
    }
  }

  &:hover {
    border-color: map_get($app-colors, 'neutral--400');
    cursor: pointer;
  }
}

.logo-zone.is-inline {
  @include media-breakpoint-up(lg) {

    .logo-zone__headline {
      text-align: center;
    }

    .logo-zone__list {
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }

    .logo-zone__list-item {
      background-color: transparent;
      border-color: transparent;
      height: auto;
      min-width: 0;
      padding: ($spacer * 1.5) ($spacer * 1.75);

      a {
        display: inline-block;
        padding-bottom: 0;
        position: relative;
        width: initial;
      }

      img {
        height: initial;
        left: initial;
        max-height: 50px;
        max-width: 160px;
        min-height: 40px;
        object-fit: contain;
        padding: 0;
        position: initial;
        top: initial;
        transform: initial;
        width: 100%;
      }


      &:hover {
        opacity: .6;
      }
    }

  }
}


// ============================================================================
// Overides for 2 column
.app-main__content--2col {

  .logo-zone {
    .logo-zone__headline {
      text-align: left;
    }
    .logo-zone__list-item {
      @include media-breakpoint-up(md) {
        max-width: 50%;
        min-width: 50%;
      }
      @include media-breakpoint-up(xl) {
        max-width: 33.333333%;
        min-width: 33.333333%;
      }
      img {
        @include media-breakpoint-up(xl) {
          width: 120px;
        }
      }
    }
  }

}



// ============================================================================
// Overrides pages with sidebar
body.content-has-sidebar {

  .logo-zone__list-item {
    img {
      @include media-breakpoint-up(xl) {
        width: 100px;
      }
    }
  }

}
