h1,
.like-h1 {
  font-family: $font-family-headings;
  font-weight: 600;
  line-height: 1.3;
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 2.625rem;
  }
}

h2,
.like-h2 {
  font-family: $font-family-headings;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.3;

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }
}

h3,
.like-h3 {
  font-family: $font-family-headings;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.3;

  @include media-breakpoint-up(md) {
    font-size: 1.375rem;
  }
}

h4,
.like-h4 {
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}

h5,
.like-h5 {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
  text-transform: uppercase;
}

h6,
.like-h6 {
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3;
  text-transform: uppercase;
}
