// Component
@mixin global-component {
  flex: 1;
  padding: ($spacer * 2) $spacer;

  @include media-breakpoint-up(lg) {
    padding-left: $spacer * 4;
    padding-right: $spacer * 4;
  }
}

@mixin global-component__description {
  line-height: 1.85;
  max-width: 900px;
  padding-bottom: $spacer;

  @include media-breakpoint-up(md) {
    font-size: 1.1em;
    line-height: 1.75;
  }
}

@mixin global-component__cta-buttons {
  .btn {
    margin-top: $spacer * 1.5;
    width: 100%;

    @include media-breakpoint-up(sm) {
      margin-right: $spacer;
      margin-top: $spacer;
      width: auto;
    }
  }
}
