@model Njh.Mvc.Models.Widgets.DonationCtaViewModel
<div class="donation-cta">
    <h2 class="like-h3">@Model.Content</h2>
    <a href="@Model.DonationUrl" class="btn btn-blue--700">@Model.ButtonText</a>
</div>