<section class="subpage__content" id="subpageContent">
  <div class="widget-zone bg bg-neutral--100 has-margin">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <section class="tabs" data-hook="tabs">
            <div class="container">
              <nav
                class="tabs__list"
                role="tablist"
                aria-label=""
                data-hook="tabs__tabList">
                <button
                  class="tabs__trigger"
                  role="tab"
                  type="button"
                  aria-controls="fundraising"
                  aria-selected="true"
                  data-hook="tabs__tabTrigger">
                  Fundraising
                </button>

                <button
                  class="tabs__trigger"
                  role="tab"
                  type="button"
                  aria-controls="professionalEducation"
                  aria-selected="false"
                  data-hook="tabs__tabTrigger">
                  Professional Education
                </button>

                <button
                  class="tabs__trigger"
                  role="tab"
                  type="button"
                  aria-controls="patientEducation"
                  aria-selected="false"
                  data-hook="tabs__tabTrigger">
                  Patient Education
                </button>

                <button
                  class="tabs__trigger"
                  role="tab"
                  type="button"
                  aria-controls="communityEvents"
                  aria-selected="false"
                  data-hook="tabs__tabTrigger">
                  Community Events
                </button>

                <button
                  class="tabs__trigger"
                  role="tab"
                  type="button"
                  aria-controls="walkWithADoc"
                  aria-selected="false"
                  data-hook="tabs__tabTrigger">
                  Walk With a Doc
                </button>
              </nav>

              <div class="tabs__panels">
                <!-- Default all panels to and js will show the correct one on load.-->
                <div
                  id="fundraising"
                  class="tabs__panel"
                  role="tabpanel"
                  aria-hidden="true"
                  data-hook="tabs__panel">
                  <h2>Fundraising</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minus illum quidem incidunt unde recusandae optio, dolorum
                    praesentium non expedita iusto at aliquid harum beatae
                    consequatur deleniti. Cumque ex rem repudiandae.
                  </p>
                </div>

                <div
                  id="professionalEducation"
                  class="tabs__panel"
                  role="tabpanel"
                  aria-hidden="true"
                  data-hook="tabs__panel">
                  <h2>Professional Education</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minus illum quidem incidunt unde recusandae optio, dolorum
                    praesentium non expedita iusto at aliquid harum beatae
                    consequatur deleniti. Cumque ex rem repudiandae.
                  </p>
                </div>

                <div
                  id="patientEducation"
                  class="tabs__panel"
                  role="tabpanel"
                  aria-hidden="true"
                  data-hook="tabs__panel">
                  <h2>Patient Education</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minus illum quidem incidunt unde recusandae optio, dolorum
                    praesentium non expedita iusto at aliquid harum beatae
                    consequatur deleniti. Cumque ex rem repudiandae.
                  </p>
                </div>

                <div
                  id="communityEvents"
                  class="tabs__panel"
                  role="tabpanel"
                  aria-hidden="true"
                  data-hook="tabs__panel">
                  <h2>Community Events</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Minus illum quidem incidunt unde recusandae optio, dolorum
                    praesentium non expedita iusto at aliquid harum beatae
                    consequatur deleniti. Cumque ex rem repudiandae.
                  </p>
                </div>

                <div
                  id="walkWithADoc"
                  class="tabs__panel"
                  role="tabpanel"
                  aria-hidden="true"
                  data-hook="tabs__panel">
                  <h2>Walk With a Doc</h2>
                  <p>
                    Join your doctors on a monthly walk to improve your health,
                    learn about important health topics, and meet new friends
                    interested in improving their health with you.
                  </p>

                  <p>
                    You'll get to spend time with your physicians, get to know
                    them, and ask medical questions in an informal, relaxed, and
                    fun way!
                  </p>

                  <p>More Information on Walk With a Doc</p>

                  <h3 class="mb-0">Upcoming Events</h3>
                  <hr class="mb-5" />

                  <!-- NEW MONTH-->
                  <h4>February</h4>
                  <hr class="mb-5 hr-orange--500" />

                  <!-- START SINGLE EVENT -->
                  <div class="event">
                    <div class="event-date">
                      <time datetime="02-25-2023">
                        <span class="event-date--weekday">Saturday</span>
                        <span class="event-date--day">25</span>
                        <span class="event-data--year">2023</span>
                      </time>
                    </div>
                    <div class="event-content">
                      <h5>8:00 AM Saturday, February 25, 2023</h5>
                      <p>City Park near Thatcher Fountain</p>
                      <p><a href="#">Directions</a></p>

                      <ul role="list">
                        <li>Off of Yale between Monaco and Quebec Streets</li>
                        <li>Meet near the baseball diamond</li>
                        <li>Plenty of free parking</li>
                      </ul>

                      <p>
                        <strong>Topic:</strong> Lifestyle to Help
                        Rheumatoid/Inflammatory Arthritis with Dr. Isabelle
                        Amigues
                      </p>
                      <p><strong>Hosted by:</strong> Andrew M. Freeman, MD</p>
                      <p><a href="#">Add to Calendar</a></p>
                    </div>
                  </div>
                  <!-- END SINGLE EVENT -->

                  <!-- START SINGLE EVENT -->
                  <div class="event">
                    <div class="event-date">
                      <time datetime="02-25-2023">
                        <span class="event-date--weekday">Saturday</span>
                        <span class="event-date--day">25</span>
                        <span class="event-data--year">2023</span>
                      </time>
                    </div>
                    <div class="event-content">
                      <h5>8:00 AM Saturday, February 25, 2023</h5>
                      <p>City Park near Thatcher Fountain</p>
                      <p><a href="#">Directions</a></p>

                      <ul role="list">
                        <li>Off of Yale between Monaco and Quebec Streets</li>
                        <li>Meet near the baseball diamond</li>
                        <li>Plenty of free parking</li>
                      </ul>

                      <p>
                        <strong>Topic:</strong> Lifestyle to Help
                        Rheumatoid/Inflammatory Arthritis with Dr. Isabelle
                        Amigues
                      </p>
                      <p><strong>Hosted by:</strong> Andrew M. Freeman, MD</p>
                      <p><a href="#">Add to Calendar</a></p>
                    </div>
                  </div>
                  <!-- END SINGLE EVENT -->

                  <!-- NEW MONTH-->
                  <h4>March</h4>
                  <hr class="mb-5 hr-orange--500" />

                  <!-- START SINGLE EVENT -->
                  <div class="event">
                    <div class="event-date">
                      <time datetime="02-25-2023">
                        <span class="event-date--weekday">Saturday</span>
                        <span class="event-date--day">03</span>
                        <span class="event-data--year">2023</span>
                      </time>
                    </div>
                    <div class="event-content">
                      <h5>8:00 AM Saturday, March 03, 2023</h5>
                      <p>City Park near Thatcher Fountain</p>
                      <p><a href="#">Directions</a></p>

                      <ul role="list">
                        <li>Plenty of free parking</li>
                      </ul>

                      <p>
                        <strong>Topic:</strong> Lifestyle to Help
                        Rheumatoid/Inflammatory Arthritis with Dr. Isabelle
                        Amigues
                      </p>
                      <p><strong>Hosted by:</strong> Andrew M. Freeman, MD</p>
                      <p><a href="#">Add to Calendar</a></p>
                    </div>
                  </div>
                  <!-- END SINGLE EVENT -->

                  <!-- START SINGLE EVENT -->
                  <div class="event">
                    <div class="event-date">
                      <time datetime="02-25-2023">
                        <span class="event-date--weekday">Saturday</span>
                        <span class="event-date--day">17</span>
                        <span class="event-data--year">2023</span>
                      </time>
                    </div>
                    <div class="event-content">
                      <h5>8:00 AM Saturday, March 17, 2023</h5>
                      <p>City Park near Thatcher Fountain</p>
                      <p><a href="#">Directions</a></p>

                      <ul role="list">
                        <li>Plenty of free parking</li>
                      </ul>

                      <p>
                        <strong>Topic:</strong> Lifestyle to Help
                        Rheumatoid/Inflammatory Arthritis with Dr. Isabelle
                        Amigues
                      </p>
                      <p><strong>Hosted by:</strong> Andrew M. Freeman, MD</p>
                      <p><a href="#">Add to Calendar</a></p>
                    </div>
                  </div>
                  <!-- END SINGLE EVENT -->
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
