<section class="subpage__content" id="subpageContent">
  <img
    src="https://www.nationaljewish.org/NJH/media/img/Locations/Locations-Western-Hematology-Oncology-Hero.jpg?ext=.jpg"
    alt="Header image" />
  <!--- ADDRESS / MAP -->
  <section class="bg bg-purple--500 p-3 p-lg-4 mb-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
          <h2>Western Hemotology Oncology</h2>
          <address class="like-h4">
            400 Indiana Street<br />Golden, CO 80401
          </address>
          <p>Red Rocks Medical Center #230</p>
          <dl>
            <dt>Phone:</dt>
            <dd>(303) 232-0602</dd>
            <dt>Fax:</dt>
            <dd>(303) 988-8750</dd>
            <dt>Hours:</dt>
            <dd>9:00am - 5:00pm Mon - Fri</dd>
          </dl>
          <p></p>
        </div>
        <div class="col">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3068.7719466533417!2d-105.16574378462502!3d39.72230757945198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b847b0ed8994b%3A0x15120b5098782488!2sNational%20Jewish%20Health%20Western%20Hematology-Oncology!5e0!3m2!1sen!2sus!4v1677252792904!5m2!1sen!2sus"
            width="100%"
            height="300px"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="widget-zone has-margin">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <p>
            National Jewish Health Western Hematology-Oncology is a satellite
            location of National Jewish Health in Golden, Colo. We specialize in
            the treatment of cancer and blood disorders. We provide the full
            spectrum of care from cancer screening to cancer diagnosis and
            treatment in the Denver metro area.
          </p>
          <p>
            Patients have access to internationally renowned specialists,
            leading-edge technology and advanced treatments and research.
          </p>
          <h2>Schedule an Appointment</h2>
          <p>
            For patient appointments, please call our location directly at
            303.232.0602.
          </p>
          <p>Office hours are Monday – Friday 9:00 a.m. – 5:00 p.m.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- IMAGE SLIDER / HAS h2...-->
  <section class="image-slider" data-hook="imageSlider" data-autoplay="false">
    <h2>Office Tour</h2>

    <!-- Only load this if autoplay is configured-->
    <button
      class="image-slider__toggle"
      data-state="playing"
      data-hook="imageSlider__toggle">
      <div class="image-slider__pause">
        <span class="visually-hidden">Pause Slider</span>
        <svg
          class="app-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512">
          <path d="M128 64H0V448H128V64zm192 0H192V448H320V64z" />
        </svg>
      </div>

      <div class="image-slider__play">
        <span class="visually-hidden">Play Slider</span>
        <svg
          class="app-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512">
          <path d="M384 256L0 32V480L384 256z" />
        </svg>
      </div>
    </button>

    <div class="swiper" data-hook="imageSlider__swiper">
      <div class="swiper-wrapper">
        <!-- START SINGLE SLIDE  -->
        <div class="swiper-slide">
          <figure class="figure">
            <img
              src="https://www.nationaljewish.org/getattachment/Patients-Visitors/Visiting-Us/locations/Western-Hematology-Oncology/Slider/National-Jewish-Health-Saint-Joseph-Hospital-entrance/Western-Oncology-Buliding-Entrance.jpg.aspx?width=888&height=507&ext=.jpg"
              class="figure-img"
              loading="lazy"
              alt="This is a cool image from Picsum what will it be?"
              width="888"
              height="507" />

            <figcaption class="figure-caption">
              <!-- Rich text can go here -->
              <h3>
                National Jewish Health Western Hematology-Oncology has a
                welcoming lobby for its patients.
              </h3>
            </figcaption>
          </figure>
        </div>
        <!-- END SINGLE SLIDE  -->

        <div class="swiper-slide">
          <figure class="figure">
            <img
              src="https://www.nationaljewish.org/getattachment/Patients-Visitors/Visiting-Us/locations/Western-Hematology-Oncology/Slider/Main-hospital-lobby/Western-Oncology-Building-Sign.jpg.aspx?width=888&height=507&ext=.jpg"
              class="figure-img"
              loading="lazy"
              alt="This is a cool image from Picsum what will it be?"
              width="888"
              height="507" />

            <figcaption class="figure-caption">
              <h3>
                National Jewish Health Western Hematology-Oncology is located at
                Red
              </h3>
            </figcaption>
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="figure">
            <img
              src="https://www.nationaljewish.org/getattachment/Patients-Visitors/Visiting-Us/locations/Western-Hematology-Oncology/Slider/Cystic-fibrosis-patient-room,-complete-with-exercise-equipment-and-wifi/Western-Oncology-Lobby.jpg.aspx?width=888&height=507&ext=.jpg"
              class="figure-img"
              loading="lazy"
              alt="This is a cool image from Picsum what will it be?"
              width="888"
              height="507" />

            <figcaption class="figure-caption">
              <h3>
                National Jewish Health Western Hematology-Oncology has a
                welcoming lobby for its patients.
              </h3>
            </figcaption>
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="figure">
            <img
              src="https://www.nationaljewish.org/getattachment/Patients-Visitors/Visiting-Us/locations/Western-Hematology-Oncology/Slider/Hospital-courtyard-and-garden/Western-Oncology-Chemo-Suite.jpg.aspx?width=888&height=507&ext=.jpg"
              class="figure-img"
              loading="lazy"
              alt="This is a cool image from Picsum what will it be?"
              width="888"
              height="507" />

            <figcaption class="figure-caption">
              <h3>
                Our chemotherapy suite was designed for the comfort of our
                patients during their treatments.
              </h3>
            </figcaption>
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="figure">
            <img
              src="https://www.nationaljewish.org/getattachment/d77e156a-5237-4b24-931e-136c8b4643ab/Western-Oncology-Healing-Garden.jpg.aspx?width=888&height=507&ext=.jpg"
              class="figure-img"
              loading="lazy"
              alt="This is a cool image from Picsum what will it be?"
              width="888"
              height="507" />

            <figcaption class="figure-caption">
              <h3>
                Patients can enjoy our private healing garden while they receive
              </h3>
            </figcaption>
          </figure>
        </div>
      </div>

      <!-- REQUIRED SWIPER STUFF -->
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>

  <!-- COLUMNED LISTS -->
  <h2>Cancer Diagnosis & Treatment</h2>
  <h3 class="like-h4">All adult cancers, including:</h3>
  <ul role="list" class="list-columns list-columns-3">
    <li>Bladder Cancer</li>
    <li>Breast Cancer</li>
    <li>Bone Cancer</li>
    <li>Brain Tumors</li>
    <li>Cervical Cancer</li>
    <li>Colon Cancer</li>
    <li>Esophageal Cancer</li>
    <li>Head &amp; Neck Cancer</li>
    <li>Leukemias</li>
    <li>Lung Cancer</li>
    <li>Lymphomas</li>
    <li>MDS</li>
    <li>Melanoma</li>
    <li>Multiple Myelomas</li>
    <li>Ovarian Cancer</li>
    <li>Pancreatic Cancer</li>
    <li>Prostate Cancer</li>
    <li>Sarcomas</li>
    <li>Uterine Cancer</li>
  </ul>

  <h3 class="like-h4">Hematology</h3>
  <ul role="list" class="list-columns list-columns-3">
    <li>Bladder Cancer</li>
    <li>Breast Cancer</li>
    <li>Bone Cancer</li>
    <li>Brain Tumors</li>
    <li>Cervical Cancer</li>
    <li>Colon Cancer</li>
    <li>Esophageal Cancer</li>
  </ul>
  <hr />
  <h2>Our Services</h2>
  <ul role="list">
    <li>Diagnostic testing</li>
    <li>Blood draws</li>
    <li>Chemotherapy</li>
    <li>Infusions</li>
    <li>Bone marrow biopsies</li>
    <li>Research trials</li>
    <li>Genetic counseling</li>
  </ul>

  <hr />
  <h2>Our Specialists</h2>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 gy-5">
      <div class="col">
        <h3>Providers</h3>
        <ul>
          <li>Sofi Abraham NP</li>
          <li>Robert Kantor, MD</li>
          <li>Mohammed Salhab, MD</li>
          <li>Cheri Seeley, PA</li>
        </ul>
      </div>
      <div class="col">
        <h3>Oncology-Certified Registered Nurses</h3>
        <ul>
          <li>Sofi Abraham NP</li>
          <li>Robert Kantor, MD</li>
          <li>Mohammed Salhab, MD</li>
          <li>Cheri Seeley, PA</li>
          <li>Mohammed Salhab, MD</li>
          <li>Cheri Seeley, PA</li>
          <li>Mohammed Salhab, MD</li>
          <li>Cheri Seeley, PA</li>
        </ul>
      </div>
      <div class="col">
        <h3>Medical Assistants</h3>
        <ul>
          <li>Sofi Abraham NP</li>
          <li>Robert Kantor, MD</li>
          <li>Mohammed Salhab, MD</li>
          <li>Cheri Seeley, PA</li>
          <li>Mohammed Salhab, MD</li>
          <li>Cheri Seeley, PA</li>
        </ul>
      </div>
      <div class="col">
        <h3>Office Staff</h3>
        <ul>
          <li>Sofi Abraham NP</li>
          <li>Robert Kantor, MD</li>
          <li>Mohammed Salhab, MD</li>
          <li>Cheri Seeley, PA</li>
          <li>Sofi Abraham NP</li>
          <li>Robert Kantor, MD</li>
          <li>Mohammed Salhab, MD</li>
          <li>Cheri Seeley, PA</li>
        </ul>
      </div>
    </div>
  </div>
</section>
