<section class="subpage__content" id="subpageContent">
  <h2>Download Patient Education</h2>
  
  <p>
    Anyone can fall, although falls that lead to injury are more common in the
    elderly. Learn ways to prevent falls in your home and outdoors.
  </p>

  <p>
    <strong>Download PDF</strong>:
    <a
      class="DocumentName"
      href="/education-training/patient-education/print-multimedia/materials-printer?nodeId=f93f67f9-079e-4a2b-87ae-4583e46406f5">
      Fall Prevention Tips
    </a>
  </p>

  <p>
    <a href="/health-insights/health-tips/fall-prevention-tips">
      View more information on Fall Prevention Tips
    </a>
  </p>

  <hr />

  <p>National Jewish Health authors free downloadable patient education materials to provide you and your family the information and tools to help manage your disease. They include Understanding Booklets, Med Facts, Test Facts, Medication handouts and more.  </p>
  
  <a href="#" class="btn btn-blue--700">Search Free Education Materials</a>
</section>
