<!-- NJHK13-309 - Patient Classes Content-->
<section class="subpage__content" id="subpageContent">
  
  <!-- Optional Alert -->
  <section class="bg bg-blue--100 p-3 mb-5" role="alert">
    <h2 class="like-h3">In-person Patient Education Classes & Support Groups Temporarily Suspended</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque beatae tempora fugit, asperiores non, natus illo sapiente corrupti assumenda adipisci corporis, perferendis ullam. Dolor dignissimos inventore aliquid quisquam modi laboriosam.</p>
  </section>

  <h2>Details</h2>
  <p>You will learn to identify how muscle tension and mental stress disrupt the breathing process. You will learn various techniques to assist in the relaxation process. These include diaphragmatic breathing, progressive muscle relaxation, visualization skills, and the therapeutic use of hobbies.</p>

  <dl class="mb-5">
    <dt>Time:</dt>
    <dd>2:00pm - 3:00pm</dd>
    <dt>Class Days:</dt>
    <dd>Monday</dd>
    <dt>Location:</dt>
    <dd>Patient Education Room A01b</dd>
  </dl>

  <a href="#" class="btn btn-blue--700-outline">All Adult Classes</a>
</section>