<!-- NJHK13-391 - Physicians Content-->
<section class="subpage__content" id="subpageContent">
  <!-- IMAGE AND DESCRIPTION -->
  <section class="physician-description row mb-3 mb-lg-5 gy-3 gy-lg-5">
    <!-- IMAGE -->
    <div class="col-12 col-lg-4">
      <img
        src="https://www.nationaljewish.org/NJH/media/img/Faculty%20and%20Staff%20Bios/Rafeul-Alam.jpg?ext=.jpg"
        alt="Rafeul Alam, MD" />
    </div>

    <!-- DESCRIPTION -->
    <div class="col-12 col-lg-8">
      <p class="page-blurb">
        Rafeul Alam, MD, is an allergist and immunologist at National Jewish
        Health. Dr. Alam serves as Chief of the Division of Allergy and Clinical
        Immunology.
      </p>
      <!-- ONLY SHOW HR IF PAGE BLURB -->
      <hr />

      <ul
        class="list-unstyled"
        role="list"
        aria-label="Divisions and departments">
        <li>
          <a href="/DIVISION_URL">
            Chief, Division of Allergy & Clinical Immunology
          </a>
        </li>
        <li><a href="/DIVISION_URL">Professor</a></li>
        <li>
          <a href="/DIVISION_URL">
            Veda H. and Chauncey H. Ritter Chair in Immunology
          </a>
        </li>
        <li><a href="/DIVISION_URL"> Department of Medicine </a></li>
        <li>
          <a href="/DIVISION_URL">
            Division of Allergy & Clinical Immunology
          </a>
        </li>
        <li>
          <a href="/DIVISION_URL">
            Best Doctors in America® 2019-2020 — Best Doctors, Inc.
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- SHARE AND RATINGS -->
  <section class="physician-share row justify-content-end mb-3 mb-md-5">
    <div class="col-12 col-lg-8">
      <!-- SHARE -->
      <div class="share-story">
        <a
          href="mailto:?Subject=SUBJECT&amp;Body=Here is the story you requested: PAGE_URL"
          class="btn btn-blue--700-outline btn-sm">
          <svg
            class="app-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path
              d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
          </svg>
          Email Profile
        </a>

        <a
          href="/Print?printpath=PRINT_PATH&amp;printTemplate=PRINT_TEMPLATE"
          target="_blank"
          class="btn btn-blue--700-outline btn-sm">
          <svg
            class="app-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path
              d="M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zm-16-88c-13.3 0-24-10.7-24-24s10.7-24 24-24s24 10.7 24 24s-10.7 24-24 24z" />
          </svg>
          <span>Print Profile</span>
        </a>
      </div>

      <hr />

      <!-- RATINGS-->
      <div class="row align-items-center">
        <div class="col-6">
          <h2 class="like-h5 mb-2">Patient Ratings</h2>
          <div class="metric-rating">
            <img src="/images/stars/1_0.svg" alt="" role="presentation" />
            <img src="/images/stars/1_0.svg" alt="" role="presentation" />
            <img src="/images/stars/1_0.svg" alt="" role="presentation" />
            <img src="/images/stars/1_0.svg" alt="" role="presentation" />
            <img src="/images/stars/0_8.svg" alt="" role="presentation" />
          </div>
          <p class="text-muted">
            <span itemprop="ratingValue">4.8</span>
            out of <span itemprop="bestRating">5</span>
          </p>
        </div>
        <div class="col-6">
          <ul
            class="list-unstyled"
            role="list"
            aria-label="metric-rating details">
            <li>
              <a href="?tab=ratings#patientRatings" class="hide-external-icon">
                89 Patient Ratings
              </a>
            </li>
            <li>
              <a href="?tab=ratings#patientComments" class="hide-external-icon">
                13 Patient Comments
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- TABS -->
  <section class="physician-tabs tabs" data-hook="tabs">
    <div class="container">
      <nav
        class="tabs__list"
        role="tablist"
        aria-label=""
        data-hook="tabs__tabList">
        <button
          class="tabs__trigger"
          role="tab"
          type="button"
          aria-controls="overview"
          aria-selected="true"
          data-hook="tabs__tabTrigger">
          Overview
        </button>

        <button
          class="tabs__trigger"
          role="tab"
          type="button"
          aria-controls="contact"
          aria-selected="false"
          data-hook="tabs__tabTrigger">
          Contact Info & Locations
        </button>

        <button
          class="tabs__trigger"
          role="tab"
          type="button"
          aria-controls="ratings"
          aria-selected="false"
          data-hook="tabs__tabTrigger">
          Patient Ratings & Comments
        </button>
      </nav>

      <div class="tabs__panels">
        <!-- OVERVIEW TAB -->

        <div
          id="overview"
          class="tabs__panel"
          role="tabpanel"
          aria-hidden="true"
          data-hook="tabs__panel">
          <!-- OVERVIEW COLUMN AREA -->
          <div class="row gy-5 mb-5">
            <!-- PROGRAMS AND SERVICES -->

            <div class="col-12 col-md-6">
              <h2 class="like-h3 mb-0">
                <img src="../images/programs.png" role="presentation" alt="" />
                Programs and Services
              </h2>
              <hr class="hr-orange--500" />
              <ul role="list" class="programs-list">
                <li><a href="#">Allergy Treatment Programs (Adult)</a></li>
                <li><a href="#">Allergy Treatment Programs (Pediatric)</a></li>
                <li><a href="#">Day Program (Pediatric)</a></li>
                <li>
                  <a href="#">
                    Division of Allergy and Clinical Immunology (Adult)
                  </a>
                </li>
                <li>
                  <a href="#">
                    Division of Pediatric Allergy & Clinical Immunology
                  </a>
                </li>
                <li class="collapse hide">
                  <a href="#">Eczema Program (Pediatric)</a>
                </li>
                <li class="collapse hide">
                  <a href="#">
                    National Jewish Health for Kids / Pediatric Programs
                  </a>
                </li>
                <li class="collapse hide">
                  <a href="#">Outpatient Clinic (Pediatric)</a>
                </li>
                <li class="collapse hide">
                  <a href="#">Eczema Program (Pediatric)</a>
                </li>
                <li class="collapse hide">
                  <a href="#">
                    National Jewish Health for Kids / Pediatric Programs
                  </a>
                </li>
                <li class="collapse hide">
                  <a href="#">Outpatient Clinic (Pediatric)</a>
                </li>
              </ul>

              <button
                class="btn btn-blue--700-outline btn-sm"
                data-bs-toggle="collapse"
                data-bs-target=".programs-list .collapse"
                aria-expanded="false">
                All Programs and Services
              </button>
            </div>

            <!-- SPECIALTIES AND CONDITIONS -->
            <div class="col-12 col-md-6">
              <h2 class="like-h3 mb-0">
                <img src="../images/briefcase.svg" role="presentation" alt="" />
                Specialties & Conditions
              </h2>
              <hr class="hr-orange--500" />
              <ul role="list" class="specialties-list">
                <li><a href="#">Allergy Treatment Programs (Adult)</a></li>
                <li><a href="#">Allergy Treatment Programs (Pediatric)</a></li>
                <li><a href="#">Day Program (Pediatric)</a></li>
                <li>
                  <a href="#">
                    Division of Allergy and Clinical Immunology (Adult)
                  </a>
                </li>
                <li>
                  <a href="#">
                    Division of Pediatric Allergy & Clinical Immunology
                  </a>
                </li>
                <li class="collapse hide">
                  <a href="#">Eczema Program (Pediatric)</a>
                </li>
                <li class="collapse hide">
                  <a href="#">
                    National Jewish Health for Kids / Pediatric Programs
                  </a>
                </li>
                <li class="collapse hide">
                  <a href="#">Outpatient Clinic (Pediatric)</a>
                </li>
              </ul>

              <button
                class="btn btn-blue--700-outline btn-sm"
                data-bs-toggle="collapse"
                data-bs-target=".specialties-list .collapse"
                aria-expanded="false">
                All Specialties & Conditions
              </button>
            </div>

            <!-- RESEARCH AREAS -->
            <div class="col-12 col-md-6">
              <h2 class="like-h3 mb-0">
                <img src="../images/research.svg" role="presentation" alt="" />
                Research Areas
              </h2>
              <hr class="hr-orange--500" />
              <ul role="list" class="research-list">
                <li><a href="#">Allergy Treatment Programs (Adult)</a></li>
                <li><a href="#">Allergy Treatment Programs (Pediatric)</a></li>
                <li><a href="#">Day Program (Pediatric)</a></li>
                <li>
                  <a href="#">
                    Division of Allergy and Clinical Immunology (Adult)
                  </a>
                </li>
                <li>
                  <a href="#">
                    Division of Pediatric Allergy & Clinical Immunology
                  </a>
                </li>
                <li class="collapse hide">
                  <a href="#">Eczema Program (Pediatric)</a>
                </li>
                <li class="collapse hide">
                  <a href="#">
                    National Jewish Health for Kids / Pediatric Programs
                  </a>
                </li>
                <li class="collapse hide">
                  <a href="#">Outpatient Clinic (Pediatric)</a>
                </li>
              </ul>

              <button
                class="btn btn-blue--700-outline btn-sm"
                data-bs-toggle="collapse"
                data-bs-target=".research-list .collapse"
                aria-expanded="false">
                All Research Areas
              </button>
            </div>
          </div>

          <hr class="mb-5" />

          <!-- SPECIAL INTERESTS -->
          <div class="mb-5">
            <h2>Special Interest</h2>
            <hr class="hr-orange--500" />
            <ol role="list">
              <li>
                Basic Science Research: The major research interest of the
                laboratory are 1) Mechanism of formation of ILC2 memory for
                allergen-associated PAMPs; 2) DNA sensor-driven airway
                neutrophilic inflammation.
              </li>
              <li>
                Translational/Clinical Research: The major interest is to
                identify key cells, pathways and molecules involved in type-2
                (eosinophilic) and non-type-2 (neutrophilic) endotypes of
                asthma.
              </li>
            </ol>
          </div>

          <!-- EDUCATION -->
          <div class="mb-5">
            <h2>Education</h2>
            <hr class="hr-orange--500" />
            <h3>Education</h3>
            <dl>
              <dt>2008 - 2012</dt>
              <dd>Carver College of Medicine (Iowa City/IA), Medical School</dd>
              <dt>2004 - 2008</dt>
              <dd>St. Olaf College (Northfield/MN), Biology</dd>
            </dl>
            <hr class="hr-short" />
            <h3>Residency</h3>
            <dl>
              <dt>2012 - 2016</dt>
              <dd>
                Washington University in St. Louis (Saint Louis/MO), Neurology
                Residency
              </dd>
            </dl>
            <hr class="hr-short" />
            <h3>Fellowship</h3>
            <dl>
              <dt>2016 - 2017</dt>
              <dd>
                Washington University in St. Louis (Saint Louis/MO),
                Neuromuscular Medicine Fellowship
              </dd>
            </dl>
          </div>

          <!-- BOARD CERTIFICATION -->
          <div class="mb-5">
            <h2>Board Certification</h2>
            <hr class="hr-orange--500" />
            <dl>
              <dt>2016</dt>
              <dd>Neurology</dd>
              <dt>2018</dt>
              <dd>Electrodiagnostic medicine</dd>
            </dl>
          </div>

          <!-- PROFESSIONAL MEMBERSHIP -->
          <div class="mb-5">
            <h2>Professional Memberships</h2>
            <hr class="hr-orange--500" />
            <ul role="list" class="list-unstyled">
              <li>American Academy of Neurology</li>
              <li>
                American Academy of Neuromuscular and Electrodiagnostic Medicine
              </li>
              <li>Alpha Omega Alpha</li>
            </ul>
          </div>

          <!-- END OVERIEW TAB -->
        </div>

        <!-- CONTACT TAB -->
        <div
          id="contact"
          class="tabs__panel"
          role="tabpanel"
          aria-hidden="true"
          data-hook="tabs__panel">
          <h2>Ask a Question through Patient Portal</h2>
          <p>
            Sign to your My National Jewish Health patient portal account to
            communicate with your care team, manage appointments. and more.
          </p>

          <h3>Contact Information</h3>
          <ul role="list">
            <li>Office: 877.225.5654</li>
          </ul>

          <h3>Locations</h3>
          <ul role="list">
            <li>
              National Jewish Health Main Campus<br />
              1400 Jackson St.<br />
              Denver, CO 80206
            </li>
          </ul>
        </div>

        <!-- RATINGS TAB -->
        <div
          id="ratings"
          class="tabs__panel"
          role="tabpanel"
          aria-hidden="true"
          data-hook="tabs__panel">
          <h2 id="patientRatings">Patient Ratings</h2>
          <p>
            <img
              src="https://www.nationaljewish.org/NJH/media/static/Press%20Ganey/PG_SEAL_HORIZONTAL_180pW.jpg"
              alt="Data Integrity Press Ganey Certified"
              class="float-end" />
            The Patient metric-rating score is an average of all responses to
            care provider related questions on our independent metric-rating
            system, the Press Ganey Patient Satisfaction Survey. This survey is
            about the patient care experience and does not address crucial
            characteristics like medical decision-making, prescribing the best
            therapy, and patient outcomes.
          </p>
          <p>
            Responses are measured on a scale of 1 to 5, with 5 being the best
            score.
            <a href="#">Learn more about our patient satisfaction survey.</a>
          </p>

          <!-- METRICS / RATINGS -->
          <div class="row metrics mb-5">
            <div class="col-12 col-sm-6 col-lg-4 metric">
              <h3 class="like-h5 mb-0">Provider showed concern</h3>
              <div class="metric-rating">
                <span itemprop="ratingValue"><strong>4.8</strong></span>
                <span class="visually-hidden">
                  out of <span itemprop="bestRating">5</span>
                </span>
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/0_8.svg" alt="" role="presentation" />
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 metric">
              <h3 class="like-h5 mb-0">Provider showed concern</h3>
              <div class="metric-rating">
                <span itemprop="ratingValue"><strong>4.8</strong></span>
                <span class="visually-hidden">
                  out of <span itemprop="bestRating">5</span>
                </span>
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/0_8.svg" alt="" role="presentation" />
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 metric">
              <h3 class="like-h5 mb-0">Provider showed concern</h3>
              <div class="metric-rating">
                <span itemprop="ratingValue"><strong>4.8</strong></span>
                <span class="visually-hidden">
                  out of <span itemprop="bestRating">5</span></span
                >
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/0_8.svg" alt="" role="presentation" />
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 metric">
              <h3 class="like-h5 mb-0">Provider showed concern</h3>
              <div class="metric-rating">
                <span itemprop="ratingValue"><strong>4.5</strong></span>
                <span class="visually-hidden">
                  out of <span itemprop="bestRating">5</span></span
                >
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/0_5.svg" alt="" role="presentation" />
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 metric">
              <h3 class="like-h5 mb-0">Provider showed concern</h3>
              <div class="metric-rating">
                <span itemprop="ratingValue"><strong>4.8</strong></span>
                <span class="visually-hidden">
                  out of <span itemprop="bestRating">5</span></span
                >
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/0_8.svg" alt="" role="presentation" />
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 metric">
              <h3 class="like-h5 mb-0">Provider showed concern</h3>
              <div class="metric-rating">
                <span itemprop="ratingValue"><strong>4.8</strong></span>
                <span class="visually-hidden">
                  out of <span itemprop="bestRating">5</span></span
                >
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/0_8.svg" alt="" role="presentation" />
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 metric">
              <h3 class="like-h5 mb-0">Provider showed concern</h3>
              <div class="metric-rating">
                <span itemprop="ratingValue"><strong>4.8</strong></span>
                <span class="visually-hidden">
                  out of <span itemprop="bestRating">5</span></span
                >
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/1_0.svg" alt="" role="presentation" />
                <img src="/images/stars/0_8.svg" alt="" role="presentation" />
              </div>
            </div>
          </div>

          <!-- COMMENTS -->
          <h2 id="patientComments">Patient Comments</h2>
          <p>
            Comments are collected in our Press Ganey Patient Satisfaction
            Surveys. Patients are de-identified to protect confidentiality and
            patient privacy. Learn more about our patient satisfaction survey.
          </p>

          <ul role="list" class="list-unstyled comments-list">
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li>
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li class="collapse hide">
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li class="collapse hide">
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li class="collapse hide">
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li class="collapse hide">
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li class="collapse hide">
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li class="collapse hide">
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li class="collapse hide">
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
            <li class="collapse hide">
              <p>
                <strong>National Jewish Health Patient</strong> –
                <em>November, 2021</em>
              </p>
              <p>
                Dr Alam is so amazing. He always listens to my concerns,
                discusses all issues thoroughly, and makes me feel like he
                sincerely cares about me as a patient.
              </p>
            </li>
          </ul>

          <button
            class="btn btn-sm btn-blue--700-outline"
            data-bs-toggle="collapse"
            data-bs-target=".comments-list .collapse"
            aria-expanded="false">
            All Comments
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
