<!-- Content -->
<section class="subpage__content" id="subpageContent">
  <!-- Optional Sections -->
  <p class="reviewer-note container">
    <em>
      This information was reviewed and approved by
      <a href="#">Anthony Gerber, MD, PhD</a> (June 2022).
    </em>
  </p>

  <div class="page-blurb container">
    <img alt="Placeholder image" src="https://picsum.photos/400/300" />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo culpa
      laudantium doloremque quae architecto rerum labore aperiam accusantium
      delectus hic voluptatibus doloribus veniam, vitae corrupti. Voluptate
      atque dolor in deleniti!
    </p>
  </div>

  <div class="rich-text container">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
      laboriosam, omnis, fugit soluta deserunt doloremque obcaecati eius
      laudantium distinctio quidem assumenda nulla odit ipsum accusantium
      praesentium consequuntur repudiandae nobis illo.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <!-- NJHK13-367 IMAGE COMPONENT-->
    <!-- Float left example also accepts .float-start -->
    <!-- Also contains an anchor link and no caption -->
    <figure class="figure" style="float: left">
      <a href="https://google.com" title="Link to google">
        <img
          src="https://picsum.photos/400/300"
          class="figure-img"
          loading="lazy"
          alt="This is a cool image from Picsum what will it be?"
          width="400"
          height="300" />
      </a>
    </figure>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <!-- NJHK13-367 IMAGE COMPONENT-->
    <!-- Float left example also accepts style="float: right" -->
    <figure class="figure float-end">
      <a href="https://google.com" title="This also goes to google">
        <img
          src="https://picsum.photos/600/400"
          class="figure-img"
          loading="lazy"
          alt="This is a cool image from Picsum what will it be?"
          width="600"
          height="400" />
      </a>
      <figcaption class="figure-caption">
        This is floated to the right! Amazing.
      </figcaption>
    </figure>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <!-- NJHK13-424 - IMAGE SLIDER --->

    <section class="image-slider" data-hook="imageSlider" data-autoplay="1000">
      <!-- Only load this if autoplay is configured-->
      <button
        class="image-slider__toggle"
        data-state="playing"
        data-hook="imageSlider__toggle">
        <div class="image-slider__pause">
          <span class="visually-hidden">Pause Slider</span>
          <svg
            class="app-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512">
            <path d="M128 64H0V448H128V64zm192 0H192V448H320V64z" />
          </svg>
        </div>

        <div class="image-slider__play">
          <span class="visually-hidden">Play Slider</span>
          <svg
            class="app-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512">
            <path d="M384 256L0 32V480L384 256z" />
          </svg>
        </div>
      </button>

      <div class="swiper" data-hook="imageSlider__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <figure class="figure">
              <img
                src="https://www.nationaljewish.org/getattachment/conditions/Health-Information/Living-with-Chronic-Lung-Disease/Maintaining-Mental-Wellness-with-Chronic-Lung-Disease/Slider/What-is-sarcoidosis/CLD-1.jpg.aspx?lang=en-US&width=888&height=507&ext=.jpg"
                class="figure-img"
                loading="lazy"
                alt="This is a cool image from Picsum what will it be?"
                width="888"
                height="507" />

              <figcaption class="figure-caption">
                <!-- Rich text can go here -->
                <h2>How can chronic lung disease affect your mood?</h2>
                <p>
                  Patients with chronic lung disease often feel limited in what
                  they can enjoy. Perhaps your medication is changing the taste
                  of your favorite food. Perhaps your persistent cough is making
                  you self-conscious in public. Or perhaps your condition is
                  cramping what used to be a more active lifestyle. All of these
                  new challenges can put you at risk for
                  <a
                    href="/conditions/health-information/living-with-chronic-lung-disease/common-feelings">
                    developing anxiety or depression
                  </a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="swiper-slide">
            <figure class="figure">
              <img
                src="https://www.nationaljewish.org/getattachment/conditions/Health-Information/Living-with-Chronic-Lung-Disease/Maintaining-Mental-Wellness-with-Chronic-Lung-Disease/Slider/What-causes-sarcoidosis/2.jpg.aspx?lang=en-us&width=888&height=507&ext=.jpg"
                class="figure-img"
                loading="lazy"
                alt="This is a cool image from Picsum what will it be?"
                width="888"
                height="507" />

              <figcaption class="figure-caption">
                <h2>Why does depression matter?</h2>
                <p>
                  Don’t take feeling down or depressed lightly. If left
                  untreated, the depression from having chronic lung disease can
                  be a problem all by itself, with symptoms ranging from sleep
                  issues to changing appetite and more. These issues can also
                  distract you from your treatment plan, so it’s important to
                  remain vigilant and watch for the warning signs.
                  <a
                    href="/conditions/health-information/health-infographics/depression-quiz">
                    Take our depression quiz.
                  </a>
                </p>
              </figcaption>
            </figure>
          </div>

          <div class="swiper-slide">
            <figure class="figure">
              <img
                src="https://www.nationaljewish.org/getattachment/conditions/Health-Information/Living-with-Chronic-Lung-Disease/Maintaining-Mental-Wellness-with-Chronic-Lung-Disease/Slider/How-many-people-get-sarcoidosis/CLD-3.jpg.aspx?lang=en-US&width=888&height=507&ext=.jpg"
                class="figure-img"
                loading="lazy"
                alt="This is a cool image from Picsum what will it be?"
                width="888"
                height="507" />

              <figcaption class="figure-caption">
                <h2>What are some of the warning signs of depression?</h2>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Accusantium laboriosam sapiente debitis nulla reiciendis nihil
                  tempore qui impedit consequuntur assumenda id ipsum ipsam
                  praesentium nostrum, veritatis labore. Eius, temporibus omnis.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nisi
      quas consequatur recusandae at dolorum quo soluta! Sapiente, voluptate ut!
      Ducimus repellendus ea nulla consectetur aut voluptate quasi sed illum!
    </p>
  </div>

  <section class="tabs" data-hook="tabs">
    <div class="container">
      <nav
        class="tabs__list"
        role="tablist"
        aria-label=""
        data-hook="tabs__tabList">
        <button
          class="tabs__trigger"
          role="tab"
          type="button"
          aria-controls="contact"
          aria-selected="true"
          data-hook="tabs__tabTrigger">
          Tab one
        </button>

        <button
          class="tabs__trigger"
          role="tab"
          type="button"
          aria-controls="about"
          aria-selected="false"
          data-hook="tabs__tabTrigger">
          Tab two
        </button>

        <button
          class="tabs__trigger"
          role="tab"
          type="button"
          aria-controls="tabPanel3"
          aria-selected="false"
          data-hook="tabs__tabTrigger">
          Tab three
        </button>

        <button
          class="tabs__trigger"
          role="tab"
          type="button"
          aria-controls="tabPanel4"
          aria-selected="false"
          data-hook="tabs__tabTrigger">
          Tab four
        </button>
      </nav>

      <div class="tabs__panels">
        <!-- Default all panels to and js will show the correct one on load.-->
        <div
          id="contact"
          class="tabs__panel"
          role="tabpanel"
          aria-hidden="true"
          data-hook="tabs__panel">
          <h2>Contact</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
            illum quidem incidunt unde recusandae optio, dolorum praesentium non
            expedita iusto at aliquid harum beatae consequatur deleniti. Cumque
            ex rem repudiandae.
          </p>
        </div>

        <div
          id="about"
          class="tabs__panel"
          role="tabpanel"
          aria-hidden="true"
          data-hook="tabs__panel">
          <h2>About</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
            illum quidem incidunt unde recusandae optio, dolorum praesentium non
            expedita iusto at aliquid harum beatae consequatur deleniti. Cumque
            ex rem repudiandae.
          </p>
        </div>

        <div
          id="tabPanel3"
          class="tabs__panel"
          role="tabpanel"
          aria-hidden="true"
          data-hook="tabs__panel">
          <h2>Panel Three</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
            illum quidem incidunt unde recusandae optio, dolorum praesentium non
            expedita iusto at aliquid harum beatae consequatur deleniti. Cumque
            ex rem repudiandae.
          </p>
        </div>

        <div
          id="tabPanel4"
          class="tabs__panel"
          role="tabpanel"
          aria-hidden="true"
          data-hook="tabs__panel">
          <h2>Panel Four</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
            illum quidem incidunt unde recusandae optio, dolorum praesentium non
            expedita iusto at aliquid harum beatae consequatur deleniti. Cumque
            ex rem repudiandae.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- example of a widget zone -->
  <div class="widget-zone has-margin has-padding">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <h2>Widget zone - 2 column 50/50</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            earum, dolorem <a href="#">asperiores rem porro</a>, tempore vitae
            maiores aut sint consequuntur placeat tenetur provident voluptatibus
            perferendis possimus, nisi voluptatem ut excepturi!
          </p>
        </div>
        <div class="col">
          <!-- NJHK13-399 - ACCORDION -->

          <section class="accordion" data-hook="accordion">
            <!-- START SINGLE ACCORDION ITEM -->
            <div
              id="accordion_NODEID"
              class="accordion__item"
              data-hook="accordion__item">
              <header class="accordion__header">
                <!-- TRIGGER -->
                <button
                  id="accordionTrigger_NODEID"
                  class="accordion__trigger"
                  aria-controls="accordionPanel_NODEID"
                  aria-expanded="false"
                  data-hook="accordion__trigger">
                  Laboriosam libero quos quod accusamus?

                  <svg
                    class="app-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      class="accordion__trigger-plus"
                      d="M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z" />
                    <path
                      class="accordion__trigger-minus"
                      d="M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z" />
                  </svg>
                </button>
              </header>

              <!-- Panel -->
              <div
                id="accordionPanel_NODEID"
                class="accordion__panel"
                role="region"
                aria-hidden="true"
                aria-labelledby="accordionTrigger_NODEID"
                data-hook="accordion__panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                  ex exercitationem consequatur ratione veniam, ducimus
                  voluptates beatae similique magnam aperiam dignissimos
                  provident sunt ipsam delectus laboriosam libero quos quod
                  accusamus?
                </p>
              </div>
            </div>
            <!-- END SINGLE ACCORDION ITEM -->

            <div
              id="accordion_2"
              class="accordion__item"
              data-hook="accordion__item">
              <header class="accordion__header">
                <button
                  id="accordionTrigger_2"
                  class="accordion__trigger"
                  aria-controls="accordionPanel_2"
                  aria-expanded="false"
                  data-hook="accordion__trigger">
                  Lorem ipsum dolor sit amet
                  <svg
                    class="app-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      class="accordion__trigger-plus"
                      d="M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z" />
                    <path
                      class="accordion__trigger-minus"
                      d="M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z" />
                  </svg>
                </button>
              </header>

              <div
                id="accordionPanel_2"
                class="accordion__panel"
                role="region"
                aria-hidden="true"
                aria-labelledby="accordionTrigger_2"
                data-hook="accordion__panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                  ex exercitationem consequatur ratione veniam, ducimus
                  voluptates beatae similique magnam aperiam dignissimos
                  provident sunt ipsam delectus laboriosam libero quos quod
                  accusamus?
                </p>
              </div>
            </div>

            <div
              id="accordion_3"
              class="accordion__item"
              data-hook="accordion__item">
              <header class="accordion__header">
                <button
                  id="accordionTrigger_3"
                  class="accordion__trigger"
                  aria-controls="accordionPanel_3"
                  aria-expanded="false"
                  data-hook="accordion__trigger">
                  Exercitationem consequatur ratione veniam ducimus voluptates
                  beatae dignissimos provident sunt!

                  <svg
                    class="app-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      class="accordion__trigger-plus"
                      d="M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z" />
                    <path
                      class="accordion__trigger-minus"
                      d="M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z" />
                  </svg>
                </button>
              </header>

              <div
                id="accordionPanel_3"
                class="accordion__panel"
                role="region"
                aria-hidden="true"
                aria-labelledby="accordionTrigger_3"
                data-hook="accordion__panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                  ex exercitationem consequatur ratione veniam, ducimus
                  voluptates beatae similique magnam aperiam dignissimos
                  provident sunt ipsam delectus laboriosam libero quos quod
                  accusamus?
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <section class="widget-zone has-margin">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <div class="fr-view">
            <h3>50/50 no background</h3>
            <strong>This is for testing 2 Columns</strong> section Lorem Ipsum
            is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of
            <em>type and scra</em>mbled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            <a
              href="https://www.google.com"
              class="is-external-link"
              target="_blank"
              >the 1960s<span class="external-link-icon"
                ><span class="visually-hidden">
                  (Opens in a new window)</span
                ></span
              ></a
            >
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.&nbsp;<br />
            <hr />
            <br />
            <blockquote>This is for testing</blockquote>

            <a href="./elements">
              <span class="btn btn-blue--700">Froala Button</span>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="fr-view">
            <h3>50/50 no background</h3>
            <strong>This is for testing 2 Columns</strong> section Lorem Ipsum
            is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of
            <em>type and scra</em>mbled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            <a
              href="https://www.google.com"
              class="is-external-link"
              target="_blank"
              >the 1960s<span class="external-link-icon"
                ><span class="visually-hidden">
                  (Opens in a new window)</span
                ></span
              ></a
            >
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.&nbsp;<br />
            <hr />
            <br />
            <blockquote>This is for testing</blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="widget-zone has-padding has-margin bg"
    style="--has-background: #812867; --has-color: #ffffff">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <div class="fr-view">
            <h3>Heading</h3>
            <strong>This is for testing 1 Column</strong> section Lorem Ipsum is
            simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of
            <em>type and scra</em>mbled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            <a
              href="https://www.google.com"
              class="is-external-link"
              target="_blank"
              >the 1960s<span class="external-link-icon"
                ><span class="visually-hidden">
                  (Opens in a new window)</span
                ></span
              ></a
            >
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.&nbsp;<br />
            <hr />
            <br />
            <blockquote>This is for testing</blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="widget-zone has-padding has-margin">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <!-- NJHK13-399 - ACCORDION -->

          <section class="accordion" data-hook="accordion">
            <!-- START SINGLE ACCORDION ITEM -->
            <div
              id="accordion_5"
              class="accordion__item"
              data-hook="accordion__item">
              <header class="accordion__header">
                <!-- TRIGGER -->
                <button
                  id="accordionTrigger_5"
                  class="accordion__trigger"
                  aria-controls="accordionPanel_5"
                  aria-expanded="false"
                  data-hook="accordion__trigger">
                  Laboriosam libero quos quod accusamus?

                  <svg
                    class="app-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      class="accordion__trigger-plus"
                      d="M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z" />
                    <path
                      class="accordion__trigger-minus"
                      d="M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z" />
                  </svg>
                </button>
              </header>

              <!-- Panel -->
              <div
                id="accordionPanel_5"
                class="accordion__panel"
                role="region"
                aria-hidden="true"
                aria-labelledby="accordionTrigger_5"
                data-hook="accordion__panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                  ex exercitationem consequatur ratione veniam, ducimus
                  voluptates beatae similique magnam aperiam dignissimos
                  provident sunt ipsam delectus laboriosam libero quos quod
                  accusamus?
                </p>
              </div>
            </div>
            <!-- END SINGLE ACCORDION ITEM -->

            <div
              id="accordion_6"
              class="accordion__item"
              data-hook="accordion__item">
              <header class="accordion__header">
                <button
                  id="accordionTrigger_6"
                  class="accordion__trigger"
                  aria-controls="accordionPanel_6"
                  aria-expanded="false"
                  data-hook="accordion__trigger">
                  Lorem ipsum dolor sit amet
                  <svg
                    class="app-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      class="accordion__trigger-plus"
                      d="M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z" />
                    <path
                      class="accordion__trigger-minus"
                      d="M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z" />
                  </svg>
                </button>
              </header>

              <div
                id="accordionPanel_6"
                class="accordion__panel"
                role="region"
                aria-hidden="true"
                aria-labelledby="accordionTrigger_6"
                data-hook="accordion__panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                  ex exercitationem consequatur ratione veniam, ducimus
                  voluptates beatae similique magnam aperiam dignissimos
                  provident sunt ipsam delectus laboriosam libero quos quod
                  accusamus?
                </p>
              </div>
            </div>

            <div
              id="accordion_7"
              class="accordion__item"
              data-hook="accordion__item">
              <header class="accordion__header">
                <button
                  id="accordionTrigger_7"
                  class="accordion__trigger"
                  aria-controls="accordionPanel_7"
                  aria-expanded="false"
                  data-hook="accordion__trigger">
                  Exercitationem consequatur ratione veniam ducimus voluptates
                  beatae dignissimos provident sunt!

                  <svg
                    class="app-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      class="accordion__trigger-plus"
                      d="M256 80V48H192V80 224H48 16v64H48 192V432v32h64V432 288H400h32V224H400 256V80z" />
                    <path
                      class="accordion__trigger-minus"
                      d="M432 288H400L48 288H16l0-64 32 0 352 0 32 0v64z" />
                  </svg>
                </button>
              </header>

              <div
                id="accordionPanel_7"
                class="accordion__panel"
                role="region"
                aria-hidden="true"
                aria-labelledby="accordionTrigger_7"
                data-hook="accordion__panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                  ex exercitationem consequatur ratione veniam, ducimus
                  voluptates beatae similique magnam aperiam dignissimos
                  provident sunt ipsam delectus laboriosam libero quos quod
                  accusamus?
                </p>
              </div>
            </div>
          </section>

          <div class="fr-view">
            <strong>This is for testing 1 Column</strong> section Lorem Ipsum is
            simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of
            <em>type and scra</em>mbled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            <a
              href="https://www.google.com"
              class="is-external-link"
              target="_blank"
              >the 1960s<span class="external-link-icon"
                ><span class="visually-hidden">
                  (Opens in a new window)</span
                ></span
              ></a
            >
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.&nbsp;<br />
            <hr />
            <br />
            <blockquote>This is for testing</blockquote>
            <section
              class="image-slider"
              data-hook="imageSlider"
              data-autoplay="false">
              <div class="swiper" data-hook="imageSlider__swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <figure class="figure">
                      <img
                        src="https://www.nationaljewish.org/getattachment/conditions/Health-Information/Living-with-Chronic-Lung-Disease/Maintaining-Mental-Wellness-with-Chronic-Lung-Disease/Slider/What-is-sarcoidosis/CLD-1.jpg.aspx?lang=en-US&width=888&height=507&ext=.jpg"
                        class="figure-img"
                        loading="lazy"
                        alt="This is a cool image from Picsum what will it be?"
                        width="888"
                        height="507" />

                      <figcaption class="figure-caption">
                        <!-- Rich text can go here -->
                        <h2>How can chronic lung disease affect your mood?</h2>
                        <p>
                          Patients with chronic lung disease often feel limited
                          in what they can enjoy. Perhaps your medication is
                          changing the taste of your favorite food. Perhaps your
                          persistent cough is making you self-conscious in
                          public. Or perhaps your condition is cramping what
                          used to be a more active lifestyle. All of these new
                          challenges can put you at risk for
                          <a
                            href="/conditions/health-information/living-with-chronic-lung-disease/common-feelings">
                            developing anxiety or depression
                          </a>
                        </p>
                      </figcaption>
                    </figure>
                  </div>

                  <div class="swiper-slide">
                    <figure class="figure">
                      <img
                        src="https://api.lorem.space/image/face?w=400&h=200"
                        class="figure-img"
                        loading="lazy"
                        alt="This is a cool image from Picsum what will it be?"
                        width="400"
                        height="200" />

                      <figcaption class="figure-caption">
                        <h2>Why does depression matter?</h2>
                        <p>
                          Don’t take feeling down or depressed lightly. If left
                          untreated, the depression from having chronic lung
                          disease can be a problem all by itself, with symptoms
                          ranging from sleep issues to changing appetite and
                          more. These issues can also distract you from your
                          treatment plan, so it’s important to remain vigilant
                          and watch for the warning signs.
                          <a
                            href="/conditions/health-information/health-infographics/depression-quiz">
                            Take our depression quiz.
                          </a>
                        </p>
                      </figcaption>
                    </figure>
                  </div>

                  <div class="swiper-slide">
                    <figure class="figure">
                      <img
                        src="https://www.nationaljewish.org/getattachment/conditions/Health-Information/Living-with-Chronic-Lung-Disease/Maintaining-Mental-Wellness-with-Chronic-Lung-Disease/Slider/How-many-people-get-sarcoidosis/CLD-3.jpg.aspx?lang=en-US&width=888&height=507&ext=.jpg"
                        class="figure-img"
                        loading="lazy"
                        alt="This is a cool image from Picsum what will it be?"
                        width="888"
                        height="507" />

                      <figcaption class="figure-caption">
                        <h2>
                          What are some of the warning signs of depression?
                        </h2>
                        <p>
                          Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit. Accusantium laboriosam sapiente debitis nulla
                          reiciendis nihil tempore qui impedit consequuntur
                          assumenda id ipsum ipsam praesentium nostrum,
                          veritatis labore. Eius, temporibus omnis.
                        </p>
                      </figcaption>
                    </figure>
                  </div>
                </div>

                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </section>

            <!-- NJHK13-367 IMAGE COMPONENT-->
            <figure class="figure">
              <img
                src="https://picsum.photos/1050/500"
                class="figure-img"
                loading="lazy"
                alt="This is a cool image from Picsum what will it be?"
                width="1050"
                height="500" />
              <figcaption class="figure-caption">
                This puppy is super wide
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
